[2020-11-26 19:00] mehdok commented on #165
Hi @tanvish99
Thank you for opening an issue and sorry that I missed your post.

Do you means `Push Notification` by firebase?
Can you share some code?

[2020-11-26 19:02] mehdok commented on #158
Hi Guys,
Thank you for opening an issue and sorry that I have missed your posts;

@bhanuka96
Please share a working example of what you are referring to, so I can check it out;

[2020-11-26 19:03] bhanuka96 commented on #158
@mehdok I updated my code

[2020-11-26 19:06] bhanuka96 commented on #158
[code]

[2020-11-26 19:19] mehdok commented on #158
@bhanuka96
Thank you for sharing the code, it's really hard to tell what's wrong just by having this chunk of code. It would be very helpful if you could create a simple working example with this scenario.

[2020-11-27 04:16] bhanuka96 commented on #158
@mehdok Sorry my mistake. not ` IsolateNameServer.registerPortWithName`. I remoe this `await BackgroundLocator.initialize();`, now stream listen is working. I think I want to register firestore callback, like this https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback, how do I find firestore callback?

[2020-11-27 05:01] johnnypramadya commented on #158
Same issue, get exception on ios only.
throw MissingPluginException('No implementation found for method $method on channel $name').
Call this after BackgroundLocator.initialize()  :
await TwilioProgrammableChat._methodChannel.invokeMethod('Channel#join', {'channelSid': _sid});

But its normal if call that before BackgroundLocator.initialize(), any solution please ?

[2020-11-27 05:11] mehdok commented on #158
@bhanuka96
@johnnypramadya

You need to find plugin package name, look into one of it's android file and you can see it; they are usually the same for android and iOS, but it might be different;

[2020-11-27 05:13] bhanuka96 commented on #158
@mehdok Then register like this. Am I right?

[code]

[2020-11-27 06:34] tanvish99 commented on #165
Yes push notification by firebase

[2020-11-27 06:36] mehdok commented on #158
Yes the package is wrong, the right one is `io.flutter.plugins.firebase.cloudfirestore`. You can see it [here](https://github.com/FirebaseExtended/flutterfire/blob/master/packages/cloud_firestore/cloud_firestore/android/build.gradle).

[2020-11-27 07:18] bhanuka96 commented on #158
@mehdok sorry, no luck

if !hasPlugin("io.flutter.plugins.firebase.cloudfirestore") {
            FLTFirebaseFirestorePlugin
                .register(with: registrar(forPlugin: "io.flutter.plugins.firebase.cloudfirestore") as! FlutterPluginRegistrar)
        }

[2020-11-27 07:22] Shub-29 commented on #158
I dont know how this plugin is working in ios.  When I am running the example code in simulator, i am getting the location just for one time.

[2020-11-27 07:24] mehdok commented on #158
@bhanuka96

Does it work?

[2020-11-27 07:24] mehdok commented on #158
@Shub-29

Please open another issue, I don't think this is related to this issue;

[2020-11-27 07:24] bhanuka96 commented on #158
okay

[2020-11-27 07:26] mehdok commented on #158
Okey? I have asked if this new code works for you or  not? :)

[2020-11-27 07:28] bhanuka96 opened #167 "Firestore stream is not listen with background locator"
Firestore stream has not listened with this plugin.

Full Code

[code]

Splash Screen

[code]

Home Page

[code]
Background Locator Service

[code]

[2020-11-27 07:28] Shub-29 opened #168 "Example Code is not working properly in IOS simulator"
The plugin is working good in android devices but when I tried to run in ios simulator, I am just getting the location only for one time. After that it is not working.

[2020-11-27 07:35] mehdok commented on #168
Hi @Shub-29

Thank you for opening an issue;

- Did you gave `always` permission?
- Are you running on simulator?
- Does the example works fine for you?
-It would be nice if you could create a working example of your app for me to check;

[2020-11-27 07:35] mehdok commented on #165
Can you share a working example?

[2020-11-27 07:36] mehdok commented on #167
Why did you opened a new issue? :)

Please create a small repository with your code, so I can run it;

[2020-11-27 07:37] Shub-29 commented on #168
Yes I gave "always" permission and I am running it on simulator.

[2020-11-27 07:43] mehdok commented on #168
Ok, simulator give you just one location, if you want to get new location change the location of simulator; referent to this [answer](https://stackoverflow.com/a/61207399/884076) if you have any problem doing it;

[2020-11-27 07:44] Shub-29 commented on #168
For me, the example works fine in android real devices. But in ios simulators it is not.

[2020-11-27 07:46] Shub-29 commented on #168
The problem is, it is giving location just for once. After that it is not capturing the location. If it would have given the same location every time , I had no problem.

[2020-11-27 07:54] mehdok commented on #168
iOS does not work that way, please referent to my previous answer. iOS give you new location whenever new location is available, it doesn't return same location as android.

[2020-11-27 09:32] mehdok commented on #164
Closing the issue right now. Please feel free to open it anytime or create new one;

[2020-11-27 09:32] #164 closed

[2020-11-27 09:40] Shub-29 commented on #168
Got it. I hope it will work in background also. I will check it and close the issue. Thanks.

[2020-11-27 11:57] #168 closed

[2020-11-27 14:13] bhanuka96 commented on #167
you said open an another issue, that's why I opened it https://github.com/rekab-app/background_locator/issues/158#issuecomment-734687746

[2020-11-27 14:19] bhanuka96 commented on #167
please check this https://github.com/bhanuka96/background-location-flutter.git

[2020-11-28 05:19] mehdok commented on #167
I wasn't with you, I mentioned someone else :))

Thank you for the code, I'll check it out.

[2020-11-28 12:36] mehdok commented on #167
@bhanuka96  I have spend some time on your project and I couldn't figure out what is the problem. I even added `-FIRDebugEnabled` to iOS project to see firebase debug log and everything was normal, but for some unknown reason the listener is not getting triggered. The only temporary solution is to delay initializing the plugin:

[code]

If you find the real problem I would be more than happy to he

[2020-11-28 13:43] bhanuka96 commented on #167
@mehdok I am also tried this. But after init (`await BackgroundLocator.initialize();`), firebase listen not working.

I think this issue related to this https://github.com/FirebaseExtended/flutterfire/issues/4108#issuecomment-734723727

[2020-11-28 21:42] mehdok commented on #167
It seems relevant, I'll keep eye on it and share with you if I found any solution;

ps: We have a `PR` that port this plugin for the Flutter plugin system, It would be nice if you could just test it to see if it fixes your problem or not. It's a wild guess but it worth a shot; #137

[2020-11-29 02:57] johnnypramadya commented on #158
still not working, stream not working after this
`static Future<void> initialize() async {
    final CallbackHandle callback =
        PluginUtilities.getCallbackHandle(callbackDispatcher);
    await _channel.invokeMethod(Keys.METHOD_PLUGIN_INITIALIZE_SERVICE,
        {Keys.ARG_CALLBACK_DISPATCHER: callback.toRawHandle()});
  }`

the question is how to uninitialized that ?

[2020-11-29 06:41] mehdok commented on #158
@johnnypramadya

Please look into #167

[2020-11-29 23:09] Ivaskuu opened #169 "App stops after 5 minutes on Android with the screen turned off"
Hi! First of all, wonderful plugin, thanks to the devs.

Now there is a problem with my app. I am trying to create an activity tracker (running, bicycle...), and I need a background gps tracking system to track user position and speed in the background.

The problem is that after exactly 5 minutes with the screen turned off (a person running will keep their phone in their pocket, with the screen t

[2020-11-30 06:49] mehdok commented on #169
Hi @Ivaskuu
Thank you for opening an issue;

- Does your app work fine when you put it in the background (pressing the home button), what if you terminate it? (removing from recent apps) - (both scenario screen is on)

- Does the example app works fine for you? even when the screen is off?

- Can you create a repo and share a working example of your code?

[2020-11-30 08:12] Ivaskuu commented on #169
@mehdok thanks for such a quick answer!

The app works fine if simply put in background with the screen on, but callback `onReceiveIsolateData` isn't being called anymore, the console only shows a print I've put in the `callback` method.

Now not even the example app works. It has the same problem, after 53 logs it simply stops. I've tried with and without default Android 10 battery optimizations

[2020-11-30 08:44] Ivaskuu commented on #169
@mehdok thanks for such a quick answer!

The app works fine if simply put in background with the screen on, but callback `onReceiveIsolateData` isn't being called anymore, the console only shows a print I've put in the `callback` method. Thinking I did some mistakes or didn't pay enough attention I've cloned the example app, but not even the example app works as expected. It has the same problem,

[2020-11-30 09:02] mehdok commented on #169
It could be the emulator. If you can test the code on a real device we can consider other possibilities;

Usually, we have this problem with Chinese rom on a real device because their buttery monitor is too harsh;

[2020-12-02 01:01] johnnypramadya commented on #158
The stream still doesnt work

`import UIKit
import Flutter
import GoogleMaps
import background_locator
import twilio_programmable_chat
import simple_auth_flutter

func registerPlugins(registry: FlutterPluginRegistry) -> () {
    if (!registry.hasPlugin("BackgroundLocatorPlugin")) {
        GeneratedPluginRegistrant.register(with: registry)
    }
}

@UIApplicationMain
/// <#Description#>
@objc clas

[2020-12-02 20:51] tanvish99 commented on #169
Hi, I'm facing the same problem on the real device i.e the background locator stops after 5 min when the screen is locked.

[2020-12-03 00:57] hordeariibarley opened #170 "Build failed with an exception"
I am receiving the following build error on Android emulator Android 11.0 (Pixel XL API 30).
Does someone know how to solve this?

Console:
[code]

flutter doctor output:
[code]

[2020-12-03 06:11] mehdok commented on #170
Hi @hordeariibarley
Thank you for opening an issue;

Something is not right with this error:
->>> _**Type mismatch**: inferred type is **Looper**? but **Looper** was expected_
It expected `Looper` and it gets `Looper`, same for the rest of the logs;

I'll try to run on Android 11 to see if there is any incompatibility;

If you have any other information or hints please do not hesitate to share it;

[2020-12-03 06:13] mehdok commented on #169
@tanvish99

Does the problem occur only when the screen is turned off?
What if you **kill the app and leave the screen on?** Is everything ok?

[2020-12-03 08:16] tanvish99 commented on #169
Yes the problem is only when the screen is turned off. Everything works fine if the screen is on and the app is killed.
If the app is killed and the screen is turned off it stops working after 5 min but as soon as the phone is unlocked it does all the tasks all at once. I think it stores it in some cache and it updates all at once. Because I'm writing some data to the document in  firebase firesto

[2020-12-03 09:44] mehdok commented on #169
I believe that you have a problem with the battery monitor, please try to exclude the app and it's service from every monitoring process or even pin the app, or change sleep parameters in your phone if it has one;

[2020-12-03 10:05] tanvish99 commented on #169
I checked that too and I tested in several devices and all of them have the same problem.

[2020-12-03 12:48] mehdok commented on #169
I see, I have some free time this weekend and I can check it out. Until then I would be more than happy to see more extra info, suggestion or logs;

[2020-12-03 13:11] moovida commented on #111
Hi, I am also having users that can't work with google services.
I would be able to test this but I need a bit of advise: to test this, can I just pull the master branch and it should work?

[2020-12-03 13:23] mehdok commented on #111
@moovida Thank you for your help.

I have merged this with the master branch but didn't released a new version.
- Download the master branch codes
- Put it in your app directory
- In the `pubspec.yaml` refer to this library as:

[code]

And you should be good to go.

[2020-12-03 13:25] moovida commented on #111
great, I will create a package and send it to the person that has an /e/OS installed phone, It looks like these might be very happy about your fix. Thank you.
I will report back as soon as I have an answer.

[2020-12-03 15:40] moovida commented on #111
@mehdok , I got confirmation that it works 👍

[2020-12-03 15:43] mehdok commented on #111
@moovida Thank you man, that was a great help;

[2020-12-03 15:43] #111 closed

[2020-12-03 23:33] hordeariibarley commented on #167
I'm having the same behavior at my app.
I tried to use StreamBuilder and StreamProvider, but without success on both. (I am emulating on IPhone, I still couldn't try on android).

@bhanuka96 Did you solve it already?

[2020-12-04 00:52] hordeariibarley commented on #170
Thank you for answering so fast and for the plugin!
I've updated targetSdkVersion to 30, uninstalled and installed the emulator, invalided the cache and restarted, but nothing worked.

[2020-12-05 01:57] hordeariibarley commented on #170
@mehdok
I fixed by going to the /kotlin/rekab/app/background_locator and accepting the suggestion from Android Studio.

For the Looper it recommend doing:
[code]

For the String, it recommended a `.toString()` for all errors related to the String.
It works after doing this, it worth a check!

[2020-12-05 06:41] mehdok commented on #170
Thank you for sharing your experience, my Android Studio does not suggest this code :)
It would be nice if you could make a `PR` for this fix;

[2020-12-06 14:31] Husnain-Asharf commented on #169
Hi @mehdok
  - I am facing same problem. It's stop sending location when screen is lock. I tried on emulator and huawei Y9 Prime. Both has same issue.

[2020-12-10 11:03] tanvish99 commented on #165
in the updated version of flutter fcm it is working so I am closing this issue

[2020-12-10 11:04] #165 closed

[2020-12-10 14:24] sspatari commented on #167
This really solve the firebase problem, any idea when will this be pushed to the official repos?

[2020-12-10 20:41] mehdok commented on #167
I believe it's our problem, it would be nice if you ask it in the specified link;

[2020-12-10 23:29] sspatari commented on #144
yeap that's right

[2020-12-12 04:11] zgosalvez commented on #54
@mehdok / @travisjayday, how were you able to verify? I don't think iOS is launching the app in the background after quitting the app. But I can confirm the plugin works if the app is running/background.

[2020-12-12 06:18] mehdok commented on #54
@zgosalvez
You can set the callback to write new locations to shared preferences, then after you kill the app and relaunch it you can see that there are some locations that received when the app was killed;

Besides this, you can see a small arrow in the status bar whenever a new location is coming;

[2020-12-12 06:25] zgosalvez commented on #54
@mehdok, I'll try that. Right now I'm using Console to see if the process is relaunched but it doesn't look like it. I can confirm tho that it subscribe to region monitoring via the logs.
[code]
I set my `distanceFilter` to 1.0 in hopes of getting a log/local notification just by moving around the house. Or should I move farther? The weird thing is, I don't actually have to move when the app is ru

[2020-12-12 06:32] mehdok commented on #54
1-meter distance filter is pretty good, iOS is really accurate in this case;

I'm not sure, but I think iOS will try to conserve energy at least when your app is terminated, so it is normal that you receive less location update in that case;

[2020-12-12 08:18] tanvish99 commented on #169
Is this issue resolved?

[2020-12-12 08:57] mehdok commented on #169
I can not replicate this behavior, so it's not possible for me to fix this problem;
My only suggestion is the sleep time and battery monitor apps;

But if anyone has any useful data or suggestion I would be more than happy to hear it;

[2020-12-13 13:28] Sly2024 opened #171 "App crach on restart"
I use the plugging with the "Stop on app terminate" function.
It works fine but if the app is terminated while the service is still active, I get the following fatal error on restart:
`E/AndroidRuntime( 6559): FATAL EXCEPTION: main
E/AndroidRuntime( 6559): Process: fr.monguide.paris.gratuit, PID: 6559
E/AndroidRuntime( 6559): android.app.RemoteServiceException: Context.startForegroundService() did

[2020-12-17 15:45] Tapuyo opened #172 "getting location updates even when the app is killed not working"
Great job, but i need an update of location even app was killed by user. After killing the app notification was gone too, by the way i use real device on debuging and when i use emulator it is working properly.

[2020-12-17 21:01] sanidhyaagrawal commented on #161
Did you manage to resolve this? I am facing the same :/

[2020-12-20 07:14] idootop commented on #145
same problem on Android 10

[2020-12-22 07:12] Shub-29 opened #173 "Can we get location in ios following a particular time interval?"
So I am trying to use this plugin for capturing location points in our survey app every 10 secs. Is it possible to implement using this plugin? What I have heard that in ios it will give the location every time when it is changed. Can we control this behavior?

[2020-12-23 06:44] mehdok commented on #173
Hi @Shub-29
Thank you for opening an issue

As far as I know, iOS doesn't work with intervals, and it only gives you a new location when it is available.
But I would be more than happy to hear your solution if you found any;

[2020-12-23 06:50] mehdok commented on #161
Hi @sanidhyaagrawal
Thank you for opening an issue.

I think you need to do a check inside `registerWith` to see whether the `FirebaseMEssagingPlugin` is registered or not, then register it;

[2020-12-23 07:05] mehdok commented on #172
Hi @Tapuyo
Thank you for opening an issue.

Usually, the problem with a real device is related to the battery monitor.
Please exclude the app and its service from any battery monitor or power-saving app.

Let me if it's working or not :)

[2020-12-23 10:11] jainsanket77 opened #174 "on background service stop"
[code]

[2020-12-23 10:44] stoneLee81 commented on #170
@mehdok I also face this problem, dose it solved?

[2020-12-23 12:56] mehdok commented on #170
Hi @stoneLee81,

The solution hasn't merged yet.
It would be nice if @hordeariibarley could create a _PR_ with this fix;

[2020-12-23 12:57] mehdok commented on #174
Hi @jainsanket77
Thank you for opening an issue.

It would be nice if you could provide more info;

[2020-12-28 11:37] komape opened #175 "Unhandled Exception: Failed assertion: boolean expression must not be null"
When I invoke `BackgroundLocator.registerLocationUpdate()` the following exception flies:

[code]

Flutter Doctor

[code]

background_locator version: 1.1.11+1

[2020-12-28 11:43] komape commented on #175
The boolean `autoStop` is an optional method parameter. It should either be marked as `@required` or get a default value.

[2020-12-29 19:19] hordeariibarley commented on #170
Hey guys, sorry for not opening the PR yet, but I am a little bit lost on GitHub (I started to learn to code recently).

I am trying to open PR here, but you can quick fix this issue adding (and this build error just happened with targetSdkVersion 30 for me):
1. on `BackgroundLocatorPlugin.kt`
[code]

2. on `IsolateHolderService.kt`
Every line of error I have added a `.toString()`

For example:
[c

[2021-01-03 07:51] ferdinandfrank commented on #169
I can replicate this behavior in my app too, but on my case the background locator already stops after 3 minutes when the screen is locked. On iOS everything is working fine.

@mehdok Might there be a misconfiguration with the specified `AndroidSettings`? My goal was to receive location updates as soon as the location changes by 1 meter.

[code]

[2021-01-03 10:28] K-Rafiki opened #177 "Recording stops after 5 minutes from android oreo"
So, I tried a bunch of devices and it seems that the location service stops recording after 5 minutes whether in foreground or background. However, this only happens in devices over Android Nougat (7). It worked fine on my Nougat and Marshmallow devices, but stopped recording after 5 minutes in devices Oreo and Pie. I haven't tested on android 10 yet tho. Would love if you could fix this issue. I

[2021-01-03 11:22] ferdinandfrank commented on #177
@K-Rafiki This should be the same issue as in https://github.com/rekab-app/background_locator/issues/169.

[2021-01-03 11:38] ferdinandfrank commented on #169
I just checked the example app and it seems like the example is running into the same issues too.

**Steps to reproduce:**
1. Start an emulator running on Android 11.0
![image](https://user-images.githubusercontent.com/19409640/103477403-ef5e6d00-4dbe-11eb-86ab-72cdf2c7b989.png)
2. Clone the example app
3. Run the example app on the emulator
4. Click the "Start" button
5. Grant "Allow all the time

[2021-01-04 05:22] mehdok commented on #174
Closing issue due to leak of information. Feel free to open it when more info is available;

[2021-01-04 05:22] #174 closed

[2021-01-04 05:25] mehdok commented on #170
@hordeariibarley
Thank you for your contribution;

[2021-01-04 05:25] #170 closed

[2021-01-04 05:50] mehdok commented on #172
Closing the issue due to lack of information. Feel free to open it anytime;

[2021-01-04 05:50] #172 closed

[2021-01-04 05:57] mehdok commented on #177
Hi @K-Rafiki
Thank you for opening an issue.
as @ferdinandfrank said, it's a known bug and you can see the solving progress in #169.

[2021-01-04 05:57] #177 closed

[2021-01-04 06:02] mehdok commented on #169
@ferdinandfrank

I don't think that setting could cause this behavior, but it would be nice if you could give it more interval time than zero.

[2021-01-04 06:08] #173 closed

[2021-01-04 06:21] #167 closed

[2021-01-04 06:21] #161 closed

[2021-01-04 06:24] mehdok commented on #158
This problem is related to cloud_firestore. Please look at #167 for the solution;

[2021-01-04 06:24] #158 closed

[2021-01-04 06:28] mehdok commented on #159
Hi @Jparrgam
Thank you for opening an issue.

Did you declare your callback function as a global function? the callback should be global or static to prevent this error;

[2021-01-04 12:48] mehdok commented on #169
@Ivaskuu @tanvish99 @Husnain-Asharf @ferdinandfrank

Thank you all for providing information to solve this bug, please test the latest version and let me know if you have any problem;
Feel free to open this issue anytime;

[2021-01-04 15:31] ferdinandfrank commented on #169
@mehdok Thank you for trying to fix this issue!
Unfortunately it seems like the changes didn't fix the issue. I still have the same issue on the example app.
Did it work for you when you tried to replicate the issue?

Do you need any further information to fix this issue? I would love to help but I am not really that familiar with Android or Kotlin.

[2021-01-05 05:32] mehdok commented on #169
@ferdinandfrank  Yes, the steps you provided are good I successfully replicated the issue, and the link you have provided helped a lot too. apparently, the only necessary changes are to target the latest Android SDK (SDK 30) and add `android:foregroundServiceType = "location"` to the service declaration in the manifest.
[code]

With these changes, the problem for me is fixed.
Please check this and

[2021-01-05 05:35] mehdok commented on #175
@komape
Thank you for opening an issue.

I saw the issue notification and somehow I managed to forget about it :)
Anyway, thanks for your contribution;

[2021-01-05 07:34] ferdinandfrank commented on #169
@mehdok It seems like the issues are gone when I just minimize the app without locking the screen. But when I lock the screen the service stops working after 3 minutes.
It might be just an issue with the emulator. I will test it on a physical device today.

[2021-01-05 10:20] mehdok commented on #169
@ferdinandfrank
Please note that in this situation (when the emulator screen is off) AndroidStudio will stop showing logs after 3 minutes (more or less), but if you open the app you can see that locations are logged properly.

But it would be really nice to test on a real device with Android 10 or 11.

[2021-01-05 11:29] mrcsilverfox commented on #155
@Hisagar Did you setup the AppDelegate.swift?

[2021-01-05 14:32] gianmarcocalbi opened #180 "Example app continues to log positions after having clicked "stop""
As you may notice from the attached screenshot, even though I stopped the example app at 14:58, it continued logging positions.

Oddly the interval between these unexpected positions is much bigger than the one I set, indeed it is 3 or 6 minutes.

![IMAGE 2021-01-05 15:26:48](https://user-images.githubusercontent.com/13722041/103657639-6dab4280-4f6a-11eb-9ed2-c780fcb1919e.jpg)

[2021-01-06 05:42] mehdok commented on #169
@ferdinandfrank
Hmm, you are receiving a bunch of location at the same time, that's really strange.
I'm really out of ideas and I would appreciate any idea or piece of documents that could explain this behavior.

- Can you confirm that this happens only on Android >= 10?
- Does this behavior is happening in all 3 possible states (App minimized, App terminated, the phone screen is off) or some of t

[2021-01-06 05:51] mehdok commented on #180
Hi @gianmarcocalbi
Thank you for opening an issue

- Is this only happens on iOS?
- Is this the example app? If not please share some code.
- Any logs and suggestions would be appreciated.

[2021-01-06 09:22] gianmarcocalbi commented on #180
Hello, thanks for the reply.

- ATM I can try only on iOS (I cannot manage to have android emulator working on Apple Silicon)
- Yes, this is the example app

### Console logs
[code]

### iOS system logs
[code]

[2021-01-06 09:34] ferdinandfrank commented on #169
@mehdok
Thank you very much for analyzing this further!
- I can confirm that this happens only on Android >= 10. Everything seems to work on Android <=9, at least on the emulator.
- The issue only occurs when the phone screen is off. When the screen is on everything works fine, even when the app is minimized or terminated.

[2021-01-06 19:48] siva563 opened #181 "MissingPluginException(No implementation found for method getTemporaryDirectory on channel plugins.flutter.io/path_provider"
Trying to integrate background location reade, I am getting below error:

`MissingPluginException(No implementation found for method getTemporaryDirectory on channel plugins.flutter.io/path_provider`

` [ERROR:flutter/lib/ui/ui_dart_state.cc(177)] Unhandled Exception: MissingPluginException(No implementation found for method getTemporaryDirectory on channel plugins.flutter.io/path_provider)`

[2021-01-06 19:51] siva563 commented on #180
@gianmarcocalbi  I need help. I am getting below error:
`
 [ERROR:flutter/lib/ui/ui_dart_state.cc(177)] Unhandled Exception: MissingPluginException(No implementation found for method getTemporaryDirectory on channel plugins.flutter.io/path_provider)`

[2021-01-06 19:52] siva563 commented on #181
@mehdok  Could you please help me

[2021-01-07 06:08] mehdok commented on #181
Hi @siva563
Thank you for opening an issue;

I think you just forgot to follow documentation for using other plugins, please go to this wiki page, [Use other plugins in callback](https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback) and let me know if you have any other problem;

[2021-01-07 06:10] mehdok commented on #180
@gianmarcocalbi
Thank you for detailed logs, I'll try to replicate this error and will share the result with you;

[2021-01-07 06:14] mehdok commented on #169
@ferdinandfrank
Thank you for the information, I have some free time this weekend to work on this;

[2021-01-07 10:38] siva563 commented on #181
Could you please help, which location i have to create Application file

where this line of code should be placed ?

[code]

[2021-01-07 13:00] mehdok commented on #181
Please look at the example app;

[2021-01-08 09:07] PaulBout1 commented on #159
Hi, I had the same issue.
`background_locator` failed while initializing because I didn't checked if plugins I used was already registerer before registration.
So check your Android `Application.kt`

replace
[code]
override fun registerWith(registry: PluginRegistry?) {
        if (!registry!!.hasPlugin(SharedPreferencesPlugin::class.qualifiedName)) {
            SharedPreferencesPlugin.registerWit

[2021-01-08 15:14] #175 closed

[2021-01-09 14:03] yu3fms commented on #82
Can You please provide code on how You actually use "flutter_local_notifications" plugin in callback?

I am having problems with this plugin in callback (in the "callback" function inside "locations_services_repository.dart"), and only in iOS. It never gets executed and no error is thrown. Otherwise this plugin is working normally anywhere in the app and on Android it is working also in callback.

[2021-01-09 15:30] yu3fms commented on #82
@dacianf Got it working.

There is a difference in code on wiki page https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback and in the AppDelegate.swift code on line 30: https://github.com/rekab-app/background_locator/blob/239a850832766be20036552e81ccd956b1afbbaa/example/ios/Runner/AppDelegate.swift#L30

Adding "as! FlutterPluginRegistrar" resolved my issue and I can us

[2021-01-10 12:29] splangi commented on #145
`result?.success(true)` is never called for both of the method calls.

[2021-01-10 19:05] sanidhyaagrawal commented on #171
I am facing the same issue, were you able to resolve this?

[2021-01-11 08:45] Sly2024 commented on #171
Sadly no.
I tried to modify some part of the plugin but none of the modification worked for me.
If you find a solution, I would be very grateful.

[2021-01-11 09:43] Priyalkothari opened #182 "plugin is working perfectly in Android but in iOS not able to get location data while application is remove from background."

[2021-01-11 18:01] sanidhyaagrawal commented on #171
@mehdok can you please help with this?

Running on POCO F1 device, Failing on SDK version 28 (Android 9) **only**. Tested on various devices with lower SDK versions.

**Code to start-**
if (IsolateNameServer.lookupPortByName(isolateName) != null)
      IsolateNameServer.removePortNameMapping(isolateName);
IsolateNameServer.registerPortWithName(port.sendPort, isolateName);
if (!await BackgroundLoca

[2021-01-11 18:04] sadrohan commented on #171
@mehdok  I have also same issue on my SDK version 25 (Andriod 7.1.1)

[2021-01-11 18:06] sadrohan commented on #171
@mehdok I am also having the same issue plz look into this.

[2021-01-11 18:09] sanidhyaagrawal commented on #171
![WhatsApp Image 2021-01-11 at 12 24 44 AM](https://user-images.githubusercontent.com/48694206/104220906-2dfec200-5466-11eb-8a7c-1da5398f9de5.jpeg)

[2021-01-12 06:01] mehdok commented on #171
Hi guys,

Thank you for opening an issue and participating to provide more info. I'm aware of this bug, but right now I don't have enough time to spend on it;

[2021-01-12 06:06] mehdok commented on #182
Hi @Priyalkothari

- Are you testing the example app? if not please share the code;
- Please share some logs or any data that you think might be useful.

[2021-01-14 06:17] andrewzakhartchouk opened #184 "location_permissions does not exist"
When trying out the example app provided in the package on an Android virtual device, I found that it was not attempting to request location permissions. Manually setting the app's permission in the settings menu fixed the problem.

However checking the code I found that the package location_permissions is non-existent, and thus the related code cannot function.

![image](https://user-images.githu

[2021-01-14 07:48] mehdok commented on #184
HI @andrewzakhartchouk
Thank you for opening an issue;

Did you update the `location permission` package?

[2021-01-14 18:57] WilliamFB opened #185 "No implementation found for io.flutter.view.FlutterCallbackInformation"
I am having the following error, any suggestion?

Fatal Exception: java.lang.UnsatisfiedLinkError: No implementation found for io.flutter.view.FlutterCallbackInformation io.flutter.embedding.engine.FlutterJNI.nativeLookupCallbackInformation(long) (tried Java_io_flutter_embedding_engine_FlutterJNI_nativeLookupCallbackInformation and Java_io_flutter_embedding_engine_FlutterJNI_nativeLookupCallbackIn

[2021-01-15 01:14] andrewzakhartchouk commented on #184
If by updating you mean `pub get`, yes I have. My location_permissions is version ^3.0.0+1.

[2021-01-15 06:57] mehdok commented on #184
By updating, I mean increasing the version of the library;

I'll check this;

[2021-01-15 06:59] mehdok commented on #185
Hi @WilliamFB
Thank you for opening an issue;

Please share some code;

[2021-01-15 12:10] WilliamFB commented on #185
This is the LocatorService.kt of the version i am using, the error occurs on line 81.

![Captura de tela de 2021-01-15 09-03-44](https://user-images.githubusercontent.com/41995692/104725562-054e2500-5711-11eb-8cea-4db53792f2c1.png)

[2021-01-15 12:25] mehdok commented on #185
Did you set the callback in the `initialize` function?

[2021-01-15 12:51] WilliamFB commented on #185
I think so, like this?

![image](https://user-images.githubusercontent.com/41995692/104729060-a095c900-5716-11eb-9455-a9ea2458eba6.png)

My version is at this point:
https://github.com/rekab-app/background_locator/tree/8190a64bbb4968c5ecdf41333234490360e9c12d

[2021-01-15 17:33] mehdok commented on #185
You are  pointing to the library source code, show the usage in your code.
something like this:

[code]

[2021-01-15 18:56] WilliamFB commented on #185
Is this happening because i am calling `startLocator` at the wrong moment? Obs: The crash only happens on a few devices.

![image](https://user-images.githubusercontent.com/41995692/104765963-85dc4800-5748-11eb-8371-b487e2f7ad18.png)
![image](https://user-images.githubusercontent.com/41995692/104766019-9d1b3580-5748-11eb-9705-0947164bee18.png)

[2021-01-16 06:33] mehdok commented on #185
What do you mean by the wrong moment? Are you running the example app?

[2021-01-16 12:59] mehdok commented on #169
I'm working on a permanent solution. But you can set the `interval` to a large number (like 60 seconds), it will solve the problem temporarily;

[2021-01-20 09:49] mehdok commented on #169
@ferdinandfrank
Please check the new version, the problem must be solved;

[2021-01-20 13:24] mehdok commented on #184
I believe this is a `location_permissions ` bug and there is nothing we can do on the library side. All we need is to just get location permission, you are free to use whatever is working for this matter;

[2021-01-21 07:10] #169 closed

[2021-01-21 07:12] mehdok commented on #156
Hi @pkuzco
Thank you for opening an issue and sorry that I forgot to answer;

No, iOS does not have this feature;

[2021-01-21 07:12] #156 closed

[2021-01-21 07:18] mehdok commented on #155
Hi @Hisagar
Thank you for opening an issue;

Please provide a working repository from your code;

[2021-01-21 07:20] mehdok commented on #154
#169

[2021-01-21 07:20] #154 closed

[2021-01-21 07:21] #152 closed

[2021-01-21 07:22] #151 closed

[2021-01-21 07:22] #150 closed

[2021-01-21 09:44] andrewzakhartchouk commented on #184
Thanks for looking into it. Perhaps I misunderstood how the permissions work, because if the app permission is set to 'Denied' then the location_permissions request won't work. Only if it's set to 'Allowed Only While In Use' will it automatically redirect to the app's permission page.

This also applies to the flutter-permission-handler.

My workaround ends up being using the app_settings package

[2021-01-21 09:48] mehdok commented on #184
I don't think you misunderstood something, something definitely has changed, because the default permission status should not be `denied`, I believe it should be `not_determined` or something similar;

Anyway, I would be more than happy to hear again from you and your solution for this problem;

[2021-01-21 10:22] andrewzakhartchouk commented on #184
I can make a pull request for the example app that demonstrates using the app_settings package if you would like.

[2021-01-21 10:24] mehdok commented on #184
I would appreciate it if you do so;

[2021-01-21 14:00] WilliamFB commented on #185
Sorry @mehdok, i didn't want to say "wrong time", let's forget it. I will show some information below;

I am using bg_locator 1.2.2+1 and flutter 1.20.0;

My implementation is like the example, but there are some differences. I will show the differences after the implementation;

This is in my first screen `initState`:

![image](https://user-images.githubusercontent.com/41995692/105356685-7e96bd80

[2021-01-22 07:38] mehdok commented on #185
I'm not sure if this is the problem, but we have to eliminate its possibility :)

Your `callback` function must be `global` or `static`, is it?

[2021-01-22 13:26] WilliamFB commented on #185
The callback is static, but anyway, i will separate the callback in a service. As soon as i know the results i tell you. Thanks!!

[2021-01-22 13:33] mehdok commented on #185
While you are testing, it would be nice if you could test the example app to see if it's working for you or not, if the example app is working and your app doesn't, it would ease the debug process if you create a simple repository with your implementation;

[2021-01-22 17:33] ferdinandfrank commented on #169
@mehdok
You are a hero! It works, thank you for fixing it! :)

[2021-01-24 17:28] marcusmvfa opened #187 "Example with notification Icon"
Please could you share with us an example using notification icon?
I've tried passing complete path to android mipmap, but i had no luck implementing it.

[2021-01-25 22:26] Johan07 commented on #185
Same issue

[2021-01-26 22:09] hasitha3rd commented on #103
I also got the same issue.  somehow the issue was with not initializing backgroundlocator before calling `BackgroundLocator.registerLocationUpdate(...)`

So I make sure IsolateNameServer is registered and service is initialized.
`await BackgroundLocator.initialize();`

then the issue was fixed for me...

[2021-01-27 01:52] Tedsterh opened #188 "App not building at runtime on Android"
Whenever I try to run the app I get a `FAILURE: Build failed with an exception.`

`.pub-cache/hosted/pub.dartlang.org/background_locator-1.4.0+1/android/src/main/kotlin/rekab/app/background_locator/provider/AndroidLocationProviderClient.kt: (13, 1): Class 'AndroidLocationProviderClient' is not abstract and does not implement abstract member @Deprecated public abstract fun onStatusChanged(p0: Strin

[2021-01-27 11:45] marcoheine opened #189 "Android App denied: "Your app is not compliant with Google Play Policies""
I use background_locator and the App was denied. I have to show a Pop-Up with some Infos.
Has anyone already had the same problem and can tell me how and where I can install the PopUp?

[2021-01-27 12:22] mehdok commented on #189
Hi @marcoheine
Thank you for opening an issue.

I think it would be nice to show that dialog before asking `location permission`.

[2021-01-28 00:53] hordeariibarley commented on #189
@marcoheine
This is a new policy of Google and you need to show a dialog warning user that you are going to use background location.
You also need to record the screen of the app the moment this dialog appears, upload the video at YouTube for example and post it on PlayStore (location permission topic).

[2021-01-28 09:08] marcoheine opened #190 "Application.kt - Unresolved reference: LocatorService"
When I want to build my Android-App, I get the following error:

Here is my Application.kt:

[2021-01-28 09:37] marcoheine commented on #190
I have the solution:

OLD: import rekab.app.background_locator.LocatorService

NEW: import rekab.app.background_locator.IsolateHolderService

[2021-01-28 09:37] #190 closed

[2021-01-28 12:54] oligazar commented on #188
same problem here. Tried solutions from here https://stackoverflow.com/questions/55399209/update-flutter-dependencies-in-pub-cache but none of them worked

[2021-01-28 14:26] oligazar commented on #188
@Tedsterh for me changing `compileSdkVersion` from `29` to `30` inside `app/build.gradle` fixed the issue.

[2021-01-29 21:04] Tedsterh commented on #188
@oligazar Cheers! This fixed it for me

[2021-02-02 07:55] terenceponce opened #191 "What is the unit of measure used in Speed?"
Hi, sorry if this seems like a dumb question.

I tried finding it in the source code, but I couldn't find what unit of measurement was used for the Speed field in the LocationDto class. Is it in meters per second?

[2021-02-02 08:23] terenceponce commented on #191
Looks like it is in meters per second according to the documents from their respective native APIs.

[2021-02-02 08:23] #191 closed

[2021-02-02 17:50] marcusmvfa commented on #78
I'm getting this error too!

[2021-02-03 00:42] bayuly94 commented on #185
same issue

[2021-02-03 06:11] Priyalkothari commented on #182
That problem was only for iOS. I have figure out that in iOS all codes are terminated after app closed. But I have another query to solve first. After initializing background locator I am not able to receive firebase push notification in iOS in my app. Is there any setting to change in your plugin so that I can receive notifications for iOS. This problem only occurs in iOS.

[2021-02-04 15:21] WilliamFB opened #192 "Google requestLocationUpdates suited for the foreground use cases"
I notice that the plugin [is using requestLocationUpdates](https://github.com/rekab-app/background_locator/blob/c737ab47cb038f0a79d19cd5865b8042965b0436/android/src/main/kotlin/rekab/app/background_locator/provider/GoogleLocationProviderClient.kt#L21) from Google FusedLocationProviderClient. However the [method documentation states](https://developers.google.com/android/reference/com/google/androi

[2021-02-04 15:35] mehdok commented on #192
Not actually, I changed it in the last commit. Previously I used [requestLocationUpdates](https://developers.google.com/android/reference/com/google/android/gms/location/FusedLocationProviderClient#public-taskvoid-requestlocationupdates-locationrequest-request,-pendingintent-callbackintent) with a `PendingIntent` and `BroadcaseReceiver` to delivering the result. But there was a problem with the ne

[2021-02-04 19:44] sspatari commented on #48
I've solved it by setting it like in the images below
![image](https://user-images.githubusercontent.com/17746926/106946652-0bdd2480-6732-11eb-8f26-5831091e3918.png)
![image](https://user-images.githubusercontent.com/17746926/106946711-21eae500-6732-11eb-8a35-f1764c9e03d2.png)

[2021-02-05 09:30] mehdok commented on #187
This might help

https://github.com/rekab-app/background_locator/issues/48#issuecomment-773559387

[2021-02-05 11:55] venkateshironman opened #193 "Callback method inconsistent both in Android/IOS"
We have configuerd our App with background_locator 1.2.2 + to record the lat/long every 2 mins (once) and then sending it to the backend inside callback method.
But few times its not sending every 2 minutes instead it sends any time between 8 to 15 minutes particularly when the App is in the Background state.
The interesting behavior is during this inconsistent interval time between 8 to 15 mins i

[2021-02-05 13:44] mehdok commented on #193
Hi @venkateshironman

Thank you for opening an issue.

Some people had similar problem with latest version of android, so I have released a new version with a fix.

Please use the latest version of the library (1.4.0), the problem should be solved.

[2021-02-05 14:41] venkateshironman commented on #193
@mehdok Thanks  a ton for quick and prompt response really appreciate it
Is this fix works for IOS as well?
Thank you

[2021-02-05 14:50] mehdok commented on #193
I believe iOS don't have this problem at all.
Do you have any problem with iOS?

[2021-02-05 16:04] venkateshironman commented on #193
@mehdok yes we have found same issue in iOS

[2021-02-05 16:21] marcusmvfa commented on #187
I'll try it, thank you.

[2021-02-05 19:09] mehdok commented on #193
Interesting, it would be nice if you could provide more info, some code, logs, or any useful data that you could think of;

[2021-02-06 03:46] tranice opened #194 "can't stop location service when bring service from background"
Hi, when I take a running service to background by press back button and press notification icon to bring service to foreground , I found can't stop location service even I execute "BackgroundLocator.unRegisterLocationUpdate" serval times.
anyone has same question?

[2021-02-06 06:41] mehdok commented on #194
Hi @tranice

Thank you for opening an issue;

Are you testing the example app? if not please share some code;

[2021-02-06 09:54] terenceponce commented on #133
Is there any updates on this? Would be great to have a solution on this.

[2021-02-08 01:38] Jossnaz opened #195 "In debug, not receiving any location entries on physical device (Android Redmi Note 7, MIUI 12)"
I copied your example over along with the extra files and packages needed to fix all errors from https://github.com/rekab-app/background_locator/tree/master/example/lib

problem is that no entries appear in

Last run: ?

Status: is running

I thought maybe something is off with my gps / location settings but if I enable
mock locations
https://play.google.com/store/apps/details?id=ru.gavrikov.mockl

[2021-02-08 06:54] mehdok commented on #133
Sorry, not yet.

[2021-02-08 12:46] marcoheine commented on #171
Does anyone having a solution for this? @sanidhyaagrawal @sadrohan @Sly2024

[2021-02-09 01:18] Jossnaz commented on #195
just doesn't seem to work.

solution could be for me to switch plugins - this one works after following the steps I outlined:
https://github.com/Lyokone/flutterlocation/issues/502

notice: doing the same steps for the plugin of this repo, doesn't work.

[2021-02-09 01:23] andrewzakhartchouk commented on #195
This might be a permissions issue. If you go to Settings > Location > Give your app the 'Allow all the time' permission. You could reach the permissions by going through the App's settings page too.

Like I mentioned in #184, its possibly due to the permission request not working as desired.

[2021-02-09 03:05] Jossnaz commented on #195
I tried just doing that right now. Doesnt work either. I tried flipping it on and off a couple times.

[code]

[2021-02-09 12:18] daichi000 opened #196 "Firebase.initializeApp does not work in callback"
Hi, I tried this code, but the App crashes
[code]

If except for `await Firebase.initializeApp();`, App doesn’t crash, but firestore doesn't work.
Can you please let me know the possible reason?

[2021-02-10 07:43] hiteshkumartank opened #197 "App killed then open App and click on stop button but service can't stop."
I clicked on start button(service running) after that killed app then open app again, clicked on stop button but service can not stop.
How to stop it.

[2021-02-10 08:16] hiteshkumartank commented on #180
I am facing the same issue, were you able to resolve this?

[2021-02-10 14:02] qwert2603 commented on #185
Adding `FlutterInjector.instance().flutterLoader().ensureInitializationComplete(this, arrayOf())` has helped me.

[2021-02-12 15:21] marcoheine opened #198 "Android Crash: Error from Google Play Console"
Different App-User with Samsung Galaxy XCover4 (Android 9 (SDK 28)) said that the App crashed, but I cant reproduce it. Google Play Console shows me that:

[code]

[2021-02-14 11:08] tranice opened #199 "FATAL EXCEPTION: main ，android.location.LocationListener.onStatusChanged"
I ran test app in HUAWEI P10 (VTR-AL00), when start location and received data, app crashed immediately

code:
========================================
 BackgroundLocator.registerLocationUpdate(LocationCallbackHandler.callback,
              //initCallback: LocationCallbackHandler.initCallback,
              //initDataCallback: data,
/*
        Comment initDataCallback, so service not set init var

[2021-02-14 13:17] tranice commented on #194
Hi @mehdok  I test the example app in Android Emulator - Pixel_2_XL_API_28 and Nokia 7 plus , both  occurs.

[2021-02-14 20:26] nitrostormbcn opened #200 "Is the background permission necessary?"
I've been reading the android documentation and as far as I can tell, the main use of this plugin does notify the user when the location is being recorded and seems to qualify as a Foreground location access.

See here: [https://developer.android.com/training/location/permissions#foreground](https://developer.android.com/training/location/permissions#foreground).

Is there something I am missing?

[2021-02-14 20:47] mehdok commented on #200
Hi @nitrostormbcn
Thank you for opening an issue.

The missing part form your understandings is that the main purpose of this plugin is to be usable when app is in background or even removed from recent list. So with that said, we need the always premission.

If you just want to use location service when your app is in forground, there are some other plugins that can help you with that.

[2021-02-14 20:50] mehdok commented on #194
Thank you @tranice.

I can reproduce this problem, so it is officially a bug;)

Thanks for reporting, will notif you when it is fixed.

[2021-02-15 01:26] tranice commented on #194
@mehdok you are welcome, thanks for your effort ！

[2021-02-15 04:57] khalitovsv opened #201 "Use other plugins in callback not working after upgrading to 1.4.0+1"
When trying **background_locator: ^1.3.2+1** in **pubspec.yaml**, **pub get** command installing **1.4.0+1** version anyway...

[2021-02-15 05:37] mehdok commented on #201
HI @khalitovsv
Thank you for opening a new issue.

`LocatorService` is removed from the recent version. Please refer to the [wiki](https://github.com/rekab-app/background_locator/wiki/Setup) for more info.

[2021-02-15 05:41] khalitovsv commented on #201
Can you update instruction [https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback](url)?

[2021-02-15 06:11] mehdok commented on #201
Thank you for pointing out, It's been updated;

[2021-02-15 09:37] andrezanna commented on #48
this solved my issue

[2021-02-15 16:04] dimas0211 commented on #181
hi, @mehdok
I was trying to do the same as you showed in a 'Use other plugins in callback': https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback

But I receive an error : 'MainActivity.kt: (13, 30): Unresolved reference: setPluginRegistrant'in a line 'IsolateHolderService.setPluginRegistrant(this)'.

I need it to trigger the graphQl mutation while background.
on iOS i

[2021-02-15 16:11] mehdok commented on #181
Did you imported the ‘IsolateHolderSetvice’? You can find the import line in the example app.

[2021-02-15 16:12] dimas0211 commented on #181
Yes, I did.

[2021-02-15 16:30] mehdok commented on #181
As you can see the method that you are looking for is here [setPluginRegistrant](https://github.com/rekab-app/background_locator/blob/c737ab47cb038f0a79d19cd5865b8042965b0436/android/src/main/kotlin/rekab/app/background_locator/IsolateHolderService.kt#L93)

So I’m not sure what is wrong with your code. It would be nice if you could open a new issue and share some code;

[2021-02-16 10:10] dimas0211 opened #202 "Unresolved reference: setPluginRegistrant"
Hi, @mehdok !
I'm trying to use a code in MainActivity.kt:

`
  import io.flutter.app.FlutterApplication
  import io.flutter.plugin.common.PluginRegistry
  import io.flutter.plugin.common.PluginRegistry.PluginRegistrantCallback
  import io.flutter.plugins.pathprovider.PathProviderPlugin
  import io.flutter.view.FlutterMain
  import rekab.app.background_locator.IsolateHolderService

  class Applica

[2021-02-16 11:54] saravananmnm commented on #195
Accessing hidden method Lsun/misc/Unsafe;->compareAndSwapObject(Ljava/lang/Object;JLjava/lang/Object;Ljava/lang/Object;)Z (greylist, linking, allowed)

Same error! inside api call not happens.

[2021-02-16 12:24] marcusmvfa commented on #187
Solved, thanks!!

[2021-02-16 12:24] #187 closed

[2021-02-16 14:02] dimas0211 commented on #181
@mehdok
thanks for a reply!

I opened a new issue and would be happy if you could help me out :)

https://github.com/rekab-app/background_locator/issues/202

[2021-02-17 05:49] mehdok commented on #202
Did you register your `Application` class in the `Manifest` file?

[code]

[2021-02-17 08:44] PaulBout1 commented on #199
everyone is getting that issue. Please take a look at https://github.com/rekab-app/background_locator/issues/188#issuecomment-769092890 and https://github.com/rekab-app/background_locator/issues/190#issuecomment-768926570

[2021-02-17 09:24] dimas0211 commented on #202
I have it as .MainActivity cuz the file name is MainActivity.kt

`<activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"`

[2021-02-17 09:33] dimas0211 commented on #202
changing it to .Application didnt help

[2021-02-17 14:40] mehdok commented on #202
Can you share your manifest file?

[2021-02-17 14:43] dimas0211 commented on #202
Sure!

`<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appName">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOR

[2021-02-17 14:47] mehdok commented on #202
OK, there is one simple mistake, you have to declare your `Application` in `<application` tag, like this:

[code]

and revert the `<activity` tag like what it looked like before.

[2021-02-17 15:37] dimas0211 commented on #202
thanks!
good point!

but even after applying changes still receive the same error
![image](https://user-images.githubusercontent.com/47508843/108227574-b6980e80-7146-11eb-917f-263a4bb9ce35.png)

[2021-02-17 15:40] mehdok commented on #202
Which version of the plugin you are using?

I can see you have `LocatorBroacastReceiver` in your `Manifest` which is removed from the latest version.

[2021-02-17 16:05] dimas0211 commented on #202
ahh
I see
updated the package to latest version and removed `LocatorBroacastReceiver`
so this error doesn't show anymore.
Thank you!

but instead of it I started receiving errors like this:
![image](https://user-images.githubusercontent.com/47508843/108231654-a2561080-714a-11eb-810c-fbcc0eaf2f44.png)

Do you know what it can be?

[2021-02-17 16:11] mehdok commented on #202
Hmm, not sure, but it would be nice to switch to the latest version of Kotlin and do a `flutter clean`

[2021-02-17 16:38] dimas0211 commented on #202
Yeah, worked out!
Thank you a lot!

[2021-02-17 16:38] #202 closed

[2021-02-19 05:56] hiteshkumartank commented on #196
Do changes on Application.kt file.

import io.flutter.app.FlutterApplication
import io.flutter.plugin.common.PluginRegistry
import io.flutter.plugin.common.PluginRegistry.PluginRegistrantCallback
import io.flutter.plugins.pathprovider.PathProviderPlugin
import io.flutter.view.FlutterMain
import rekab.app.background_locator.IsolateHolderService
import io.flutter.plugins.firebase.core.FlutterFirebas

[2021-02-19 07:46] bayuly94 commented on #129
same error

[2021-02-22 08:00] wwwdata commented on #180
I can also confirm that the callback is still called on iOS, although it seems to be in a way longer interval than when it's normally active. And also the location icon is not filled anymore, so I guess it is not actively monitoring the location but still sending something though?

[2021-02-24 19:14] caio-silva-threeo opened #203 "Restart service on reboot not working"
On example app on reboot device the Isolate service is not restarting together, follow stack trace from error on rebooting device

![image](https://user-images.githubusercontent.com/75700455/109048048-5872aa80-76b5-11eb-8894-912d60bf46b5.png)

Could you guys see what's happening?

[2021-02-24 20:02] caio-silva-threeo commented on #203
Related issues: #94 #99

[2021-02-27 11:03] KelvinForteta opened #204 "Background locator still update when device is not in motion"
The plugin still posts location information even when the device is not in motion, the device is plugged into my computer, but I still receive the speed that is greater than 0, even the longitude and latitude changes on every update.

What should I do to make it stop updating when not in motion?

[2021-02-28 02:59] function2000 opened #205 "is Google Play Service is must or not need?"
For this plugin, is Google Play Service is must or not need?  As in China, Google Play Service is not an option.
Thanks for answer.

[2021-02-28 06:35] mehdok commented on #205
Hi @function2000
Thank you for opening an issue.

I have a setting in the [AndroidSettings](https://github.com/rekab-app/background_locator/blob/c737ab47cb038f0a79d19cd5865b8042965b0436/lib/settings/android_settings.dart#L44) to choose either Google or Android as your location service, please give it a try and let me know if you had have problem;

[2021-02-28 06:37] mehdok commented on #204
Hi @KelvinForteta
Thank you for opening an issue.

Use [distanceFilter](https://github.com/rekab-app/background_locator/blob/c737ab47cb038f0a79d19cd5865b8042965b0436/lib/settings/locator_settings.dart#L15), and set it to a number like 20 meters, so you won't get any update while the device is still;

[2021-02-28 07:11] KelvinForteta commented on #204
Ok thanks, I will give it a try.

[2021-02-28 08:51] function2000 commented on #205
I changed the code like below:
        androidSettings: AndroidSettings(
            accuracy: LocationAccuracy.NAVIGATION,
            interval: 5,
            distanceFilter: 0,
            client: LocationClient.android,
But still not work, see the pic.  Can you try on your side?
![20210228165039](https://user-images.githubusercontent.com/4005363/109412828-24fd8c00-79e5-11eb-9b7d-225190d38d32.j

[2021-02-28 09:19] function2000 commented on #205
it works when I go outside.  Thank you very much!

[2021-02-28 09:19] #205 closed

[2021-02-28 12:31] function2000 opened #206 "Multiple extend super class for Application"
I see "Use other plugins in callback", but now I have one problem, I need to extend to another super class, for example Map related plugin,  then I don't know how to deal with the multiple extend super class.  Please advise, thanks!

[2021-02-28 12:54] function2000 commented on #206
I make it done by myself.

[2021-02-28 12:54] #206 closed

[2021-03-01 01:47] function2000 opened #207 "Gps NOT updated after not get GPS siginal for a long time( around 30 minutes)"
I get one issue, when I am sitting in a building, and the Gps signal is very weak, long time not get GPS, around 30 minutes, then the GPS signal icon totally gone after that, and not start anymore. This is a problem, as if I am go outside, but the GPS does not resume. I don't know how to deal with it.  By the way, I am also use Background_fetch plugin. I can triggle it in background_fetch again, b

[2021-03-01 03:23] jeancarlos2020 commented on #207
Use AlertManager

[2021-03-01 04:22] function2000 commented on #207
Can you please give example? Many thanks!

[2021-03-01 05:41] function2000 opened #208 "Is there any setting to not send out android notification?"
Is there any setting to not send out android notification?

[2021-03-01 06:15] mehdok commented on #207
Hi @function2000
Thank you for opening an issue.

Please give every information that you can, eg. device type (Android, iOS), version of OS, location client config for android device (Google, Android) and any other information that you have.

[2021-03-01 06:15] mehdok commented on #208
Hi @function2000
Thank you for opening an issue.

Short answer NO. Notification is needed to keep the service **alive**, you can customize the notification (icon, text, big text ...) as you need.

[2021-03-01 06:23] function2000 commented on #208
understood.

[2021-03-01 06:23] #208 closed

[2021-03-01 06:26] function2000 commented on #207
Device type: XiaoMi 9 pro
OS: MIUI 11, Android 9
Location client: Android
androidSettings: AndroidSettings(
    accuracy: LocationAccuracy.BALANCED,
    interval: 60,                      //1 minute
    wakeLockTime:1440,                 //24hours
    distanceFilter: 0,
    client: LocationClient.android,
    androidNotificationSettings:

Thank you very much!

[2021-03-02 01:21] function2000 commented on #207
I think this could be hardware issue,  if no good answer, you can close this issue.  Thank you anyway.

[2021-03-02 06:03] mehdok commented on #207
This one is really a hard one because I have no idea what's wrong and it needs a lot of testing.
I will keep it open for now to see if anybody else has this problem or maybe someone can add a bit more information.

[2021-03-02 06:17] dev-naiksan opened #209 "How do I manually initialize Firebase in the callback?"
According to the documentation,
  ` if (registry?.hasPlugin("io.flutter.plugins.pathprovider") == false) {
              PathProviderPlugin.registerWith(registry.registrarFor("io.flutter.plugins.pathprovider"))
  }`
This is the way to do it. What about Firebase? I am using [CloudFirestore](https://pub.dev/packages/cloud_firestore) plugin for pushing the location to the CloudFirestore db.

[2021-03-02 13:10] function2000 commented on #207
Thank you!  Today I use another device,  industry phone:
Device brand: HONEYWELL CT60
OS: Android 8

I installed the release app on this device, and after asking GPS permission, it crashed, and ask for reopen app, then it never successful opened up. it crashed always.
I didn't find time to debug via cable line.  Just give you this information.  I know it maybe not easy for you to test it with indu

[2021-03-04 05:36] olryts commented on #194
hi @mehdok , is this already fixed? thank you so much!

[2021-03-04 05:54] mehdok commented on #194
@olryts
Sadly no, it is not fixed yet;

[2021-03-05 11:41] FLavenNA commented on #194
Hello i am facing an issue and i need your help. I want to get location once in a every 15 secs. Both IOS and Android. I can make it with interval settings in Android but i couldn't find a way for IOS. Is there a way to do this ?

[2021-03-05 13:25] function2000 opened #211 "Does someone also face crash issue when running on Android OS 8?"
Does someone also face crash issue when running on Android OS 8? I get crash when run on Android OS 8.

[2021-03-05 22:43] jeancarlos2020 commented on #207
the problem is not the service, the problem depends on each manufacturer xiami example you have to make your users disable the save options, the startup boot and accept the permission in the background

[2021-03-06 06:09] mehdok commented on #211
Hi @function2000
Thank you for opening an issue;

What kind of issue do you have with Android 8?

[2021-03-06 06:11] mehdok commented on #194
Hi @FLavenNA

It is better if you could open a new issue for your problem.

But short answer, there is no way to force iOS to use the interval to send location updates, iOS will send you updates whenever it receives one.

[2021-03-06 07:51] PaoloP98 opened #212 "Remove notification"
Hi, I saw many apps that works even if they are terminated and show a notification only when location is obtained.
I tried this package for android but the notification "app is running" is not removable.
It can be removed and shown only when the position is required?

[2021-03-06 09:28] function2000 commented on #211
When asked for permission,  click allow, then it crashed,and then app cannot be open again.  That is the reason I asked if somebody else face the same issue.

[2021-03-06 10:46] NeilCaffrey1 opened #213 "Failed to build on Flutter 2"
I recently updated to flutter 2, with sound null safety, I was trying to run my app with --no-sound-null-safety, as not all packages support null safety. I tried debug and release and this is the output I received.
`~/flutter/.pub-cache/hosted/pub.dartlang.org/background_locator-1.4.0+1/android/src/main/kotlin/rekab/app/background_locator/provider/AndroidLocationProviderClient.kt: (13, 1): Class '

[2021-03-06 10:52] #213 closed

[2021-03-06 11:20] function2000 commented on #211
Please see below screenshot, maybe you can also have a try on Android 8 device:
![erro1](https://user-images.githubusercontent.com/4005363/110204978-fbdf6e80-7eb0-11eb-9469-4dfdbc4afdb1.jpg)

![error2](https://user-images.githubusercontent.com/4005363/110204980-013cb900-7eb1-11eb-809a-5bc9dd5d999f.jpg)

[2021-03-08 11:00] function2000 commented on #211
@mehdok  any solution to make it work on Android 8?  Thanks!

[2021-03-08 12:14] LeonardoTacca opened #214 "start locator with Google client"
Whenever I call the onstart function it returns the message start locator with Google client and nothing else happens, my application already uses google's location and has all the necessary permissions

[2021-03-10 23:08] #204 closed

[2021-03-11 12:36] KelvinForteta opened #215 "App crashes upon starting background locator"
Good day,
My app keeps crashing anytime I start the background locator -> Stops the background locator -> start the background locator -> crash.

I have this code that registers SQflite plugin

[code]

I think the crash is caused by SQflite because anytime it crashes I get this error message **_"Unable to create service rekab.app.background_locator.IsolateHolderService: java.lang.IllegalStateExcep

[2021-03-11 14:17] Satendra124 commented on #209
did you found a way?

[2021-03-11 19:01] thekavak opened #216 "How can I run it in the background"
Hi,
A friend suggested it on Github and I started to review it excitedly. I downloaded and installed the example on GitHub without any problem.

When I delete the application from the recent list in my hand, it continues to log. But when I click on the 'clear all' button of the last applications there, it clears the cache, so the app closes and I have to run it again.

A different situation is val

[2021-03-12 15:38] Gnuhry opened #217 "Null safety"
is there already a plan to migrate the project to null safety?

[2021-03-12 15:42] Gnuhry commented on #217
i just saw that there is a commit on master with null safety but when are you going to release it?

[2021-03-12 17:09] mehdok commented on #217
Sorry for the delay, tomorrow I will do it;

[2021-03-13 11:34] DebkanchanSamadder commented on #217
@mehdok I just noticed that I mistakenly updated the version from `1.4.1+1` to `1.5.1+1` instead of `1.5.0`. Please fix it before release

[2021-03-13 13:32] mehdok commented on #217
@DebkanchanSamadder  Actually you did right. `+1` means first build and it is necessary for versioning;

[2021-03-13 13:33] DebkanchanSamadder commented on #217
Mom are you proud now?

[2021-03-13 13:33] mehdok commented on #217
@Gnuhry Package updated;

[2021-03-13 13:34] #217 closed

[2021-03-13 13:34] Gnuhry commented on #217
yeah thanks.

[2021-03-16 08:07] Technoshia opened #218 "Notification not updating latlng while app close"
Notification not updating latlng while app close

OS: Android
Device: Poco x3 nfc (Xiaomi)

[2021-03-17 22:23] irwing844 commented on #196
You must register the plugin. https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback

[2021-03-17 22:31] irwing844 opened #219 "method init(Map<dynamic, dynamic> params) async in location_service_repository do not work"
First of all thanks for the plugin. Fantastic

Sometimes the process works and sometimes it doesn't. In the example code, it sometimes brings the value of main and sometimes takes -1 (When the variable is declared, this value is set by default)

[2021-03-19 13:38] ramism16 opened #220 "App crash on service stop (example app)"
Closing (not minimizing) the example app after starting the service and then stopping the service after relaunching the app crashes the app on both debug and release builds.

The following trace is thrown:
 android.app.RemoteServiceException: Context.startForegroundService() did not then call Service.startForeground()
     at android.app.ActivityThread$H.handleMessage(ActivityThread.java:1792)

[2021-03-19 15:02] jeancarlos2020 commented on #209
[code]

[2021-03-19 15:07] jeancarlos2020 commented on #215
[code]

it is solution :3

[2021-03-19 15:12] jeancarlos2020 commented on #214
in AndroidSettings use client: LocationClient.android

[2021-03-19 15:17] jeancarlos2020 commented on #219
use sqlite or sharedpreferences to keep your variables the plugin works fine, but this problem is caused by each manufacturer (huawei, xiaomi, etc) by freeing up memory

[2021-03-19 16:48] s15-coder commented on #215
It means every time a want to use a plugin in the callback i must to register it?

[2021-03-19 16:55] s15-coder opened #221 "[ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: Null check operator used on a null value"
I am doing a basic app to see how the packages works following documentation. However, i'm getting this error:
[code]

This is all my code (I'm using just one for test):
[code]

The manifest.xml file:

[code]

Know anyone how can i fix it? I really need it plugin

[2021-03-19 18:07] s15-coder commented on #221
It's was strange. I solve it separating and passing just the reference of every function, I mean:

**BAD WAY**
[code]
**GOOD WAY**
[code]

[2021-03-19 18:08] #221 closed

[2021-03-19 21:37] KelvinForteta commented on #215
Thank you so much, It worked.

[2021-03-20 21:50] s15-coder commented on #215
@jeancarlos2020   I have some question. I'm already using an Application file in my android project to use a Firebase integration, it file is in Java. There is some place where can see how register the different plugins with Java? I clarify that I have more than one plugin to use in the background location callback

I would appreciate your help please

[2021-03-21 14:26] mehdok commented on #211
@function2000
Please show me some code;

[2021-03-21 14:26] mehdok commented on #197
#194

[2021-03-21 14:26] #197 closed

[2021-03-21 14:57] thekavak opened #223 "background service not working in real ios device"
Hi,
I download your github example a couple weeks ago. I tried on ios simulator, it works all good, Even if App was killed it sent me notification when location is change.
Today, I sent the application on an ios testflight and installed it on the real device and gave the permissions the same. But when I close the application on the real device, it does not log or send me notifications. (Note: I al

[2021-03-21 15:35] mehdok commented on #223
Hi @thekavak

Thank you for opening an issue;

You tested the same app on both simulator and real device?
Any addtional info the might help would be appreciated;

[2021-03-21 15:41] thekavak commented on #223
Hi @mehdok,
Yes, Firstly I run the app on simulator and then I saw everything working properly.
I wanted to see this on real device and sent testflight. And although I tried it on 2 different iOS devices, it didn't work on either.

In addition, I disabled only this setting on xcode because when I wanted to connect to the real device via usb, the app would crach.
https://stackoverflow.com/questions

[2021-03-22 08:12] mehdok commented on #223
Honestly, In this situation, I can not figure out what is happening;
If you could provide some logs from your real device, it might help to figure out what is happening;

[2021-03-22 19:59] jeancarlos2020 commented on #215
You need to check the manufacturer name in the android or ios folder of each added package, these are the ones I use now and it works perfectly
[code]

[2021-03-22 20:03] jeancarlos2020 commented on #215
Good..!
@mehdok  closing the issue.

[2021-03-23 15:42] thekavak opened #224 "Getter not found: 'LocationCallbackHandler'."
Hi again :),

I am trying to implement your package at new flutter project. Before that I used your project on github.
in startLocator method LocationCallbackHandler gives an error. I could not find what I need to call in to solve it.

[code]

Also, when the location changes in the github project itself, the notification drops out. Where can I turn it off? And I want to write api here.

 I wrote a

[2021-03-25 09:27] function2000 commented on #211
Sorry for late reply, here below are some code. I don't think it is my code issue, perhaps you try run on Android 8, you will see the same problem.

================================>
  void _startLocator() {
    Map<String, dynamic> data = {'countInit': 1};
    BackgroundLocator.registerLocationUpdate(LocationCallbackHandler.callback,
        initCallback: LocationCallbackHandler.initCallback,

[2021-03-26 09:32] oligazar commented on #185
@mehdok
I have the same issue on line `val callbackInfo = FlutterCallbackInformation.lookupCallbackInformation(callbackHandle)`

Registration for location updates, where `_onLocationData` is `static`:
[code]

Has anybody found the reason and solution or workaround?

[2021-03-27 13:40] #212 closed

[2021-03-28 18:27] steinmetz commented on #201
[suggestion]
I think it would be a good idea to add the necessary imports to this instruction (people using VS Code may need to open Android Studio to figure out what imports are missing) :
https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback

Also, some classes are deprecated, maybe this will be a problem in the future:
![image](https://user-images.githubusercontent.

[2021-03-30 19:06] marcusmvfa opened #225 "Callback not Calling"
When called StartLocator the callback method aren't been called... The service logs "```
Locator service is already running
D/plugin  ( 3487): sendLocationEvent {callback=7376271144, location={altitude=0.0, heading=0.0, latitude=-26.9883467, accuracy=3.075, speed_accuracy=0.0, time=1.617131050765E12, is_mocked=false, speed=0.0, `longitude=-48.6360767}}
```"`

It only happens sometimes...

I need i

[2021-03-31 16:25] JavierConde opened #226 "Service stop sending location when power off the screen"
Hello, great plugin and work.

I was testing it a few days and i'm using to test an android 10 (samsung a10) and a huawei android 9 and a samsung s20 with android 11

After a while, 1 hour from i just power off the screen the service stop send locations.
I configured the application to be whitelited, i give permission, etc, restarted the phone after install the apk, but still stop working.
I also

[2021-03-31 20:47] mehdok commented on #226
Hi @JavierConde
Thank you for opening an issue.

Are you using the latest version of the plugin? We had a similar issue with the previous version;
Please take a look at #169 and let me know if that's your problem;

[2021-03-31 20:53] JavierConde commented on #226
Hello Mehdi! thanks for your contact.
I'm using   background_locator: ^1.5.0+1
Right now i'm testing on Android, i didn't test yet on iOS

Huawei MRD-LX3 android 9
Huawei DRA-LX3 android 8
Samsung A10 SM-A105M android 10
Samsung S20 android 11
Samsung j2 SM-G532M android 6

in all the same issue, after a while, 60 minutes in the most cases, the service stop calling the callback, i'm sending the da

[2021-03-31 20:54] JavierConde commented on #226
oh! sorry, i saw the other issue #169

[2021-04-06 14:45] Priyalkothari commented on #182
No, I didn't.

On Fri, Mar 19, 2021 at 3:51 PM Neill ***@***.***> wrote:

[2021-04-08 16:21] ferdinandfrank commented on #130
@mehdok One question regarding `wakeLockTime`: Is there any limit for the value of this option or any disadvantages for setting this value to a very high number, e.g., 1 day or 1 week?

[2021-04-08 18:17] mehdok commented on #130
@ferdinandfrank

Honestly I don't know any of that, because I'm not an Android expert.

Please take a look at [official doc](https://developer.android.com/training/scheduling/wakelock)

[2021-04-09 13:49] WilliBobadilla commented on #224
I have the same problem, what can it can be?

[2021-04-14 11:00] TheSuperiorStanislav opened #227 "Question about initCallback and initDataCallback"
In version `1.6.0+1-beta` , `initCallback` and `initDataCallback` were removed. Is it intentional? If so what is **replacement**(probably wiki should be updated)
[code]

[2021-04-14 15:04] mehdok commented on #227
Hi @TheSuperiorStanislav
Thank you for opening an issue.

Yes, that was intentional.

Every function (`initialize`, `registerLocationUpdate`, `unRegisterLocationUpdate`) is an `async` function, so for example, if you need to know where the initialization is finished just call it with the `await` keyword and it will hold you until initialization is finished, the same thing applies to the `dispose`

[2021-04-14 18:37] #225 closed

[2021-04-15 11:40] TheSuperiorStanislav commented on #227
@mehdok Thank you for responding. I have a few questions
About other plugin usages. The wiki stated that we need to add this line of code but in the new version: IsolateHolderService doesn't have such a method. It seems that it works without.
[code]
On ios sometimes logger shows. The locator works, but is it something I should be worried about?
[code]

From time to time the whole app crashes with

[2021-04-15 19:31] gomazaba opened #228 "How can I turn off location detection notifications on Android?"
How can I turn off new location detection notifications on Android?

[2021-04-15 19:52] #228 closed

[2021-04-19 08:38] rueichang commented on #185
I got the same issue even the example app.   This problem can be reproduced by rebooting the smart phone.
I had installed the example app first.  Starting the service and ensure the service is running. Then I reboot the smart phone again and open the example app afterward. The APP will be crash and show the error message which is same as WilliamFB.  And APP won't be able to start properly...  My A

[2021-04-19 12:00] #192 closed

[2021-04-20 09:35] atsumo opened #229 "Android App crash on start (java.lang.RuntimeException: Unable to start service rekab.app.background_locator.IsolateHolderService)"
use  version `1.6.0+1-beta`

It seems that ACTION_SHUTDOWN of onStartCommand is sometimes called before locatorClient is initialized....

[code]

[2021-04-21 13:26] JanikoNaber opened #231 "App crashes on unRegisterLocationUpdate"
Version: ^1.6.0+1-beta
Running on Android.
1) Start background_locator
2) Restart device (without restore on reboot)
=> isServiceRunning() = true
=> Location is not logging
3) Stop background_locator (BackgroundLocator.unRegisterLocationUpdate())
=> App crashes with:
D/BackgroundLocatorPlugin(17788): Locator service is not running, nothing to stop
D/AndroidRuntime(17788): Shutting down VM
E/Androi

[2021-04-21 20:58] elouiestudent commented on #231
We are also getting this issue with 1.5.0+1 on Android.

[2021-04-21 21:26] BecoStopclub commented on #231
Version: ^1.6.0+1-beta
Running on Android.

Probably related:

<pre><code>java.lang.UnsatisfiedLinkError: No implementation found for io.flutter.view.FlutterCallbackInformation io.flutter.embedding.engine.FlutterJNI.nativeLookupCallbackInformation(long) (tried Java_io_flutter_embedding_engine_FlutterJNI_nativeLookupCallbackInformation and Java_io_flutter_embedding_engine_FlutterJNI_nativeLookupCal

[2021-04-22 08:55] Mohamed-512 commented on #231
Experiencing same issue here as well :(

[2021-04-22 18:55] dacianf opened #232 "Service state is inconsistent"
Hey, @mehdok!

I've seen that in the last version you've added `Save state of service in preferences`. This leads us to an inconsistent state when the service crashes.  eg:

- Start service, -> app says that service is running, which is ok;
- Service crashes -> app dies;
- Open back the app -> app says that service still is running, but it is not.

Why did you decide to keep the state of the servi

[2021-04-22 19:52] mehdok commented on #232
Hi @dacianf

When the app is getting removed from the recent list (both Android and iOS) every variable in the app is getting destroyed, so we need some other way to tell whether the service is running or not. The ideal situation would be a method to tell the service status without storing anything, but I couldn't find anything at that moment.

That's why I published this version as beta

[2021-04-23 05:55] xesun opened #233 "The location does not change when 3g and wifi are turned off"
Please help me

[2021-04-24 14:49] ludesert opened #234 "Unresolved reference"
Whenever I try to compile a new version of my app, I get this error :

e: D:\...\myapp\Application.kt: (18, 30): Unresolved reference: setPluginRegistrant
e: D:\...\myapp\Application.kt: (33, 13): Unresolved reference: GoogleApiAvailabilityPlugin

I did not change the Application.kt file. Everything worked well before and I can't figure out what happened.
What I did :
- update Flutter
- update som

[2021-04-24 18:23] SandeMK commented on #234
For the Flutter Android Embedding V2, plugins are registered with the background isolate via reflection so IsolateHolderService.setPluginRegistrant does not need to be called.
I'm using SharedPreferences and FirebaseFirestore and it's working all fine.

[2021-04-24 18:24] ludesert commented on #234
So with Flutter V2, I don't have to register the plugins manually via Application.kt, thus I don't need it anymore ?

[2021-04-26 23:30] dasmobile opened #235 "Android settings not working?"
Version: ^1.6.0+1-beta

I'm not sure if I'm doing something wrong, but when I run this code:

[code]

I get a white icon and the notification says "[appname] is running"..."Tap for more information or to stop the app."  None of the custom notification messages show up.

Everything else seems to be working fine.

[code]

[2021-04-27 03:33] allanguintu commented on #227
Hi,

I am passing a variable (firebase uid) to my isolate on initDataCallback, everything works fine before. But now that the initDataCallback is removed, how do I pass my variable? Looking forward for your help. Thank you.

[2021-04-28 09:37] ludesert commented on #234
How should the plugins be registered with flutter V2 ? The wiki does not seem to be up to date considering what you say and I'm not sure how to do. Thanks

[2021-04-29 14:39] Wian-TMC commented on #235
Same here

[2021-04-30 14:44] BecoStopclub commented on #235
It's 1.6.0+1-beta bug.

Workaround:

Call:
<pre><code>
BackgroundLocator.updateNotificationText();
</code></pre>

 After
<pre><code>
BackgroundLocator.registerLocationUpdate();
</code></pre>

[2021-05-02 19:17] dasmobile commented on #235
That fixed it.  Thanks!

[2021-05-02 19:17] #235 closed

[2021-05-03 04:47] EmadBahreini opened #236 "background locator service does not run automatically in background after termination. when the app terminated from recent list of android, next time the background locator does not start fetching location."
Here is my location service class :

import 'dart:async';
import 'dart:isolate';
import 'dart:ui';
import 'package:background_locator/background_locator.dart';
import 'package:background_locator/location_dto.dart';
import 'package:background_locator/settings/android_settings.dart';
import 'package:background_locator/settings/ios_settings.dart';
import 'package:background_locator/settings/locator_s

[2021-05-03 17:24] michaelchiew08 commented on #188
`compileSdkVersion` to `30` doesn't work for me :(

[2021-05-03 18:23] michaelchiew08 commented on #199
suggest to change

`LocationClient.android` > `LocationClient.google` instead

[2021-05-03 21:47] Alexminator99 commented on #236
You right. Im having the same problem...

[2021-05-04 12:28] marcusmvfa commented on #231
Any news about that?

[2021-05-05 12:27] oligazar opened #237 "Fatal Exception: NSInternalInconsistencyException Sending a message before the FlutterEngine has been run. -[BackgroundLocatorPlugin sendLocationEvent:]"
iOS devices.
background_locator: 1.6.0+1-beta
After tracking longer time in background at the moment of transition to foreground sometimes app crashes.

`Fatal Exception: NSInternalInconsistencyException Sending a message before the FlutterEngine has been run. -[BackgroundLocatorPlugin sendLocationEvent:]`

[code]

AppDelegate
[code]

Where `CustomPluginRegistrant` class looks like this
[code]

Un

[2021-05-06 20:16] kilroy05 commented on #103
@hasitha3rd solution works for me. Thank you!

[2021-05-07 01:32] francipvb commented on #180
Hi @medhok,

We're using this plugin in our app and we're facing this issue too.

We'd like to release this in iOS but with this plugin being unable to work under iOS correctly we cann't do that.

Is there any solution for this?

Cheers,

[2021-05-07 16:48] francipvb commented on #31
Hello @mehdok,

The plugins seems to be disposed but the isolate continues to run the callback, so the cleanup does not work in iOS.

I don't know UIKit to look at this by myself.

[2021-05-11 11:10] abedputra commented on #231
I think it has been fixed here
https://github.com/rekab-app/background_locator/pull/230

[2021-05-11 13:59] hackonemj opened #238 "App background locator is running after close the app"
I've been trying to figure on how to stop the service on app close. It crash if close the app and start again

[2021-05-11 19:00] wwwdata commented on #180
Hm, I was just reading through the code a bit. What is basically confusing me a bit is this method here: https://github.com/rekab-app/background_locator/blob/132b5b9daba8140d1e1afc7e632425c9dc9b0956/ios/Classes/BackgroundLocatorPlugin.m#L190

Docs: https://developer.apple.com/documentation/corelocation/cllocationmanager/1423531-startmonitoringsignificantlocati

If I understand this correctly, this

[2021-05-11 20:35] wwwdata commented on #180
But I also don't understand this. The location region monitoring is basically always registered, no matter what, when the app is closed?

https://github.com/rekab-app/background_locator/blob/132b5b9daba8140d1e1afc7e632425c9dc9b0956/ios/Classes/BackgroundLocatorPlugin.m#L65-L67

Does that code mean even if the recording was stopped, but then obviously we still have a `_lastLocation` set, it will se

[2021-05-12 08:05] srmanc opened #239 "[iOS] App gets restarted even after locator service is successfully stopped and the app is killed"
First of all kudos for developing this plugin! Great work.

I want to use this plugin for navigational purposes and it's been working great. But recently I discovered that when I stop the service and kill the app, I still get the app resurrected when using some other app which fetches location (Google Maps, Apple Maps etc).

How can I avoid this? I do want to be able to track location in backgroun

[2021-05-12 19:02] DomingoMG opened #240 "Execution failed for task ':background_locator:compileDebugKotlin'."
I am trying to compile the latest version and it is giving me this error.

`Flutter version: 2.0.6`

`background_locator: ^1.6.0+1-beta`

I've done:
`flutter clean` but still the same.

[code]

[2021-05-18 06:55] ludesert commented on #234
no-one ?

[2021-05-21 18:29] Saxorman opened #241 "[Android] Fatal exception: AbstractMethodError: android.location.LocationListener.onProviderDisabled/onProviderEnabled"
Hello! When the background service starts and location tracking is turned off - the application exits with a fatal error. Either the state was switched while the service was running - the same result.

[code]
https://github.com/rekab-app/background_locator/blob/master/android/src/main/kotlin/rekab/app/background_locator/provider/AndroidLocationProviderClient.kt
If override these functions (onProvi

[2021-05-22 11:46] heshesh2010 opened #242 "No such module 'background_locator'"
import UIKit
import Flutter
import background_locator
import GoogleMaps

func registerPlugins(registry: FlutterPluginRegistry) -> () {
    if (!registry.hasPlugin("BackgroundLocatorPlugin")) {
        GeneratedPluginRegistrant.register(with: registry)
    }
}

@UIApplicationMain
@objc class AppDelegate: FlutterAppDelegate {
  override func application(
    _ application: UIApplication,
    didFini

[2021-05-23 12:16] resfandiari commented on #94
The same problem
 After reboot, the application crashes.

[code]
[code]
Application property
[code]
[code]
[code]
[code]

[2021-05-28 19:22] shantaly opened #243 "IOS: App crashing when coming back to the app while background_locator is active"
Hardware Model:      iPhone11,2
Process:             Runner [3253]
AppVariant:          1:iPhone11,2:14
Code Type:           ARM-64 (Native)
Role:                Foreground
Parent Process:      launchd [1]

OS Version:          iPhone OS 14.5.1 (18E212)
Release Type:        User

Exception Type:  EXC_CRASH (SIGABRT)
Exception Codes: 0x0000000000000000, 0x0000000000000000
Exception Note:  EXC_CORPS

[2021-05-28 20:43] alymoursy commented on #243
This is happening to my app as well.

[2021-05-31 12:11] hasitha3rd commented on #229
Any fix?

[2021-06-03 06:36] mehdok commented on #243
Hi @shantaly
Thank you for opening an issue;

Please give the whole scenario (step by step) to reproduce the bug. If it is possible a video would help a lot;

[2021-06-03 06:42] mehdok commented on #242
Hi @heshesh2010
Thank you for opening an issue;

please sync your `pobspec.yaml` by running `flutter pub get`;
If it didn't help run `pod install` in `iOS` directory;

[2021-06-03 07:35] mehdok commented on #241
Hi @Saxorman
Thank you for opening an issue, and thank you for pointing to the solution;

#244

[2021-06-03 08:02] #241 closed

[2021-06-03 10:58] RomanJos commented on #227
Hello @mehdok I didn't quite understood your explanation, thoses init parameters are a way to set things up in the isolate, for example I use initData to send the app Documents path, and initCallback to create a File instance which can then be written the newly received locations.

I remember we were having a conversation about the way memory gets separated when stuff is in isolate and you didn't

[2021-06-04 01:20] atsumo commented on #229
It has been fixed #230

[2021-06-04 04:20] mehdok commented on #240
Hi @DomingoMG
Thank you for opening an issue;

I believe the method `onStatusChanged(p0: String!, p1: Int, p2: Bundle!)` is deprecated and there shouldn't be any issue not overriding it. Please update to the latest version of `Dart` and `Android SDK` and let me know if your problem has been solved.

[2021-06-04 04:23] mehdok commented on #227
Hi @TheSuperiorStanislav

Thank you for your patient.
The Wiki needs to be updated and I will do it asap. Right now in Android there is no need to register 3rd party plugins like before, but for iOS please follow the wiki;

[2021-06-04 04:25] mehdok commented on #227
Hi @allanguintu
Thank you for your patient.

Please save your `variable` in ShredPreferences` and access it anywhere you like, even in the `callback`.

[2021-06-04 04:31] mehdok commented on #227
Hi @RomanJos
Long time no see :)

I understand your concern and I remember our conversation about this, but there is a simpler option for this, Using `ShredPreferences `. Back then we didn't have any way to use 3rd party library in the `callback`, right now you can use `ShredPreferences` to store any value and use it anywhere you like, even in `callback`;

[2021-06-04 04:40] mehdok commented on #238
Hi @hackonemj
Thank you for opening an issue and your patient;

Please take a look at [this](https://github.com/rekab-app/background_locator/blob/e1976597d14a1bf28c7c05a29215ecfcf4225496/lib/background_locator.dart#L27),
we have a setting for auto stop;

[2021-06-04 04:45] mehdok commented on #237
Hi @oligazar
Thank you for opening an issue and your patient;

- How long the app should be in the background for this to happen?
- You bring the app to the foreground by using the recent app list? or clicking on the app icon?
- Any irrelevant data that you have might help to find the bug, so please don't hesitate to share anything;

[2021-06-04 04:50] mehdok commented on #236
Hi @EmadBahreini
Thank you for opening an issue and your patient;

I marked this as a bug, and I believe it is related to recognizing whether the service is running or not, I'll take a deep look into it this weekend;

[2021-06-04 05:13] RomanJos commented on #227
lol yeah I was away from coding a little bit 😅

Concerning this issue, if I understand correctly, in my case I need to check on every callback if my File Instance from the isolate isn't null to set it by reading `SharedPreference` ?
That seems a lot of unnecessary work, having just a initCallback would allow me to create the File instance the first time and leaving the callback doing its main work

[2021-06-04 07:35] alfaruqrizqi18 opened #245 "App crash : when i try to stop service after i kill app"
hi, when i start and kill my app i launch my app again and try to stop service, it crash
I use this version 1.4.0+1

[2021-06-04 07:37] alfaruqrizqi18 commented on #245
I got this error
![image](https://user-images.githubusercontent.com/43517239/120764474-60f34080-c542-11eb-8bef-c839e70598af.png)

[2021-06-05 07:34] ferdinandfrank commented on #245
@alfaruqrizqi18 I had the same issue and it seems to be fixed in the latest release `1.6.1+1-beta`.

[2021-06-06 08:18] mehdok commented on #227
#246

[2021-06-06 09:13] RomanJos commented on #227
Awesome !!

[2021-06-07 07:01] yashwon1 opened #247 "Setting an Interval for IOS"
Hello, Is there a workaround for setting the same interval for IOS. Need the Callback only after every 2 - 3 minutes.

[2021-06-07 13:00] #227 closed

[2021-06-07 13:16] mehdok commented on #247
Hi @yashwon1

Sadly no. There is no way to force iOS to use interval for sending locations;

[2021-06-08 03:25] alfaruqrizqi18 commented on #245
@ferdinandfrank thank you

[2021-06-13 23:21] allenbrunson commented on #237
i am also seeing this bug, using version 1.5.0+1

say you just installed the app. you start it up, everything is fine. then you shut it down, and wait a few hours. then you try to start it up again, and the app immediately crashes, with that same NSInternalInconsistencyException message in the crash log shown at the top there.

[2021-06-14 06:12] mehdok commented on #237
Please try the latest `beta` version to see if the problem still exist.

[2021-06-14 06:42] oligazar commented on #237
@mehdok unfortunately I cannot say exact conditions when the issue happens.

But I was able to catch the issue. It happened in the `sendLocationEvent:` method at line
`[_callbackChannel invokeMethod:kBCMSendLocation arguments:map];`
For some reason FlutterEngine is not ready sometimes when trying to send the message down the `_callbackChannel`.

I used `isolateId` property of FlutterEngine to figu

[2021-06-14 13:41] Wian-TMC opened #249 "App crash on startup iOS 14+"
The app still crashes on startup often, but not always.
This only seems to happen for iOS.

 Here is the crash log:
[code]

[2021-06-14 13:46] Wian-TMC commented on #237
still persists in the beta

[2021-06-14 13:55] Wian-TMC commented on #249
This could be related to #237

[2021-06-16 11:23] yashwon1 commented on #247
Thank you

[2021-06-16 11:23] #247 closed

[2021-06-19 09:48] rsbthebest commented on #237
Am facing the same thing!
Have we found any workaround for this?

[2021-06-19 16:25] junaiddurrani opened #251 "The function updateUI is not working after i remove the app from memory"

[2021-06-19 16:39] rahuldange09 commented on #245
@alfaruqrizqi18  Please close the issue if it is fixed for you

[2021-06-19 16:39] rahuldange09 commented on #251
Please provide details.
Function code/File code

[2021-06-20 04:04] mehdok commented on #251
Hi @junaiddurrani
Thank you for opening an issue.

When you remove the app from memory you don't have a `UI` anymore, so it is logical that function `updateUI` is not working in this scenario.

[2021-06-20 04:08] mehdok commented on #237
@oligazar
Nice workaround, but I believe it's better to find the real problem (why FlutterEngine has stopped running?). Putting this workaround in the library makes it unrelieble.

[2021-06-22 06:37] stenlee commented on #243
I can confirm this issue as well

[2021-06-22 14:50] mehdok commented on #243
@stenlee
If you can share more info please do that.

[2021-06-22 14:56] stenlee commented on #243
@mehdok  ... steps to reproduce

1. run background locator on iOS14
2. stop it
3. close the app and try to start the app again
4. app is crashing before splash screen inside the AppDelegate.swift method

if I remember right - XCode is showing message "Trying to send message before Flutter engine is running"

[2021-06-22 17:00] Wian-TMC opened #252 "Breaking background locator on app permission change"
Only tested on Android

1. While the background locator is active and the app is killed, remove the location permissions for the app - Set to deny (Note how the background locator will then stop and the foreground notification will disappear).
2. Now set the location permissions for the app back to allow ('Only while using app' or 'all the time').
3. Opening the app and trying to re-initialise bac

[2021-06-22 18:10] Wian-TMC commented on #252
I had code as follows:
[code]
It seems the isRunning() function will return false when changing app permissions on the fly even if the locator is still running in this case, so a force to unsub is necessary to get the foregroudn notification back and the callback to be called again.

So a fix is just always running
[code]

irrespective if the Locator is already running or not

[2021-06-23 03:04] Kurogoma4D commented on #237
Same here.
Just in case, here is the log when crashed my app.
[code]

[2021-06-23 06:46] Wian-TMC commented on #252
I do not know if this is the intended functionality, so I am re-opening it

[2021-06-23 19:03] Wian-TMC commented on #237
There seems to be a different underlying issue here. When changing iOS permissions from 'Allow only while using App' to 'Always allow' when prompted, the iOS app crashes on startup again and again, **even with the above workaround**.

It seems to crash on iOS consistently on app startup when permissions are set to 'Always allow'.

[2021-06-24 14:01] marcusmvfa commented on #237
Having the same issue...
I'm using version 1.6.2+1-beta

[2021-06-25 01:48] marcusvpais commented on #237
Same problem.Having the same issue too. iOS 14.6
I'm using version 1.6.2+1-beta

[2021-06-27 10:47] mehdok commented on #237
#248

[2021-06-27 10:47] #237 closed

[2021-06-27 12:03] Wian-TMC commented on #252
Issue still stands after 1.6.3.
1. Allow background locator to initialise
2. Close the app
3. Change permissions to 'Deny', and then back to 'Always allow'. This kills the background locator service.
4. Trying to initialise the locator again with ```registerLocationUpdate()``` will not run unless you run ```unRegisterLocationUpdate()```. This is because the locator still thinks it is running in th

[2021-07-01 06:43] Wian-TMC opened #254 "iOS 14+ crash on app startup when location set to 'Always Allow'"
**Using release 1.6.3**

When changing iOS permissions from 'Allow only while using App to '**Always allow**' when prompted, the iOS app crashes on startup.

At first, the app launches fine with no issues for a few hours after setting the location permissions to '**Always allow**'. Thereafter the app seems to crash consistently on app startup.

Note: Setting the location permissions back to '**Onl

[2021-07-01 06:45] #249 closed

[2021-07-01 07:24] srmanc commented on #239
Any progres on this? Any pointer at all?

This is a really troublesome bug on iOS, having a negative UX.

[2021-07-01 10:43] mahmoud-haj-ali opened #255 "It worked just for half hour when the app is killed"

[2021-07-01 14:45] mehdok commented on #239
Hi @srmanc
Thank you for opening an issue.

Sadly I missed your issue completely.

But this weekend I have some free time to work on it. Meaning while, please provide any information that might help finding the bug.

[2021-07-01 15:49] srmanc commented on #239
@mehdok Thanks for replying.

Basically when we start and stop the service on iOS (and even kill the app after service was stopped), the app gets resurrected.

Currently we're testing if setting locationManager.allowsBackgroundLocationUpdates to true on start and to false on stop fixes the bug, but I can't confirm (nor deny) the fix just yet.
https://developer.apple.com/documentation/corelocation/

[2021-07-02 05:07] ClaudeChey opened #256 "iOS: Conflicts with Firebas Storage"
Firebase Cloud Storage's UploadTask doesn't work when I do BackgroundLocator.initialize() in iOS

UploadTask.snapshotEvents doesn't fire after BackgroundLocator.initialize() call, so wait forever

https://github.com/FirebaseExtended/flutterfire/issues/5976#issuecomment-869140857

[2021-07-02 09:41] srmanc commented on #239
Update: the last fix did not fix the behaviour, app still restarts randomly.

After intensive reviewing of docs, we've added this call to the stop procedure:
https://developer.apple.com/documentation/corelocation/cllocationmanager/1423679-stopmonitoringsignificantlocatio?language=objc

I'll get back with the results.

[2021-07-03 13:03] rahuldange09 opened #257 "Robust approach"
I found this thing on android not sure about ios as I'm not currently using it on ios.

In some of the last releases, I can see that to check whether Location service is running or not you are taking the help of shared preferences instead of the normal "isRunning" variable.

Well, the problem is that with this approach I started facing some issues like "Service is already running even it's not run

[2021-07-04 06:56] mehdok commented on #257
Hi @rahuldange09
Thank you for opening an issue.

I agree with you, using shared preferences is not a robust option, neither using a static variable. this plugin is supposed to work when the app is killed, in that case, there is nothing in memory related to that app, so static var would be useless. Considering that we have a foreground service running all the time (in Android), but this issue repo

[2021-07-04 06:58] mehdok commented on #256
Hi @ClaudeChey
Thank you for opening an issue.

This behavior is a known issue, and sadly I have no workaround for it.

Please share if you found any solution or suggestion.

[2021-07-04 06:59] #251 closed

[2021-07-04 06:59] #245 closed

[2021-07-04 06:59] #242 closed

[2021-07-04 06:59] #240 closed

[2021-07-04 12:44] mehdok commented on #255
Hi @mahmoud-haj-ali
Thank you for opening an issue;

Please provide more information;

[2021-07-04 13:27] amir067 commented on #199
overide function OnProviderCHanged() will solve this issue   i tried it works.

[2021-07-04 14:37] mahmoud-haj-ali commented on #255
Thank for replying @mehdok

I have implemented this package and tried to listen to the user location but when the user remove the app from the background, the package work only  for half an hour then stopped.

[2021-07-05 04:43] mehdok commented on #199
This problem is fixed in #241 ;
Please use the latest version;

[2021-07-05 04:43] #199 closed

[2021-07-05 05:46] #196 closed

[2021-07-05 07:47] mehdok commented on #257
I did a little modification and the problem on `Android` should be fixed by now.
But there is still problem on `iOS`

[2021-07-05 11:41] rahuldange09 commented on #257
Great so fast!
 A static variable can be better for now.
I'm not sure about ios, I don't use ios right now nor I understand swift that much but there has to be a way.
Thank you

I guess with binding this might help: [Medium](https://proandroiddev.com/bound-and-foreground-services-in-android-a-step-by-step-guide-5f8362f4ae20)

[2021-07-06 05:30] venkateshironman opened #260 "Background locator stops working after iOS auto update"
@mehdok  After the iOS auto update from 14.4 to 14.6 Background locator(1.4.0+1) worked only for an hour and later stopped working.
The app was in the foreground and yet background stopped after 60 minutes. In our app we have configured backgroundlocator for every 2 mins to fetch the lat long from GPS location service

Note below:
1.GPS turned on
2.Location Permission set to always
3.Battery was f

[2021-07-06 09:07] ClaudeChey commented on #256
@mehdok
Thank you for the reply
I haven't found an alternative yet, but I'll share it when I find it.

[2021-07-07 08:27] srmanc commented on #239
Can confirm the upper (and the mentioned) fix resolves our issues. You can close this freely.

[2021-07-07 14:22] steinmetz commented on #234
@ludesert I removed this line `IsolateHolderService.setPluginRegistrant` since the method `setPluginRegistrant` is not existing anymore. So far, everything is working fine ( I am using it with `pathprovider `)
 I think [this wiki](https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback) is not updated

@mehdok can you please confirm if `IsolateHolderService.setPluginRegi

[2021-07-10 17:41] joandervieira commented on #196
I have the same problem.
What is the name package of the firebase ?
`FLTFirebaseCorePlugin.register(with: registrar(forPlugin: "io.flutter.plugins.firebase.core")!)`
Is it ?

[2021-07-13 14:09] Piero512 opened #261 "Is the Wiki up to date?"
Hi.

I am looking into using some flutter plugins in the callback, but the example app in this repo has none of the things used for additional plugin support that the wiki indicates.

Last I remember, Flutter background callbacks had access to all native services in the V2 embedding, right?

What would be the updated recommendations for this?

[2021-07-15 05:13] mehdok commented on #261
Hi @Piero512
Thank you for opening an issue;

No, Wiki is not up to date. Right now, you don't need to do anything on Android, But follow the wiki for iOS.

[2021-07-15 05:15] mehdok commented on #260
Hi @venkateshironman
Thank you for opening an issue;

I'll look into it. Please provide any information that might help;

[2021-07-16 08:36] Wian-TMC opened #262 "App hangs after awaiting BackgroundLocator.unRegisterLocationUpdate() when background locator is not running"
Call `BackgroundLocator.unRegisterLocationUpdate()` when the background locator is not running. The reason for this was to combat the issue regarding the unreliable return of `BackgroundLocator.isRunning()` on iOS. Because of this I always call `BackgroundLocator.unRegisterLocationUpdate()` to ensure the locator is killed, even if it was not running, but calling `BackgroundLocator.unRegisterLocati

[2021-07-16 09:55] johnvolkov commented on #254
@mehdok there is an opportunity to solve this problem. This is very critical for my application :(

[2021-07-17 04:53] zeeshanahmad0201 commented on #261
I am building an where I need to send data to Firestore in the background even when the app is killed. When the app is in the background or foreground data is sent to Firestore but when the app is killed data did not send to Firestore. Can you tell me what could be the issue?

I'm using
[code]
Flutter
[code]
Dart
[code]

This is the code I'm trying to execute when data is received
[code]

[2021-07-17 05:44] zeeshanahmad0201 commented on #261
I found the problem. I need to add Firestore code in the callback to run even when the app is killed.

[code]

[2021-07-17 20:36] johnvolkov commented on #254
**How to reproduce the bug**

1. Сlone git@github.com:rekab-app/background_locator.git
2. Open folder "example" in android studio
3. Erase All Content and Settings on iOS emulator. Start Location as "City Run"
4. Run main dart in iOS emulator (At first, the app launches fine)
5. Click on the button "start"
6. Click "Allow While Using App"
6. Wait for the display of 30 points
6. Stop application in

[2021-07-18 07:10] mehdok commented on #254
Hi @Wian-TMC @johnvolkov
Thank you for opening an issue and providing steps to reproduce the issue;

I have tried the steps you provided, both on a simulator and a real device, but I couldn't reproduce the bug.
I'm using `version 1.6.4`;
Please try this version and let me know the result;

[2021-07-18 07:26] mehdok commented on #262
Hi @Wian-TMC
Thank you for opening an issue;

Fixed in [c2b66f9](https://github.com/rekab-app/background_locator/commit/c2b66f98a66b5fa7d7029d1dac1bec3d9fef35f1);

[2021-07-18 07:26] #262 closed

[2021-07-18 07:34] mehdok commented on #261
@zeeshanahmad0201
Glad to see you found the solution;

I just like to point that `port.listen` is just for updating the `UI` and won't be called when your app is in the background;
Every action that needs to be perform in the background should be inside the `callback` method;

[2021-07-18 07:34] #261 closed

[2021-07-18 07:41] mehdok commented on #256
Closing this issue because the is a similar issue like this (#158);
Please feel free to open this issue whenever you want;

[2021-07-18 07:41] #256 closed

[2021-07-18 08:41] johnvolkov commented on #254
@mehdok is your environment the same? Maybe the problem is, for example, in xcode?

Environment:
mac os 11.4
flutter 2.2.3
ios emulator 12 pro max 14.5
xcode 12.5.1
android studio 4.2.2

[2021-07-18 08:47] mehdok commented on #254
@johnvolkov
The environment is exactly the same as you.;
I'm using the latest version of everything;

[2021-07-18 11:10] johnvolkov commented on #254
@mehdok
In my case, the problem is reproduced only if I change the access settings to "always" using the system window, in the sequence I wrote about earlier. You need to wait for this system window to reproduce the problem.

<img width="483" alt="Screenshot 2021-07-17 at 21 33 25 " src="https://user-images.githubusercontent.com/15630163/126064855-01e6565f-5ba9-4889-a128-01034f23ab65.png">

If I c

[2021-07-18 13:19] mehdok commented on #254
In theory, both of them should work without any difference, I'll try to test both of them.

[2021-07-18 15:52] johnvolkov commented on #254
@mehdok
yes, this is extremely strange. I tried to reproduce the problem in my test case and got the error only 3 times out from 10.

[2021-07-18 15:58] mehdok commented on #254
Maybe we should concentrate on the error message instead of reproducing the error, please provide any additional log that you have.
I'll investigate it.

[2021-07-19 13:19] johnvolkov commented on #254
@mehdok my log:
2021-07-19 16:15:08.207538+0300 Runner[59446:6431906] [TSBackgroundFetch load]: (
)
2021-07-19 16:15:08.207923+0300 Runner[59446:6431906] [TSBGAppRefreshSubscriber load]: {
}
2021-07-19 16:15:08.673375+0300 Runner[59446:6431906] Metal API Validation Enabled
2021-07-19 16:15:09.054330+0300 Runner[59446:6431906] *** Assertion failure in -[FlutterEngine sendOnChannel:message:binaryRep

[2021-07-20 19:29] marcusmvfa commented on #254
I changed the simulator device to another one that i never used and it worked...

[2021-07-20 20:31] Wian-TMC commented on #254
This issue occurs on REAL devices as well, not just on simulators.

[2021-07-20 20:37] marcusmvfa commented on #254
Yes, i've done this and then tested on real device, it worked for me.

[2021-07-21 05:36] mehdok commented on #254
Hi guys, @Wian-TMC @johnvolkov @marcusmvfa

Thank you all for providing information to fix this bug;
I believe we have a [fix](https://github.com/rekab-app/background_locator/blob/b2fcb125001796f186189cbca970782da244c8f6/ios/Classes/BackgroundLocatorPlugin.m#L40);
Please test the new version (1.6.6) and let me know the result;

[2021-07-21 10:56] johnvolkov commented on #254
works.
@mehdok you're cool!
thank you, you saved my project 😀

[2021-07-22 06:51] mehdok commented on #254
Glad to hear it fixed;

[2021-07-22 06:51] #254 closed

[2021-07-22 11:54] saravananmnm opened #263 "FATAL EXCEPTION: java.lang.UnsatisfiedLinkError: No implementation found for io.flutter.view.FlutterCallbackInformation io.flutter.embedding.engine.FlutterJNI.nativeLookupCallbackInformation"
E/AndroidRuntime(18193): FATAL EXCEPTION: main
E/AndroidRuntime(18193): Process: com.courieralliance.driverca.dev, PID: 18193
E/AndroidRuntime(18193): java.lang.UnsatisfiedLinkError: No implementation found for io.flutter.view.FlutterCallbackInformation io.flutter.embedding.engine.FlutterJNI.nativeLookupCallbackInformation(long) (tried Java_io_flutter_embedding_engine_FlutterJNI_nativeLookupCallba

[2021-07-22 20:47] fauzipadlaw commented on #242
I ran flutter pub get and pod install, it still doesn't work:

[code]

[2021-07-27 14:02] Trteich commented on #263
I have the same issue on several devices android 10, 11

[2021-07-28 04:12] venkateshironman commented on #260
@mehdok
Until the iOS OS version update everything works good. After the OS update, background locator was working for 1 hour after that it stops

[2021-07-28 06:45] saravananmnm commented on #260
@mehdok  Same issue here.
When you enabled low power mode from ios, the location services get stopped.
Do you have any solution for this?

[2021-07-29 16:00] Trteich commented on #263
Dont know steps to reproduce from users. But I'm able to catch it every time I stop installed app through Android studio

[2021-07-29 16:44] Trteich commented on #263
I've covered whole body of function `internal fun IsolateHolderService.startLocatorService(context: Context)` into try/catch and it helped, but it'is complete fix (((((

[2021-07-30 05:45] #257 closed

[2021-08-03 18:16] Trteich commented on #185
Any updates?
I've found that this crash appeares on app killing while service is running. As I investigated,  service tries to be recreated, and reffer to flutter part of app, but it is dead. Tried to return START_NON_STICKY from onStartComand(). It helpend on clean Android, but no effect on fu**ing Samsung. It seems like Samsung ignores START_NON_STICKY.

I'm completely not sure that my solution

[2021-08-04 18:59] argo1 opened #264 "callbackhandle value begin Int."
Hi.

I encountered a problem that my initCallback was not called when I registered for location updates. After some investigation, I found out that the number value for my callback was small enough (2102889447) that it was "Int" not "Long".
So this code:

`(args[Keys.ARG_INIT_CALLBACK] as? Long)?.let { initCallbackHandle ->`

ended up as null and the callback was not initialized. For testing, I ch

[2021-08-05 01:14] JulianVolodia commented on #221
Hi @s15-coder could You test if adding
[code]
https://stackoverflow.com/a/68534628/16323705

just here:
[code]
or changing
[code]
would do the click?

[2021-08-05 01:15] badaszszsz commented on #221
Hi @s15-coder could You test if adding
[code]
https://stackoverflow.com/a/68534628/16323705

just here:
[code]
or changing
[code]
would do the click?

[2021-08-06 17:42] Wian-TMC commented on #254
@mehdok So this problem seems to actually still be present, though it now seems the app crashes more gracefully. With that I mean the app does not crash and close, but rather stops the app from functioning correctly (images from assets or network do not load and other strange behaviour as if the remainder of the app code does not run after the "graceful" crash).. It's very strange.

The app DOES s

[2021-08-10 04:48] mehdok commented on #254
Hi @Wian-TMC, Thank you for providing log data. Can you provide a scenario for producing this crash?

@johnvolkov Do you still have a problem with this?

[2021-08-10 04:53] mehdok commented on #264
Hi @argo1
Thank you for opening an issue.

The problem is really strange. In theory `Int` should be castable to `Long` without any problem.
I'll try to find a fix for this

[2021-08-10 06:28] Wian-TMC commented on #254
@mehdok I tried to reproduce this issue and specifically check if background locator causes it, but I am now also uncertain. Secondary crash logs indicate a problem with iOS and 'Metal' found here https://github.com/flutter/flutter/issues/76772 .

I think it is unwise to start digging for problems here just yet, until I am sure that it is background locator. Apologies for jumping to conclusions an

[2021-08-11 05:22] mehdok commented on #254
@Wian-TMC That's fine, we can discuss and reopen the issue whenever you want;

[2021-08-11 11:22] Wian-TMC commented on #263
Here are some additional logs of the error. This issue is causing daily crashes.

[code]

[2021-08-11 11:26] Wian-TMC opened #265 "[ANDROID] java.lang.IllegalStateException: FlutterCallbackInformati…formation(callbackHandle) must not be null"
Causes many crashes on android. Here are the crash logs:

[code]

[2021-08-11 11:54] Wian-TMC opened #266 "[ANDROID] java.lang.IllegalStateException: Reply already submitted"
Causes app to crash, but very seldom. Here are the app logs:

[code]

[2021-08-12 20:04] mehdok commented on #167
@Wian-TMC
Thank you man, I really appreciate your help.
I'll take a look into that library to see what they have done.

[2021-08-14 11:27] joandervieira opened #267 "[ANDROID] App crash on start backgroud locator service [NullPointerException: Attempt to read from field 'java.lang.String io.flutter.view.FlutterCallbackInformation.callbackLibraryPath' on a null object reference]"
The background locator do not start on Android:

Log error:
[code]

The AndroidManifest.xml file:
[code]

My android package:
<img width="306" alt="print_android" src="https://user-images.githubusercontent.com/5366686/129444657-706bf5d0-03fb-4959-8ebb-766370cd4e02.png">

The MainActivity.kt:
[code]

The GeneratedPluginRegistrant.java:
[code]

The flutter doctor:
[code]

[2021-08-15 05:15] mehdok commented on #167
@Wian-TMC
I tried to extract something from that plugin to help to solve our issue, the only thing that I could find is this issue [Audio Service interrupting firestore stream when starting](https://github.com/ryanheise/audio_service/issues/477)
The author explains that this is a firebase problem because of using a singleton, and he is trying to implement `audio_service plugin without using  `Isol

[2021-08-16 12:59] jocelyngriselle commented on #224
Hello,

i guess your are trying the code from the Wiki which is slightly incomplete, `LocationCallbackHandler` is just a Class containing all callbacks ( you have to create it yourself ) as you can see in the example here
https://github.com/rekab-app/background_locator/blob/master/example/lib/location_callback_handler.dart

Cheers

[2021-08-18 07:35] BartoszStasiurka commented on #267
I have similar  problem, I think. It's occurs after few minutes afer service starts.

[code]

[2021-08-25 09:29] saravananmnm commented on #263
@mehdok
This issue occurs when you change the location permission status always to deny.

No implementation found for io.flutter.view.FlutterCallbackInformation io.flutter.embedding.engine.FlutterJNI.nativeLookupCallbackInformation(long) (tried Java_io_flutter_embedding_engine_FlutterJNI_nativeLookupCallbackInformation and Java_io_flutter_embedding_engine_FlutterJNI_nativeLookupCallbackInformation

[2021-08-25 09:57] saravananmnm commented on #267
@joandervieira  have you override the below method from mainactivity?

 @Override
    public void configureFlutterEngine(@NonNull FlutterEngine flutterEngine) {
        GeneratedPluginRegistrant.registerWith(flutterEngine);
    }

[2021-08-25 11:02] Wian-TMC opened #268 "[ANDROID] Crash caused by java.lang.IllegalArgumentException"
Background locator fails to start on some Android 10 device apparent invalid notification argument for small icon. Here are the logs:

[code]

[2021-08-31 09:39] heshesh2010 opened #269 "No such module 'background_locator'"
when run app from xcode it says :

No such module 'background_locator'

import UIKit
import Flutter
import GoogleMaps
import background_locator

func registerPlugins(registry: FlutterPluginRegistry) -> () {
    if (!registry.hasPlugin("BackgroundLocatorPlugin")) {
        GeneratedPluginRegistrant.register(with: registry)
    }
}

@UIApplicationMain
@objc class AppDelegate: FlutterAppDelegate {

[2021-09-02 10:57] Wian-TMC commented on #263
Strange enough, I was able to replicate this when using the camera plugin image_picker to take a picture. When the app resumed after the picture was taken, this error occurred. It might suggest some faulty behaviour of background_locator when an app resumes after an image is taken.

[2021-09-06 12:10] socialpixe opened #270 "Hide Notifications"
Can i remove notification ?

[2021-09-07 09:24] quadir1188 opened #271 "Crash occurs while changing location permission from settings in Android devices"
Fatal Exception: java.lang.UnsatisfiedLinkError: No implementation found for io.flutter.view.FlutterCallbackInformation io.flutter.embedding.engine.FlutterJNI.nativeLookupCallbackInformation(long) (tried Java_io_flutter_embedding_engine_FlutterJNI_nativeLookupCallbackInformation and Java_io_flutter_embedding_engine_FlutterJNI_nativeLookupCallbackInformation__J)
       at io.flutter.embedding.engin

[2021-09-11 13:06] mehdok commented on #270
Hi @socialpixe
Thank you for opening an issue;

Short answer, No;
On Android the notification is necessary to keep the service alive;

[2021-09-11 13:06] #270 closed

[2021-09-11 13:09] mehdok commented on #269
Hi @heshesh2010
Thank you for opening an issue;

Try run `flutter pub get`, if it didn't solve the issue run `pod install` in `iOS` directory;
As always `clean` and `build` in `Xcode` might help;

[2021-09-11 13:11] mehdok commented on #268
Hi @Wian-TMC
Thank you for opening an issue;

Did you provide an icon or used the default one?

[2021-09-11 13:27] mehdok commented on #267
Hi @joandervieira
Thank you for opening an issue;

This is the only place that I look into `FlutterCallbackInformation`.

https://github.com/rekab-app/background_locator/blob/b2fcb125001796f186189cbca970782da244c8f6/android/src/main/kotlin/rekab/app/background_locator/IsolateHolderExtension.kt#L26

please make sure you have a **global** `callback` function.
You can also add some breakpoints around

[2021-09-11 13:30] mehdok commented on #271
Hi @quadir1188
Thank you for opening an issue;

- you are changing location permission from what to what?
- Besides that please make sure you are calling `  WidgetsFlutterBinding.ensureInitialized();` before starting the plugin;

[2021-09-11 13:32] mehdok commented on #266
Hi @Wian-TMC
Thank you for opening an issue;

I'll look into it;

[2021-09-11 13:35] mehdok commented on #265
Hi @Wian-TMC
Thank you for opening an issue;

- Make sure you have **global** `callback` function;
- Please add some breakpoints around this line to see if you can catch more information about the null field;
https://github.com/rekab-app/background_locator/blob/b2fcb125001796f186189cbca970782da244c8f6/android/src/main/kotlin/rekab/app/background_locator/IsolateHolderExtension.kt#L26

[2021-09-11 13:44] mehdok commented on #263
Hi guys;

Please make sure to run `WidgetsFlutterBinding.ensureInitialized();` before running the service;

[2021-09-12 12:14] Wian-TMC commented on #268
My notification icon is set to an empty string
[code]

[2021-09-12 12:28] Wian-TMC commented on #265
My callback is a static void function within a global scope of a helper class. So I think some more digging is necessary to get to the bottom of this issue. The issue happens quite randomly on different devices, so testing with breakpoints and hoping it breaks may take some time.

[2021-09-12 12:30] mehdok commented on #268
Can you provide a valid icon and see if the error persists or not?

[2021-09-12 12:33] mehdok commented on #265
Recently I can see lots of issues relating to `FlutterCallbackInformation`. So there might be something wrong with that.
I'll try to dig a little and read some documents about it, I also appreciate any help and suggestion;

[2021-09-12 12:34] Wian-TMC commented on #268
Sure.

[2021-09-12 12:44] Wian-TMC commented on #265
Could be. Some flutter engine updates do include unknown breaking changes

[2021-09-13 02:18] LeoHub-dev opened #272 "InitCallback not working at first call"
Hello everybody, when i call the "BackgroundLocator.registerLocationUpdate" function, the first time. The initCallback is not being called. But the normal callback does work. On the second call of the function, everything runs perfect. Any idea why this happens? Im at version 1.4.0+1

![image](https://user-images.githubusercontent.com/7474084/133014925-e7f71dcd-1f4a-49cf-8d25-11b00f4dab44.png)

[2021-09-13 05:21] quadir1188 commented on #271
Hello @mehdok
Thank you for the reply.

 - We are changing "Allow always" to "deny" or "Ask every time" permissions.
 - App is still crashing after adding WidgetsFlutterBinding.ensureInitialized();

[2021-09-13 06:18] mehdok commented on #271
So you change the permission to `Deny` or `Ask every time` and starting the plugin?

Please keep in mind that the plugin **doesn't** check the permission, It is your job to check if the permission is granted or not, if it is granted then start the plugin;

If your app is running and you changing the permission (downgrading it), `Android` will **terminate** the application, so it's normal for the a

[2021-09-13 06:25] mehdok commented on #272
Hi @LeoHub-dev
Thank you for opening an issue;

Please use the latest version [![pub package](https://img.shields.io/pub/v/background_locator.svg)](https://pub.dartlang.org/packages/background_locator) and see if this behavior still persists;

[2021-09-13 06:52] quadir1188 commented on #271
Yes, I am starting plugin after user grant permission to "Allow always" or "Allow while using the App" only .This crash occurs If we are changing location permission manually from phone setting.

[2021-09-13 09:39] daviddagan opened #273 "callback triggerd twice when closing app and reopen again"
I'm killing the service when the app is killed as you explained to me in your guide via the AndroidManifest.
and using the service just as you wrote it in the example. the service work great til im reopen the app again and then the service throws location twice

[2021-09-13 09:46] mehdok commented on #271
Please write a scenario for this, so I can follow your steps to produce this error.
It would be nice if you could provide a minimal working example.

[2021-09-13 09:48] mehdok commented on #273
Hi @daviddagan
Thank you for opening an issue;

Please provide more information, eg. your platform (`Android`, `iOS`).
Also, It would be nice if you could provide a minimal working example, so I can see what is happening exactly;

[2021-09-13 10:39] daviddagan commented on #273
hello @mehdok
I'm using an android emulator for this app and I register the isolate just like your example:
[code]
the app working fine till I kill the app. but when I click and reopen the app I'm getting twice the location data from the callback

[2021-09-13 14:53] quadir1188 commented on #271
Yes, please check below link for app video.
Background Locator app example video link : https://drive.google.com/file/d/1iV04bWuqBPU_SZjL2HBOiDXEtFY6h6aB/view
If we are downgrading app permission from phone setting then it stops app and shows crash at crashlytics.
My App video: https://drive.google.com/file/d/1mXJAhgbJ3EOI22xyA6HFKmxnVLnN6-Cq/view
Please let me know if you require any further info

[2021-09-13 15:16] LeoHub-dev commented on #272
Hello @mehdok, ok i will test in a new project just to check. Sadly in the actual project right now is not exactly posible to migrate to null safety, since is a large project.

[2021-09-14 03:53] quewen08 opened #274 "🤖 [ANDROID] When app runing in background, it only get a minute location data by android"
I clone your example code runing in RedMi 5, here is the `flutter doctor`
[code]

The Android Version is `8.1.0`
The MIUI Version is  MIUI 10 `9.8.29`

Questions:
     - The location dose not work when the app runing in background after one minutes
     - If only use the `android.location.LocationManager`,it may be add `LocationManager.NETWORK_PROVIDER` to help get the location data
---

[2021-09-14 16:13] jbxbergdev commented on #271
One possible fix is by modifying the `IsolateHolderService.startLocatorService()` method in `IsolateHolderExtension.kt` in a way that I`solateHolderService.backgroundEngine` gets initialized earlier: https://github.com/oligazar/background_locator/blob/master/android/src/main/kotlin/rekab/app/background_locator/IsolateHolderExtension.kt I don't know if that fixes the root problem, but at least the

[2021-09-15 05:25] irwing844 commented on #94
Same 😫

[2021-09-15 06:19] alfaruqrizqi18 opened #275 "Background Location is not working properly on Android 11"
1. I open my app then background location running well
2. When i push back until my app closed (to home smartphone), background location still running
3. But, when i open my app again, background location turning off
4. when I try to do Point 2 again, and i open my app again background location turning on

Any solution?

[2021-09-15 10:03] eveetc commented on #275
Just to give more feedback.
In my implementation this works, on Android 11 (with a phone and with an emulator)

[2021-09-16 02:12] alfaruqrizqi18 commented on #275
I've following the instructions as well and it runs well below Android 11

[2021-09-16 06:13] mehdok commented on #275
Hi @alfaruqrizqi18 @eveetc
Thank you for opening an issue;

- Can you see the location notification all the time on `Android 11`?
- It would be nice if you could try this on a real device;
- Please check if there is any strict buttery monitoring on your device, and exclude your app from them;

[2021-09-16 07:50] mehdok commented on #273
is the data different each time? or it is giving the same data twice?
It would be a great help if you could test on a real device and mention the `Android` version;

[2021-09-16 07:51] mehdok commented on #272
Greate, thanks;

[2021-09-16 07:56] mehdok commented on #274
Hi @quewen08
Thank you for opening an issue;

First, I have to say that the Chinese Rom are famous for their strict battery monitoring, so before any investigation please disable the battering monitoring service or add your app to their exceptions;

by the way, Can you still see the notification after one minute?

[2021-09-16 08:17] mehdok commented on #271
@quadir1188

I saw your videos, this is normal behavior for `Android` and `iOS`.

Also, take a look at this:

[Android Revoke Permissions when App is running - Can I recover the App](https://stackoverflow.com/questions/56362944/android-revoke-permissions-when-app-is-running-can-i-recover-the-app)

[2021-09-16 08:23] mehdok commented on #271
@jbxbergdev Thank you for your comment.

I can see that you added a `try catch`, am I right?
Catching an unknown error in a `try catch` is one of the worst abilities of `Java` and `Kotlin` and may lead you to a lot of problems later;

[2021-09-16 08:23] quewen08 commented on #274
Hi @mehdok
Thank you for your reply!

I really know this ROM is very hate. So I tried to add the app to the battery whitelist, then it worked!

[2021-09-16 08:30] quewen08 commented on #274
I forked your code and added a little functionality

https://github.com/quewen08/background_locator/commit/fefc19939c8648fb9de1700af5beb0896d380859

[2021-09-16 09:35] mehdok commented on #274
@quewen08
Thank you for your contribution;

I have added a little comment on your code, please change that part and submit a `PR`;

[2021-09-16 10:06] quewen08 commented on #274
@mehdok

Thank you comment, it looks nice! I changed that and submit a `pr`. Like you see #276

[2021-09-17 03:19] alfaruqrizqi18 commented on #275
Hi, @mehdok
Thank you for your response

* I can see location notification on Android 11, but when service was started I pressed back till Home Smartphone, and I open the app, location notification was dissapeared. And when I try again, it will show again
* I've tried this on my real device
* At this point, when I try to turn off my battery saver for my app, it runs well

I think at point 3 was he

[2021-09-17 06:41] mehdok commented on #275
It is strange that after turning off your battery saver you can still see this happening;
Please be sure that the battery monitor completely is off; Adding your app to the whitelist might help also;
Please share any other information that might help;

[2021-09-17 08:09] alfaruqrizqi18 commented on #275
I use Poco X3 NFC

[2021-09-17 18:20] DevinFlorentino opened #277 "Unable to start service rekab.app.background_locator.IsolateHolderService"
The plugin works when I run the app in debug mode. But crashes in debug mode

Any advice?

![image](https://user-images.githubusercontent.com/52498399/133835584-79011243-a456-41a3-a3cf-f394112809f3.png)

[2021-09-19 08:41] daviddagan commented on #273
same data twice, it happens only in emulator. I think the problem is when
i'm still in debug mode and  shut down and reopen the app in the emulator.
only then i get ping twice

‫בתאריך יום ה׳, 16 בספט׳ 2021 ב-10:50 מאת ‪mehdi sohrabi‬‏ <‪
***@***.***‬‏>:‬

[2021-09-20 10:47] jbxbergdev commented on #271
@mehdok I'm actually not the one who implemented this. From what I understand, the try/catch might be for logging purposes and therefore isn't critical.

[2021-09-20 12:51] tieorange commented on #255
Same for me on Android 8 and 9

[2021-09-21 16:14] #272 closed

[2021-09-22 14:45] alfaruqrizqi18 opened #278 "Get new location trigger by distanceFilter"
Hi, I got a problem. Can i just get a new location every 10meter?

When I tried to set interval to 0 and set distanceFilter to 10, I always get update within < 1 second. I just to get new location update when I reach every 10 meter

Can you help me?

[2021-09-24 18:04] piyushwani004 commented on #277
unable to start service...

[2021-09-28 08:24] #239 closed

[2021-09-29 12:44] socialpixe opened #279 "Restart service on device reboot (Android only) Not Working"
Everything working fine. But when we are restarting the App, the background service is not starting automatically.

Add the boot receive permission to AndroidManifest.xml:
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
Register BootBroadcastReceiver inside application tag:
<application
...
...
...

    <receiver android:name="rekab.app.background_locator.BootBroadcastR

[2021-10-02 10:13] argo1 commented on #265
Might be related to #264 . Callback value is Int not Long and it ends up as NULL because of ?.

[2021-10-02 10:28] argo1 commented on #266
Found at least one case when this happens:
Created pull request #280

[2021-10-04 19:55] jbxbergdev commented on #271
Hi @mehdok, any updates on this issue?

[2021-10-05 12:22] Nasirdev74 opened #281 "Does it work offline ??"
Sorry to ask such question. I tried to understand it, but no clue found.
I need to track user location even the user is offline.
does this plugin works offline too ??

[2021-10-05 14:43] Nasirdev74 opened #282 "Example app is not running ..."
I'm trying to implement the example app of this repository.
I added this dependency:
  background_locator: ^1.6.6
  location_permissions: ^3.0.0+1

& copied all file from background_locator/example/lib/
I tried to run the main function.
The app is running on the emulator.
& I got this on my console:

I/flutter ( 4218): Initializing...
I/flutter ( 4218): Initialization done
I/flutter ( 4218): Runni

[2021-10-06 06:52] ClaudeChey commented on #282
change the location_permission to [permission_handler](https://pub.dev/packages/permission_handler)

[2021-10-06 07:15] bardram commented on #282
I also changed to using the `permission_handler` plugin (the `location_handler` plugin is discontinued).

However, if you're on Android >=11, I had to set the location permissions manually - see this page:

* https://developer.android.com/training/location/permissions#request-background-location

[2021-10-06 07:17] bardram opened #283 "The 'location_handler' plugin is discontinued"
Since the `location_handler ` plugin is discontinued, maybe the example app should be updated to use the `permission_handler` plugin?

[2021-10-06 07:35] bardram opened #284 "Add API documentation"
Thanks for a well-maintained plugin.

However, it would be nice with some API documentation - for example, it is unclear to me what the different is between these two methods:

* `isServiceRunning()`
* `isRegisterLocationUpdate()`

?

[2021-10-06 17:32] #282 closed

[2021-10-08 09:55] VipulDamor opened #285 "The feature works in debug mode, but crashes with the following exception, in release mode"
[](https://stackoverflow.com/q/69227314/14285339)

[2021-10-08 10:11] #285 closed, assigned to nobody

[2021-10-12 11:27] jbxbergdev commented on #54
@mehdok I read through this thread and am not quite sure as how to handle the app being killed by the iOS system correctly. As far as I understand, some further actions are required for iOS? Can you (or somebody else on here) please explain these steps, or even better, add them to the plugin docs?

[2021-10-18 00:06] yacineblr commented on #269
![Capture d’écran 2021-10-18 à 02 06 05](https://user-images.githubusercontent.com/18519670/137649913-2bdd4963-b680-4655-b108-3c5d69b99ff8.png)

[2021-10-21 14:52] marcoheine opened #287 "App crashes after using camera"
I have a few users who have told me that the app crashes after taking a picture.  I can't reproduce it with the emulator.
I received the following error report:

[code]

ZTE Blade V10
Android 9 (SDK 28)

[2021-11-08 10:07] memarv commented on #267
Hi @mehdok

When system tries to restart foreground service (example after power manager app kills process) I get similar errors and service doesn't start:

`java.lang.UnsatisfiedLinkError: No implementation found for io.flutter.view.FlutterCallbackInformation io.flutter.embedding.engine.FlutterJNI.nativeLookupCallbackInformation(long) (tried Java_io_flutter_embedding_engine_FlutterJNI_nativeLooku

[2021-11-09 15:10] srmanc opened #288 "Plugin crashes on Android S / 12 with SDK 31"
Plugin crashes if it targets SDK level 31:
[code]

When requesting a PendingIntent it is now mandatory to additionally supply either a FLAG_IMMUTABLE or a FLAG_MUTABLE.
https://github.com/rekab-app/background_locator/blob/master/android/src/main/kotlin/rekab/app/background_locator/IsolateHolderService.kt#L99
This is a poor design choice by Google but it nevertheless crashes the consumer app.

[2021-11-19 14:38] zy693415 commented on #241
hi ，android 26 27 ， This kind of error happens again

[2021-11-26 01:41] insoon0930 commented on #54
@mehdok i just found out that latest version(1.6.6) example doesn't work in IOS when app is killed... (it works in android perfectly) Reading this issue, seems like you guys solved it, but is there anything else i need to do to use it? I'm confused because it doesn't work...

[2021-11-26 02:04] insoon0930 opened #290 "Only IOS it doesn't work when app is killed"
i just found out that latest version(1.6.6) example doesn't work in IOS when app is killed... (it works in android perfectly)

https://user-images.githubusercontent.com/74125508/143516050-6d152582-f790-40d0-ba9e-2828b75dcf4c.mov
(real device, iphone 11, IOS 15.1)

#54 Reading this issue, seems like you guys solved it, but is there anything else i need to do? I'm confused because it doesn't work...

[2021-11-26 02:07] #290 closed

[2021-11-26 02:08] insoon0930 opened #291 "Only IOS it doesn't work when app is killed"
i just found out that latest version(1.6.6) example doesn't work in IOS when app is killed... (it works in android perfectly)

https://user-images.githubusercontent.com/74125508/143516181-454c3711-44ba-47f7-99ac-b4fce68ee205.mov

(real device, iphone 11, IOS 15.1)

#54 Reading this issue, seems like you guys solved it, but is there anything else i need to do? I'm confused because it doesn't work..

[2021-11-26 06:13] andrewzakhartchouk commented on #291
Can you share the version of background_locator in your pubspec.yaml
Also the code that starts the loaction service?

[2021-11-26 11:39] insoon0930 commented on #291
first, thanks for the reply :)
the version is 1.6.6 and i used exactly same code with the 'plugin's example' by copy and paste..
does it work on your IOS device when it is killed?
now i'm wondering am i the only one struggling this

[2021-12-06 03:00] whitecloud-sas commented on #275
using Poco as well, same issue

[2021-12-08 02:45] alfaruqrizqi18 opened #294 "Can I hide notification service on Android?"
Hello, can I hide notification? I want to hide the notification from notification bar, but location service still update

[2021-12-08 10:24] srmanc opened #295 "Is this plugin not supported anymore?"
Hi guys,

please elaborate on whether this plugin is still suported.

There are at least two pending pull requests which fix crashing this plugin on Android 12 devices. Pull requests pass tests and community has confirmed that they work.

Given that the last commit to the repository was in July, please indicate whether you are still invested in handling the plugin or should someone else from the c

[2021-12-08 11:21] NJashwanth commented on #291
Even I am facing the same issue. Did you find any solution? I am using 1.6.6 version and working with example provided by Plugin.

[2021-12-14 17:38] lasd14 commented on #279
Same here, any fix?

[2021-12-16 12:47] daviddagan opened #296 "when opening phone after app working in background - Fatal Exception: java.lang.UnsatisfiedLinkError"
**No implementation found for io.flutter.view.FlutterCallbackInformation io.flutter.embedding.engine.FlutterJNI.nativeLookupCallbackInformation(long) (tried Java_io_flutter_embedding_engine_FlutterJNI_nativeLookupCallbackInformation and Java_io_flutter_embedding_engine_FlutterJNI_nativeLookupCallbackInformation__J)**

**stack trace**
io.flutter.embedding.engine.FlutterJNI.nativeLookupCallbackInfor

[2021-12-17 01:15] zy693415 commented on #211
android 8.1

android  8.1 I have the same problem,Brand is the oppo

[2021-12-27 21:35] MoacirSchmidt commented on #272
I can confirm this issue also occurs in v1.6.6

[2021-12-28 09:39] magnuswikhog commented on #94
@resfandiari I tried applying your fix (#297) but it still didn't work (tested on Google Pixel 4a with Android 12). I still get an error message that the app crashed after reboot, and the background service never seems to start. Anything more than this commit needed for a complete fix?

[2021-12-28 09:54] resfandiari commented on #94
There is a second problem #263 even though I fixed this one
And this PR https://github.com/rekabhq/background_locator/pull/292 fixed a second problem.
Please wait until these PRs #292 #297 are merged into master.

[2021-12-29 11:51] Maxamuss opened #298 "[iOS] Background locator remaining on even when `unRegisterLocationUpdate` called."
Hi,

I am getting reports from users that their location is continuing to be tracked for up to several days even when they have turned off location tracking within the app.

As a potential workaround, I would like to unregister the plugin automatically when it has been running for a given amount of time (say 4 hours). Do you have any suggestions on the best way to implement this?

[2022-01-05 00:16] insoon0930 commented on #291
still the same :(

[2022-01-05 01:45] andrewzakhartchouk commented on #291
I could get it to work on both platforms, on emulators and real devices. Have you followed all the instructions in the wiki?

[2022-01-05 03:53] MoacirSchmidt commented on #221
callback must be static

[2022-01-05 07:20] moahmmednms opened #299 "When click force stop from the app ,service fully disabled"
When click force stop from the app ,service fully disabled . anyone can check your end why it is happened in background locator

[2022-01-06 03:21] Kurogoma4D commented on #295
I agree.
I'm wondering if this repository will be maintained in the future, and who the maintainer is (or is not) now.
Based on the responses to this issue, the community can decide whether to fork this repository or help maintain it.

@mehdok @SaeedMasoumi

[2022-01-06 08:12] mehdok commented on #295
Sadly right now I don't have any time to spare, maybe in the near future I can contribute to the project regularly.

I might have some time this weekend to look into some PRs.

[2022-01-07 03:53] Kurogoma4D commented on #295
@mehdok Thank you for your time and reply!
I understand the situation, and I hope you are not overwhelmed (Sorry for my cheap English).
Thank you once again for your great work 👍

[2022-01-07 13:56] MoacirSchmidt commented on #267
This error occurs when BackgroundLocator.initialize is not called

[2022-01-07 15:53] 3wer3wer commented on #94
Are there any news on this topic? Thank you!

[2022-01-07 16:15] 3wer3wer commented on #273
I faced the same issue as @andrewzakhartchouk . It would be very helpful to detect if there is already a running service. Otherwise I my function would be triggered multiple times.

Thank you very much from Germany!

[2022-01-07 20:23] lenvaz commented on #169
Hi i am on the version
background_locator: ^1.6.6

I have been notified by the users that the app doesn't give location updates on Vivo V9 which has  FunTouch OS based on  Android 8.0 version.
The notification goes away as soon as the screen is turned off. Also the same thing happens when the app is killed on this device.

I tried to simulate similar scenarios on my Redmi note 8 pro and everything

[2022-01-10 02:22] eraprima12 commented on #299
Same here

[2022-01-10 04:44] eraprima12 opened #300 "Expecting an argument locationparserutil.kt"
I cant even build my apps bcs the update

[2022-01-10 06:39] mehdok commented on #300
Hi @eraprima12
Thank you for opening an issue.

Is there any error log?

[2022-01-10 13:41] jpaardekooper commented on #300
![image](https://user-images.githubusercontent.com/19644588/148775619-3561fe30-aaeb-4544-a378-69d99e06c4a9.png)

[2022-01-10 18:20] 3wer3wer opened #301 "Callback* not triggered"
After the update from 1.6.6 to 1.6.12 I am facing the problem that the Callback-print* (see below) is not triggered even if the plugin is running.

I receive the message: D/plugin (4622): sendLocationEvent... but the listener is not triggered to update the UI. I tested with 2 devices and 2 emulators. Maybe I forgot to update something in the AppDelegate.swift and build.gradle.

I am pretty new to

[2022-01-12 04:56] nick1377 commented on #301
Same. Looks like the code is throwing a Null is not a String error because the provider in the location json is missing.

[2022-01-12 09:59] evicoach opened #302 "Location code not detected in app store review"
Your app declares support for location in the UIBackgroundModes key in your Info.plist file but does not have any features that require persistent location. Apps that declare support for location in the UIBackgroundModes key in your Info.plist file must have features that require persistent location.

[2022-01-12 19:41] RohitRB commented on #130
@mehdok were you successful in your investigation to fix this issue programatically?

[2022-01-13 02:03] Kurogoma4D commented on #296
Hi @daviddagan .
Could you tell me detailed instructions on how to reproduce this?
I'm facing same error on my production app, but it confirmed only in Crashlytics, doesn't reproduce in my environment.

[2022-01-13 08:09] bungabear commented on #300
Same with me.

background_locator-1.6.12
![image](https://user-images.githubusercontent.com/22841704/149290366-1bb13be6-54f4-498e-a6b5-479d8522674a.png)

Flutter version 2.5.1
Kotlin version 1.3.50
Dart version 2.14.2
Android Studio (version 2020.3)

[2022-01-13 08:25] bungabear commented on #300
This problem is from Kotlin [trailing comma](https://kotlinlang.org/docs/whatsnew14.html#trailing-comma)
Change Kotlin version after 1.4 (ex. 1.4.30),

[2022-01-13 16:54] rulefahd commented on #301
true++++++++++

[2022-01-13 16:55] rulefahd opened #303 "Callback not triggered with sdk ">=2.12.0 <3.0.0""
did anyone find a fix??

[2022-01-13 18:45] daviddagan commented on #296
you need to add the killing serving when app is terminated option, than
open the service and terminate the app and then reopen the app

‫בתאריך יום ה׳, 13 בינו׳ 2022 ב-4:03 מאת ‪Kurogoma4D‬‏ <‪
***@***.***‬‏>:‬

[2022-01-13 19:18] ventseslav8 commented on #214
Hello! I had the same problem. Change it to LocationClient.android and now it shows:
D/BackgroundLocatorPlugin(12448): start locator with Android client
How can it be fixed? Thanks!

[2022-01-15 07:49] mehdok commented on #214
Hi,
It may depends on your phone, in some phone google location service is not available and your only choice would be default android location service.

[2022-01-15 07:55] mehdok commented on #130
@RohitRB not really, I even merged some PR from others about these issue, but non of them fixed the problem.

[2022-01-15 08:08] as2a3 commented on #303
I found this problem when I did the last update(1.6.12), unfortunately I downgraded to version 1.6.6.
It And it didn't work again until after I also undo to my last commit.

This running problem occurred:

Execution failed for task ':background_locator:compileDebugKotlin'.

I hope we can fix it soon.

[2022-01-18 12:00] RohitRB commented on #169
Hey @mehdok

Is there a way to restart the service when the app is in a killed state and when the OS somehow kills the location update service of our app?
will the dispose callback of the BackgroundLocator.registerLocationUpdate method be of any helpful in that area?

[2022-01-18 16:00] frankvollebregt opened #304 "sendLocationEvent reached, but no callback"
Hello. First of all, sorry if this is has been asked before, and thanks for the awesome package!

I set up the package similar to the example, but my Dart callback is never called (no difference if the app is running in the foreground or background).

In the console, I do see something like the following:
[code]
Where all logs have the same callback identifier.

Looking through the code, this seem

[2022-01-18 19:32] n0tc0ding commented on #303
Same issue after upgrading to 1.6.12

[2022-01-19 04:43] AndroidDev68 commented on #301
same problem

[2022-01-19 18:21] n0tc0ding commented on #301
same problem

[2022-01-20 05:07] nick1377 commented on #304
1.6.12 is broken. You have to rollback to 1.6.6. The issue is actually caused by a null exception in the fromJson method in location_dto.dart due to the added provider field for location.

[2022-01-20 07:35] Kurogoma4D commented on #296
Thanks, I tried it several times, but the probrem didn't reproduce...

[2022-01-20 12:23] RohitRB commented on #304
@nick1377  Thanks for the update. I was facing the same problem.

[2022-01-20 13:05] RohitRB commented on #304
Does this plugin support sdk 31 (Android 12) ?

As seen in the build.gradle file it says
compileSdkVersion 30

@mehdok
@nick1377

[2022-01-20 13:31] frankvollebregt commented on #304
@RohitRB I think it should, given that the most recent patch specifically mentions fixing compatibility with the Android 12 permissions.

My older test app with a 6-12 months old version of this plugin even works fine on my Android 12 Pixel 6.

[2022-01-20 13:49] RohitRB commented on #304
@frankvollebregt

thanks for your feedback. But i am facing issues with this new OS called FunTouch OS running android 12, 11

[2022-01-21 07:16] daviddagan commented on #296
👍

‫בתאריך יום ה׳, 20 בינו׳ 2022 ב-9:35 מאת ‪Kurogoma4D‬‏ <‪
***@***.***‬‏>:‬

[2022-01-21 08:35] Habil24 commented on #185
Same issue

[2022-01-21 08:36] Habil24 commented on #267
Experiencing same issue

[2022-01-21 08:45] RohitRB commented on #304
What can be the min interval that we can go to in seconds when keeping distance filter 1 meter so that the OS doesn't ban our app and we stop receiving location updates?

this question is a bit off track but i find no other place to put it.
@mehdok
@atsumo
@moovida
@splangi
@gomazaba

[2022-01-22 10:27] justjcool commented on #301
Same problem

[2022-01-24 08:25] frankvollebregt commented on #304
Hi @nick1377, thanks for your answer. Unfortunately, it still won't work for me after rolling back the package version. Running the `example` app with 1.6.6 works, so I'll try to adapt my code to that and hope I can get it working that way.

[2022-01-24 09:28] frankvollebregt commented on #304
I just ran the app with the `--no-sound-null-safety` flag, after which the callbacks come through as expected. This is using version 1.6.6 of the package.

[2022-01-24 10:34] frankvollebregt commented on #304
You were completely right @nick1377, it was caused by the `provider` being `null` in the `fromJson` method. For now, I've created a fork of the repo where I set the `provider` to an empty String if it's missing. This seems to resolve the issue.

I'm not sure whether this is a solution that should be applied, or if it should instead be ensured that the provider is set: At any rate, if anyone wants

[2022-01-24 12:23] frankvollebregt commented on #301
I made a fork where I set it to an empty String by default, which seems to indeed solve the issue.
[code]
It should probably be included in the actual JSON instead, but for now this might help

[2022-01-24 12:24] frankvollebregt commented on #304
As this issue is essentially the same as #301 I'll close this one.

[2022-01-24 12:24] #304 closed, assigned to nobody

[2022-01-24 19:28] CristianKoh1 commented on #300
Exacto, es la ultima coma.
Yo la elimine y se soluciono el problema.
![image](https://user-images.githubusercontent.com/45083832/150850847-983bbb1f-eed2-4c83-b6a6-79ac892b552a.png)

[2022-01-24 19:59] CristianKoh1 commented on #301
I solved it in the following way
![image](https://user-images.githubusercontent.com/45083832/150855439-ece79785-c213-43da-b7d2-0f0aa2f70634.png)

[2022-01-24 22:05] frankvollebregt commented on #301
Similar to what I did, I used a slightly shorter notation to do the same thing
[code]

[2022-01-24 22:51] CristianKoh1 commented on #303
I have already submitted a merge request, solving this problem.

[2022-01-28 10:39] jbxbergdev commented on #271
@mehdok *ping*

[2022-01-30 10:36] allanguintu commented on #272
Hello @mehdok, this issue is still present in v1.6.12.
Any idea how to work around this issue?

Thank you.

[2022-01-31 18:48] rulefahd opened #307 "Does this work with IOS all the time in background ?"
i have tested on android but on IOS , will it work all the time , or will just keep sending every 15 mins like background_fetch??

[2022-02-02 04:31] mfirmansyahidris commented on #303
try to remove pubspec.lock and run "pub clean"

[2022-02-02 18:38] eveetc commented on #263
I've got the same issue happening on Android 11 and 12 devices.
Fortunately, "only" on 5

[2022-02-03 19:13] FetFrumos opened #309 "IOS it doesn't work when app is killed(Android is working)"
I using last version plugin background_locator: ^1.6.12. But example doesn't work in IOS when app is killed. it works in android perfectly.
I followed all the instructions in the wiki. What could be the reason? Any advice - I'll be grateful. By the way, the example can be updated.

[2022-02-04 05:29] justjcool opened #310 "please create rules and regulations for issue report and new code commit."
I have noticed many merge request codes are not properly formatted and did not provide proper change info in the commits. I request you to please create rules and regulations for reporting issues and for commits.

[2022-02-04 06:48] signalmeeting commented on #291
yes I did, and it looks like other people having the same issue on IOS as you see on Issues ㅜㅡㅜ

[2022-02-04 06:51] insoon0930 commented on #291
yes I did, and it looks like other people having the same issue on IOS as you see on Issues ㅜㅡㅜ

[2022-02-06 12:37] daviddagan commented on #304
same issue here, please fix it as soon as you can

[2022-02-06 22:16] RohitRB commented on #304
Please remove my email from this email

Thanks,
Rohit Rajnikant

M: 9099 20 9892 | Email: ***@***.***

On Sun, Feb 6, 2022 at 6:07 PM daviddagan ***@***.***> wrote:

[2022-02-07 20:41] elycabrall commented on #279
same

[2022-02-11 11:07] jesussmile opened #312 "Null check operator used on a null value"
Hi!
I am just trying out this plugin but keep running into the null check issue,
here is my code

[code]

The error log
[code]

[2022-02-16 18:29] FetFrumos commented on #309
any news? anybody here?

[2022-02-17 05:25] OrtezApp opened #313 "A problem occurred configuring project ':background_locator'."
While build the app get an error like

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':background_locator'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

BUILD FAILED in 18s
Exception: Gradl

[2022-02-17 05:44] allanguintu opened #314 "init Callback is not being called on the first run"
Hi,

I know this issue is the same as #272 but it is still remain unresolved.

To reproduce, just download the code example and run the project.
When you click the start button for the first time you will not see on the console the lines called with print().
However when you click the stopped button and click on the start button again, you will see on the consoles the lines called with print().

I

[2022-02-17 15:07] furkankyildirim commented on #298
I have same issue. Even if I close background locator with `unRegisterLocationUpdate`, when I closed the app, navigation icon appears on top on iOS.

[2022-02-18 14:56] janosroden commented on #312
I think you can't use lambda callback, use global or static callback instead

[2022-02-18 15:04] janosroden commented on #313
Wild guess but check `repositories` in build.gradle. Both in buildscript and allprojects (see example project)

[2022-02-18 15:08] treacks5 commented on #309
Same here.
Potentially same issue #291 🤷‍♂️

Details :

I have a flutter iOS mobile app that display a push notification (using 'https://fcm.googleapis.com/fcm/send') every time the location callback is trigger.

I receive the location notification on foreground and background, but not when I manually kill the app.
What is curious is that I can see the native navigation icon on the top left (next

[2022-02-19 21:16] MoacirSchmidt commented on #272
Congratulations for you great package! unfortunately this issue makes it completely unfeasible since there is no other way to pass data to background serve

[2022-03-02 20:01] ventseslav8 commented on #181
Hello! I have the same error. The strange is that it was working fine some weeks ago and now it shows this thing everytime when it is trying to find location.
All dart files also all dependencies from pubspec from the example app are included. Also Setup for android is done.

[code]
`

[2022-03-08 02:54] #274 closed

[2022-03-08 09:32] p1pahareAlpha commented on #181
I am receiving this error on both Android and iOS applications, can you please help. on both System I am running flutter version 2.10+. the callback is running and also same code is working on the Main isolate.

`[MissingPluginException(No implementation found for method getTemporaryDirectory on channel plugins.flutter.io/path_provider]
`

[2022-03-08 10:03] p1pahareAlpha commented on #181
the problem started occurring when I ran command `flutter pub upgrade`. I used this solution and It worked

https://github.com/flutter/flutter/issues/99155#issuecomment-1052023743

[2022-03-10 08:54] lulupointu opened #316 "[iOS 🐛] Compatibility with other plugin"
## The issue

I'm developing a plugin which uses a native SDK to operate. The issue is that **when adding my plugin and `background_locator` to an app, the native SDK of my plugin can no longer communicate with my dart code.**

After investigating, is seems that the problematic part is [the swift code you ask to add during initialization](https://github.com/rekabhq/background_locator/wiki/Setup#io

[2022-03-12 16:21] surveshoeb commented on #225
Hi @marcusmvfa can you show me how did you fix this issue?

[2022-03-12 22:58] marcusmvfa commented on #225
Hello @surveshoeb, I'm sorry but i didn't remember it was fixed since has passed almost an year

[2022-03-13 12:42] surveshoeb commented on #285
@VipulDamor  Any update?

[2022-03-16 19:10] Mayb3Nots commented on #309
When you terminate the app did you test after moving the location about 500m away? Because the way IOS works is it will only send the device's location after ~500m location change when the app is terminated.  If it doesn't move it won't trigger.

[2022-03-17 10:42] FetFrumos commented on #309
yes, after the application is killed - it does not work, on any melt. @Mayb3Nots  do you have a working example?

[2022-03-24 15:29] daviddagan commented on #314
same experience in my app too

[2022-03-29 11:23] umerfarooq7111 commented on #181
I'm getting same issue. i have run the example. my sdk is >=2.7.0 <3.0.0. Any body can help me?

[2022-03-29 18:19] cledilsonwisp commented on #294
estou esperando também.

[2022-03-31 06:53] umerfarooq7111 opened #318 "Use of other plugin in callback"
I'm getting "MissingPluginException(No implementation found for method getAll on channel plugins.flutter.io/shared_preferences)"

In AndroidManifest file
android:name="${applicationName}"

In pub.spec

sdk: '>=2.12.0 <3.0.0'

background_locator: ^1.6.6

I have followed
https://github.com/rekabhq/background_locator/wiki/Use-other-plugins-in-callback

Anyone can help

[2022-03-31 11:27] ventseslav8 commented on #181
This helps for android:
`if (Platform.isAndroid) PathProviderAndroid.registerWith();`
Place it before using the functions.
And still not tested but this should help for IOS:
`if (Platform.isIOS) PathProviderIOS.registerWith();`

Also for more information follow the link from the [previous comment](https://github.com/rekabhq/background_locator/issues/181#issuecomment-1061604873), the link is [link]

[2022-03-31 19:15] Habil24 commented on #312
Yes this is the, exact reason for getting this error

[2022-03-31 19:23] Habil24 opened #319 "Background crashes on Android when the app stays in background"
Hi, we are getting repetitive crashes in firebase analytics in our app with the error below. It does not happen on iOS,
however, it happens frequently on Android. The issue is hard to reproduce. Usually, after its state changes to the background
and a few hours pass (1.5-4 hours) the app crashes in the background. I would really appreciate any help or feedback about this issue because it exists fo

[2022-04-01 01:03] jesussmile commented on #312
Hi habil!
I am new to flutter and can't implement static or global call back can you please post your code snippet of this implementation?

[2022-04-01 14:21] Habil24 commented on #312
Hi, you just need to declare a static function like below:
[code]
Then pass it as an initial argument to the `registerLocationUpdate` function like below:
[code]

[2022-04-01 14:31] jesussmile commented on #312
Thank you sir!   @Habil24 @janosroden

[2022-04-02 17:51] saravananmnm commented on #319
This issue exists all version of background locator.
Why this issue has not resolved yet?

[2022-04-02 19:39] saravananmnm opened #320 "Callback method was not called from 1.6.12. But its printing locations."
D/plugin  ( 4252): sendLocationEvent {callback=8931727499, location={altitude=0.0, heading=90.0, latitude=11.01645, accuracy=5.0, speed_accuracy=0.5, time=1.648927120997E12, is_mocked=false, speed=0.0, longitude=76.9599733}}
D/plugin  ( 4252): sendLocationEvent {callback=8931727499, location={altitude=0.0, heading=90.0, latitude=11.01645, accuracy=5.0, speed_accuracy=0.5, time=1.648927126997E12, i

[2022-04-02 19:40] saravananmnm commented on #320
` await BackgroundLocator.registerLocationUpdate(
            LocationCallbackHandler.callback,
            initCallback: LocationCallbackHandler.initCallback,
            initDataCallback: data,
            disposeCallback: LocationCallbackHandler.disposeCallback,
            autoStop: false,
            iosSettings: IOSSettings(
                accuracy: LocationAccuracy.NAVIGATION, distanceFilt

[2022-04-03 12:16] jesussmile commented on #312
sorry for my poor implementation, I just can't get anywhere.
If you have time could you please look into the code below and help me out?
I tried as you said but can't get anywhere.. neither do I get the notification nor do I get the location.

[code]

[2022-04-03 18:02] Habil24 commented on #319
There is an[ opened pull request](https://github.com/rekabhq/background_locator/pull/292) regarding this. However, the issue persists.

[2022-04-04 21:02] daniyal471 commented on #320
same error

[2022-04-05 07:43] M-Ali-D commented on #185
It worked for me Thanks.

[2022-04-05 11:07] Habil24 commented on #185
Hi, where should we add this line in our app?

[2022-04-06 08:50] ReaperTech opened #321 "imports 'file_manager.dart', 'location_callback_handler.dart', 'location_service_repository.dart' - what do they do?"
Hello, can someone kindly advise me about the imports 'file_manager.dart', 'location_callback_handler.dart', 'location_service_repository.dart' - what do they do? They are imported in the example on this page: [https://github.com/rekabhq/background_locator/blob/master/example/lib/main.dart] . I understand that the location_callback_handler.dart will probably execute code when a location is receive

[2022-04-07 21:16] Maaar97 commented on #320
Same for me
I'm using background_location 1.6.12 with Flutter 2.8.1
The native event is triggered but the callback is not

**Edit:** I fixed it changing the **location_dto.dart** file to look like it is on some active PR

[2022-04-08 05:16] jesussmile opened #322 "Null check operator used on a null value when using a static function"
I have a `static void` method that always returns a `null check error` , The same line of code works fine with other methods/ functions. I have no clue why this is happening.

The configMaps.dart (global declaration)
[code]
Next on main.dart
[code]

HomeTabPages
[code]
The two methods here `makeDriverOnlineNow()` and `getLocationLiveUpdates()` both implement
[code]
For  `makeDriverOnlineNow()` the

[2022-04-08 12:33] Habil24 commented on #185
Hi, where should we add this line in our app?

[2022-04-12 09:20] willemvanleeuwen opened #323 "[iOS] Unwanted 'snap to road' GPS signal"
We see a difference between the GPS track from iOS devices vs Android. It seems that iOS devices do some 'snap to road' algoritm that is causing an inaccurate signal.

Is there any way to prevent this snap to road feature? We already downsized from 'BEST' to 'HIGH' configuration.
![GPS example](https://user-images.githubusercontent.com/11671067/162926621-d49464c2-c760-4322-89b6-ff545e7b5401.jpg)

[2022-04-13 05:24] #159 closed

[2022-04-13 11:32] jbxbergdev opened #324 "Android: Make network location optional or prioritize GPS location"
In some use cases, only GPS positions are desired, as network locations may be badly inaccurate or even unplausible. So the type of requested location provider should be configurable from the Flutter side.

Also, it seems that there is no priorization of GPS positions over network positions, regarding what gets communicated to the Flutter code. Looking at the code, it appears as if locations are o

[2022-04-13 12:17] jbxbergdev commented on #295
@mehdok what's the curent status? It would be good to know whether or not we can expect updates to this project in the future. Thanks!

[2022-04-20 15:53] Yukams commented on #79
Did you guys found out how to fix this issue ? I have the same problem when rebooting the android simulator :(

[2022-04-20 15:55] Yukams commented on #320
Yup, [that](https://github.com/rekabhq/background_locator/issues/301#issuecomment-1020593821) fixed it for me, just modify location_dto.dart according to this topic

[2022-04-20 16:15] Yukams commented on #295
@mehdok just pinging you again about this

[2022-04-20 16:36] Yukams commented on #94
@mehdok man please 🍡

[2022-04-20 16:39] Yukams commented on #94
@resfandiari still got crashes on phone reboot ?

[2022-04-20 16:47] resfandiari commented on #94
yes because this PR #292 has not yet been merged.

[2022-04-21 13:39] Yukams commented on #94
@resfandiari I made a working [fork](https://github.com/Yukams/background_locator_fixed) of this repo. Any idea where I could share it so everyone could try it and see if they can work with it ?
It's just a compilation of the currently opened pull request but it took me a while so if I could save some time to someone else...

[2022-04-21 13:49] Yukams commented on #295
Just in case, I made a working version of this repo on this [fork](https://github.com/Yukams/background_locator_fixed). It's kind of a compilation of the actual pull requests. I hope it helps someone and I hope it's working fine for anyone using it

[2022-04-25 06:49] Yukams commented on #321
Hi @ReaperTech,

**file_manager.dart** is used as a logging tool
**location_callback_handler.dart** is using location_service_repository.dart's functions but wrapping them in a static function as it is required to give BackgroundLocator.registerLocationUpdate static functions as callbacks.
**location_service_repository.dart** is where all the logic and the code is happening :)

Though it's not man

[2022-04-25 14:52] caiobraga commented on #320
how to change the location_dto.dart file? i found it, but don't know what to do with it

[2022-04-25 15:19] caiobraga commented on #320
nevermind, i found the solution folowing the link of yukams

[2022-04-25 17:01] Yukams commented on #320
If you ever have problems with the plugin, I'm just letting you guys know that I have a fully working fork [here](https://github.com/Yukams/background_locator_fixed). For example if you need the app to be up again after an Android reboot.

[2022-04-25 17:04] Yukams commented on #319
If someone still has the problem, you could try my [fork](https://github.com/Yukams/background_locator_fixed), maybe it would work.

[2022-04-25 17:10] Yukams commented on #318
Ok so if anyone has this problem, follow [this](https://github.com/flutter/flutter/issues/98473#issuecomment-1041895729) for shared_preference and [this ](https://github.com/flutter/flutter/issues/99155#issuecomment-1052023743) for path_provider.

Edit : This is not an issue related to background_locator, it's directy from Flutter framework.

[2022-04-25 19:25] caiobraga commented on #320
thank you, i also did a fork here: https://github.com/caiobraga/background_locator.git if you whant to check, we could help each other.

[2022-04-27 10:46] AbdelrahmanAshraf98 opened #325 "Execution failed for task ':background_locator:compileDebugKotlin'."
### i face this problem while running app after adding package dependency and permissions in manifest file
Launching lib\main.dart on Redmi Note 8 Pro in debug mode...
Running Gradle task 'assembleDebug'...
e: C:\Users\Lenovo\AppData\Local\Pub\Cache\hosted\pub.dartlang.org\background_locator-1.6.12\android\src\main\kotlin\rekab\app\background_locator\provider\LocationParserUtil.kt: (31, 60): Expec

[2022-04-29 07:30] royer opened #326 "example does not work"
only test on android.
App is start. but in debug console there has some info:

and Status is always "**Is not running.**"
there is nothing status change after start button press.
and after press stop button has a log info:

flutter doctor output:

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.10.3, on macOS 12.3.1 21E258 darwin-arm, locale en-CA)
[✓] An

[2022-04-30 15:29] abdulwahidkahar opened #328 "V/PhoneWindow(32349): DecorView setVisiblity: visibility = 0, Parent = android.view.ViewRootImpl@fd68cfe, this = DecorView@7c39c5f[MainActivity]"
V/PhoneWindow(32349): DecorView setVisiblity: visibility = 0, Parent = android.view.ViewRootImpl@fd68cfe, this = DecorView@7c39c5f[MainActivity]

[2022-05-12 06:55] stingrayx opened #330 "Build fails after upgrade to flutter 3.0"
Hello,

just wanted to let you know that there seems an issue with the latest flutter release 3.0 and this plugin.

After upgrading my flutter the build of my app using background_locator 1.6.12 gives following errors:

[code]

Best regards
Thomas

[2022-05-12 07:33] stingrayx commented on #330
Just in case someone is experiencing the same issue. Seems that the fork [here](https://github.com/caiobraga/background_locator) has already a fix for this problem!

[2022-05-12 12:32] sterrana commented on #330
I just updated to 3.0 and this package raises a lot of errors.
With the fork above a big part of warnings are resolved, but in my case I had to manually activate MultiDex and remove ! from background_locator.dart (line 34).

[2022-05-12 12:35] Yukams commented on #330
@caiobraga do you think you could fix your branch accordingly to @sterrana's comment ?

[2022-05-15 12:16] Panda-Srujan opened #331 "I've been facing issues with the execution of the example provided in this repository."
I'm trying to track location in the background using flutter and to do so I'm using the background_locator plugin. I've declared a class variable of File type to save the log in the background. The global variable is built at the very beginning of the class.

Issue: While invoking the callback method, the global variable built is becoming null. So though I could see the location log in my console,

[2022-05-15 12:45] Panda-Srujan commented on #326
@royer Did the issue you're facing with the example got resolved?

I've been facing certain issues, just wanted to check are we facing the same issue or different.

Here is the issue link! [issue link](https://github.com/rekabhq/background_locator/issues/331)

[2022-05-15 16:37] royer commented on #326
Not yet.

[2022-05-15 18:06] eomer commented on #330
arg. upgraded from dart 2.16.2  flutter 2.10.5  to  dart 2.17.0 and flutter 3.0.0 get many error and build failed..

Dart SDK version: 2.17.0 (stable) (Mon May 9 10:36:47 2022 +0200) on "windows_x64"
flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, 3.0.0, on Microsoft Windows [version 10.0.19043.1706], locale fr-FR)
[√] Android toolchain - dev

[2022-05-16 06:12] Alfaizkhan commented on #330
Here is the fix for flutter 3.0

https://github.com/Alfaizkhan/background_locator

Check it out and try.

[2022-05-16 06:31] kivocsa99 commented on #330
@Alfaizkhan i can confirm that it is still not working and there is a lot of building error

[2022-05-16 06:32] Alfaizkhan commented on #330
Can you please post a build logs here.

[2022-05-16 06:49] kivocsa99 commented on #330
@Alfaizkhan iam going to build now but long story short , it first asked me to upgrade my compile and target SDK versions to 31
then there is the whole ->
[code]

[2022-05-16 06:50] kivocsa99 commented on #330
@Alfaizkhan i have not copied anything , i just ran your example in the git repo

[2022-05-16 06:52] kivocsa99 commented on #330
[code]

[2022-05-16 06:53] Alfaizkhan commented on #330
Let me try again.

[2022-05-16 07:23] Alfaizkhan commented on #330
Change compileSdkVersion to 31 is working fine for me.

[2022-05-16 07:46] kivocsa99 commented on #330
@Alfaizkhan
[code]

[2022-05-16 07:47] kivocsa99 commented on #330
@Alfaizkhan here is the build gradle and it is not working

[2022-05-16 07:53] kivocsa99 commented on #330
@Alfaizkhan i've cloned it another time just to check if i did smth wrong but same thing even when upgrading the compileSDKversion

[2022-05-16 07:56] kivocsa99 commented on #330
@Alfaizkhan if you are not able to produce the problem you are more than welcome to get into my pc with teamviewer or anydesk

[2022-05-16 11:59] imsamgarg commented on #330
https://github.com/imsamgarg/background_locator

try it, fixes all flutter 3 issues

[2022-05-16 14:44] Yukams commented on #316
Hi, any news about that ? I really can't make work the iOS part of this plugin :(

[2022-05-17 06:44] sultan18kh commented on #283
Use the location package and implement the following code:

[https://pub.dev/packages/location](url)

[code]

[2022-05-18 10:05] sultan18kh opened #333 "Execution failed for task ':background_locator:compileDebugKotlin' after Upgrading to Flutter 3.0.0"
Was working fine before. But started facing this issue after upgrading to Flutter 3.0.0.

[code]

[2022-05-20 07:20] yakupbaser commented on #333
is there any update for that error?

[2022-05-21 18:13] santa112358 commented on #301
@SaeedMasoumi @easazade @payam-zahedi
This package does not work on latest version. We all need to use the forked branch at the moment.
Please solve this issue as soon as possible, as it seems critical and will not take much time to fix.

Thank you.

[2022-05-23 07:29] payam-zahedi commented on #301
@santa112358
It seems that this package has not maintained for a long time.
I will work on this package this weekend.

[2022-05-23 07:36] payam-zahedi commented on #301
@santa112358 @frankvollebregt @CristianKoh1
seems we have open PR that worked on this issue.
#317
I think this will solve the problem.

[2022-05-23 12:29] srmncnk commented on #295
With the release of flutter 3.x.x there are even more pull requests that need attention. Forking the project is fine, but we would all benefit greatly if all relevant pull requests, that are really needed in production, are available from pub.dev.

Everything else just feels like hacking an unsupported project.

[2022-05-24 08:25] abdulsalamaljamal commented on #333
Facing same error after upgrading to flutter 3.0.0.

[2022-05-25 07:49] frankvollebregt commented on #301
Yeah, there are a few PRs open that could resolve this. It's up to you to pick which one you like best I guess. While you're taking a look, fixing the warnings caused by Flutter 3.0 is probably a good idea too :D

Thanks for putting in the time to fix it

[2022-05-25 13:40] glofru commented on #304
I fix this also for Flutter 3.0: https://github.com/glofru/background_locator

[2022-05-31 16:22] guigzp commented on #326
Any updates on this?

[2022-06-01 05:27] DarshitAnjaria commented on #333
Facing the same issue.

[2022-06-01 13:09] venkateshkadalii commented on #333
Facing the same issue, after upgrading flutter sdk to latest. Any fix?

[2022-06-04 10:16] shahmirzali49 commented on #236
@mehdok any updates ?

[2022-06-05 07:10] santa112358 commented on #256
@mehdok
This issue itself seems different from #158
The issue of firestore is solved by https://github.com/firebase/flutterfire/issues/4108, but firebase storage seems not.
I think it's better to reopen this.

Thank you.

[2022-06-08 13:33] moovida opened #337 "Question for F-Droid deployment: how to remove google services"
Hi, I have a question related to google services.
While the plugin allows the user to choose if g-services should be enabled or not, it references the libraries anyways.

I am in the situation that I would like to deploy my app on F-Droid, but they allow only free and open source libraries there.
Right now I am blocked by the Kotlin code that needs to change in order to avoid g-services imports, s

[2022-06-09 04:20] as2a3 commented on #333
This fork fixed my code [Answer](https://github.com/rekabhq/background_locator/issues/330#issuecomment-1124633873)

Edit in pubspec.yaml file
`background_locator:
    git:
      url: https://github.com/caiobraga/background_locator`

![Capture](https://user-images.githubusercontent.com/13108811/172763931-40b19e1e-378b-43be-a1fc-1a15602e15c3.PNG)

[2022-06-17 05:29] andrewzakhartchouk opened #339 "Starting Background Locator on Android 12 error (PlatformException('registerLocator' requires the ACCESS_FINE_LOCATION permission., null, null, null))"
I had not noticed this earlier in the year for whatever reason, but on background_locator 1.6.6, Android 12 devices would crash when trying to start the locator.
The error/crashes still persist when upgrading to the latest version (1.6.12).
Older versions of Android do not have this issue.

[code]

With some poking around, the piece of code that throws this error (found in BackgroundLocatorPlugin.

[2022-06-20 07:03] mahira13 commented on #185
did you find where to add this line?

[2022-06-20 08:12] Yukams opened #340 "Let's work all together on an other fork ?"
Hi dear community,

I've been working with (or against) this repository for 2 months now. I worked on fixing it on [my branch](https://github.com/Yukams/background_locator_fixed/blob/master/README.md) and succeeded to make it work in Android as expected (phone reboot, app killed, re-opening the app, support for Flutter 3.0, callback working properly) thanks to some of the pull requests open here.

[2022-06-20 14:39] havenappstore opened #341 "[ERROR] Failed binding IPv4 listening socket: Address already in use (48) in iOS"
Hi,

i am unable to initialize BackgroundLocator.initialize(), I am getting [ERROR] Failed binding IPv4 listening socket: Address already in use (48) in iOS .

[2022-06-24 18:55] lasd14 commented on #340
Hi @Yukams I think that is a good idea what you propose, after all thats the objetive of open source.

PD: I was looking at your package and I see that you solved the reboot issue, my only question is that I test trying to save the location updates in a database at the time of reboot and this is not doing it, would you know why? (That is, when you start the service and once you restart the cell ph

[2022-06-25 09:34] iamsahilsonawane commented on #339
@andrewzakhartchouk

Two things that can cause this issue:
1. Android version should at least be API 23 (Marshmello) or Android 6.
2. No permission for `ACCESS_FINE_LOCATION` added in manifest

IMO, most probably it's a permission issue.

To add the permission in the manifest:
Add `<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />` in your android manifest file.

Ex: Check

[2022-06-27 09:05] Yukams commented on #340
Hello @lasd14, I just tried it on my project and yes it's still working for me on Android after a phone reboot ! Just saying you have to restart the location simulation on your Android emulator after a phone reboot :)

Though, you can from now on publish issues and improvements directly on my fork :)

[2022-07-01 11:22] havenappstore opened #343 "iOS app taking battery high usage"
Hi,

I have implemented  in my flutter application, it is running baground andd active state but it is taking high battery usage.

Can you please tell me any solution ?

[2022-07-01 13:29] tjbaba commented on #325
Facing same error, any solution?

[2022-07-03 02:48] abedputra commented on #325
any solution?

[2022-07-03 11:15] Yukams commented on #325
Hi, you could try my fork, it fixed a lot of bugs => https://github.com/Yukams/background_locator_fixed

[2022-07-07 14:05] daviddagan commented on #340
Can you upload your git as a new project and plugin in pub dev?
we all be thankful to you

[2022-07-08 12:21] Yukams commented on #340
Hi @daviddagan, I'll see what I can do !

[2022-07-10 12:10] daviddagan commented on #340
hey I'm trying to use your fork and you forced the plugin to use min SDK version 21
it was necessary?.

[2022-07-10 12:44] Yukams commented on #340
Hi @daviddagan, so I had a quick look and it seems like the lib would work with lower minSDK version (I tried with 19). I'm pretty sure I had a good reason to set it higher but couldn't find it today, maybe I don't have to anymore. I'll have a deeper look tomorrow, what minSDK do you need ?
Also, feel free to open an issue directly on my fork's github page, as it may be better for tracking the evo

[2022-07-10 14:58] daviddagan commented on #340
Hi @Yukams, the Min Sdk before has been 19.
and sure, next time it will be on your forked git :)

[2022-07-11 11:37] Yukams commented on #340
Hi @daviddagan, I've pushed a branch for a minsdk of 19, you can use it by putting this in your pubspec.yaml under dependancies

[code]

I'm looking right now to publish my fork on pub.dev too, I will update you on that

[2022-07-11 14:17] Yukams commented on #340
EDIT : the fork is already up to date, ignore my previous message.

So I added the package to pub.dev https://pub.dev/packages/background_locator_2
Now you should be able to use it by adding this to your pubspec.yaml :
[code]

Also you'll need to replace all your imports from background_locator to background_locator_2
All the rest should work the same

[2022-07-12 17:37] Yukams commented on #316
Hi, have you found any answers to your questions ? I feel like I can't really use other plugins too

[2022-07-13 07:10] lulupointu commented on #316
Hi, unfortunately not. I spent a lot of time digging into this problem and this issue was the last call for help (which went on unanswered as you can see 😉)

[2022-07-13 12:58] Yukams commented on #316
Sorry to hear that, thanks for the update :)

[2022-07-16 06:08] guistrutzki commented on #330
The @imsamgarg solution did it!

Added in `pubspec.yaml`

[code]

[2022-07-16 09:36] Yukams commented on #330
Hi @guistrutzki, you can also use the version 2 of the library if you want : https://pub.dev/packages/background_locator_2

[2022-08-06 14:40] kotran88 opened #344 "error on launching example app"
`
Warning: Mapping new ns http://schemas.android.com/repository/android/common/02 to old ns http://schemas.android.com/repository/android/common/01
Warning: Mapping new ns http://schemas.android.com/repository/android/generic/02 to old ns http://schemas.android.com/repository/android/generic/01
Warning: Mapping new ns http://schemas.android.com/sdk/android/repo/addon2/02 to old ns http://schemas.a

[2022-08-06 14:44] #344 closed, assigned to nobody

[2022-08-06 15:07] kotran88 opened #345 "Restart service on device reboot is not working on android 12"
it works very well on background and even app is killed.
but when I reboot android phone then it cause error saying
backgound_locator_example is keep shut down.

![무제](https://user-images.githubusercontent.com/20656932/183254794-96ce7e58-6978-45a9-93ce-4b326135a37f.png)

my android manifext.xml is as below

`<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rekab.

[2022-08-09 09:00] casva2022 commented on #330
I'm getting this issue when I run it in the emulator:

Running Gradle task 'assembleDebug'...
e: D:\develop\flutter\.pub-cache\git\background_locator-08beb61507f472de767fa918365fa2601c879c63\android\src\main\kotlin\rekab\app\background_locator\provider\LocationParserUtil.kt: (21, 20): Type mismatch: inferred type is String? but Any was expected

FAILURE: Build failed with an exception.

* What wen

[2022-08-21 18:20] hieudz commented on #267
Anyone know how to fix? I'm experiencing the same issue

[2022-08-21 18:59] hieudz commented on #268
I got the same issue. The error still persist even with a valid icon

[2022-08-25 09:58] Dvn13 opened #346 "İOS : Data Null"
Not working on ios only

Error : Unhandled Exception: type 'Null' is not a subtype of type 'LocationDto'

Error line:
`port.listen(
      (dynamic data) async {
        await updateUI(data);
      },
    );`

[2022-08-31 15:12] w3ggy commented on #256
Any news? It also conflicts with https://pub.dev/packages/flutter_uploader/versions/3.0.0-beta.4 and I haven't found any workaround solutions which I could implement manually if it is not Firebase Storage package issue but looks like it is if it was fixed in Firebase Firestorage here: https://github.com/firebase/flutterfire/issues/4108#issuecomment-734723727

The main issue is closed https://githu

[2022-09-12 10:45] kotran88 opened #347 "How can I send data from location callback to controller?"
on location_service_repository.dart
[code]

and receiving controller...

[code]

it works very well when app is foreground or background
from callback, I send then on controller, it received well.

but the problem comes when app is killed.
it dosen't reach to port.listen inside.

how can I pass location data from callback to controller even when app is killed.

[2022-09-18 09:38] #347 closed, assigned to nobody

[2022-09-18 14:10] michaelnabil230 commented on #346
Hi @Dvn13
The same error and don't print any locations

[2022-09-21 04:48] HaAnhHung commented on #333
I try this but after that, I have another problem when building release but building debug it is ok
![Screen Shot 2022-09-21 at 11 47 37](https://user-images.githubusercontent.com/39230351/191416566-f23233c2-868f-4dce-813c-15e99e005d05.png)

[2022-09-21 08:39] as2a3 commented on #333
Really sorry.
I had to downgrade flutter version to fix this problem.

I can not find the solution for it yet.

[2022-09-21 08:43] HaAnhHung commented on #333
No problems.
Thank u so much

[2022-09-23 04:52] ARoSistemas opened #348 "location_callback_handler.dart not found when run release project"
**Upgrade my proyect to:**

Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, 3.3.2, on Microsoft Windows [Versi¢n 10.0.22000.978], locale es-MX)
[√] Android toolchain - develop for Android devices (Android SDK version 33.0.0)
[√] Chrome - develop for the web
[√] Visual Studio - develop for Windows (Visual Studio Community 2022 17.2.6)
[√] Android Studio (ver

[2022-09-26 05:35] jesussmile commented on #348
yes same issue any fix..? this is after the recent updates on flutter side

[2022-09-26 05:46] jesussmile commented on #348
@ARoSistemas can you post your pubspec.yaml

[2022-09-27 07:45] ARoSistemas commented on #348
Resolved!!!!!

1.- flutter doctor

Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (**Channel stable, 3.0.5,** on Microsoft Windows [Versi¢n 10.0.22000.978], locale es-MX)
[√] Android toolchain - develop for Android devices (Android SDK version 33.0.0)
[√] Chrome - develop for the web
[√] Visual Studio - develop for Windows (Visual Studio Community 2022 17.2.6)
[√] Android

[2022-09-28 20:27] LEHOANGLONG0807 opened #349 "[ERROR:flutter/shell/common/shell.cc(93)] Dart Error: Dart_LookupLibrary: library 'package:untitled/location_callback_handler.dart' not found."
[ERROR:flutter/shell/common/shell.cc(93)] Dart Error: Dart_LookupLibrary: library 'package:untitled/location_callback_handler.dart' not found.

[2022-09-30 12:49] danilonogueirateixeira commented on #349
I have the same problem

[2022-09-30 13:40] LEHOANGLONG0807 commented on #349
You can use flutter version 3.0.5 :))

Vào Th 6, 30 thg 9, 2022 vào lúc 19:50 Danilo Nogueira <
***@***.***> đã viết:

[2022-10-02 09:10] arineteck opened #350 "Unable to build flutter release version with background_locator lastest"
This error appears in the console when I try to get a release build of a flutter app
`e: /Users/hrefnholle/fvm/versions/flutter/.pub-cache/hosted/pub.dartlang.org/background_locator-1.6.12/android/src/main/kotlin/rekab/app/background_locator/pluggables/InitPluggable.kt: (22, 55): Type mismatch: inferred type is BinaryMessenger? but BinaryMessenger was expected
`
`Execution failed for task ':backgr

[2022-10-09 18:14] leithalnajjar commented on #349
any update

[2022-10-10 09:01] A7MeDG0L0L commented on #343
Same !
Android and IOS

[2022-10-14 13:47] danilonogueirateixeira opened #351 "Library Update"
Hello, this plugin has some exceptional features, the community would greatly appreciate it if you continue its development and evolution.

[2022-10-19 05:00] hpsolver commented on #347
@kotran88 Did you get solution for above problem ?

[2022-10-19 11:53] hpsolver commented on #348
Same issue

[2022-10-19 12:43] jesussmile commented on #348
Thanx works fine .

[2022-10-19 15:14] hpsolver opened #352 "Issue on release build"
E/flutter ( 5395): [ERROR:flutter/shell/common/shell.cc(93)] Dart Error: Dart_LookupLibrary: library 'package:location_sharing/location_callback_handler.dart' not found.

[2022-10-25 19:10] bornakpaul commented on #352
use @pragma("vm:entry-point") before the class or function, so that the compiler knows that this particular class/function will be used from native code

[2022-11-02 07:15] itssurjya commented on #136
Any Solution of this problem

[2022-11-02 07:17] itssurjya commented on #94
Still crashes are occur Any Updates

[2022-11-02 07:21] resfandiari commented on #94
use this
https://pub.dev/packages/background_locator_2

[2022-11-03 09:34] itssurjya commented on #94
@resfandiari
It only works on an emulator but does not work on real devices...

[2022-11-03 09:47] resfandiari commented on #94
That's not true. It works perfectly, I tested it on real device.
I think your setup has problem https://github.com/Yukams/background_locator_fixed/wiki/Setup

[2022-11-07 08:12] junaiddurrani opened #354 "Unable to capture location in release mode (Android)"

[2022-11-09 07:43] zy693415 commented on #349
flutter 3.3.5  release  。It's the same problem

[2022-11-15 03:45] hpsolver commented on #352
@bornakpaul by adding "@pragma("vm:entry-point")" is fixed last crash. But now release build not updating latlng on firebase.

here is my code it's working fine only debug build :
 Future<void> callback(LocationDto locationDto) async {
    print('$_count location in dart: ${locationDto.toString()}');
    await Firebase.initializeApp();
    FirebaseReference.userSecret.doc(Globals.firebaseUser?.uid

[2022-11-15 03:52] bornakpaul commented on #352
@hpsolver i am on flutter 3.0.5 and it works fine for me.

[2022-11-15 03:55] hpsolver commented on #352
@bornakpaul my flutter version is 3.3.3

[2022-11-15 03:56] hpsolver commented on #352
@bornakpaul could you help me on this version ?

[2022-11-15 03:58] bornakpaul commented on #352
@hpsolver i will have to look into this, might take some time. meanwhile, if you are in a hurry you can try to degrade the version and check

[2022-11-15 03:58] hpsolver commented on #352
okay i will

[2022-11-15 06:41] hpsolver commented on #352
@bornakpaul thanks on flutter 3.0.5 is working fine

[2022-11-15 06:41] #352 closed, assigned to nobody

[2022-11-20 04:51] ghost commented on #354
Same happen to me, Application crashes on release mode.

[2022-11-22 10:15] sultan18kh commented on #354
Same here, did you find a solution?

[2022-11-30 05:45] hpsolver opened #355 "Unable to run on iOS"
<img width="1228" alt="image" src="https://user-images.githubusercontent.com/25339734/204717294-a5c90774-61c8-4901-b9b1-b8471ce61c95.png">

[2022-11-30 13:25] #355 closed, assigned to nobody