[2019-12-24 09:55] Sly2024 opened #1 "Pluggin still run in background aven if app is closed"
Hello,

I managed to make the package to work.
However, when I close the app on android (not just put in background), the location tracking is still active, draining the battery.
How to automatically stop the tracking in this case?

[2019-12-24 10:12] mehdok commented on #1
That's the point of using this library, it will continue to run and get location updates in background no matter what. For stopping this you have to call `BackgroundLocator.unRegisterLocationUpdate()`.

[2019-12-24 10:24] Sly2024 commented on #1
I know and that's perfect.
I added the BackgroundLocator.unRegisterLocationUpdate() to the dispose function of my app but when I close the app, the location is still tracked.
I have to force kill the app to stop it.

[2019-12-24 10:49] mehdok commented on #1
It may be a bug in the library, I Will check it. But Please be sure that `dispose()` function is getting called.

[2019-12-24 10:57] Sly2024 commented on #1
Ok thanks
Otherwise, is it something to put in the application class?

[2020-01-02 22:43] fvisticot opened #2 "Any progress on this plugin ?"
Did you plan to release this plugin with a production ready status ?
It would be very useful

[2020-01-03 08:08] mehdok commented on #1
I ran the example app and the start stop buttons worked as expected without any problem, Please be sure that your `dispose()` method and `BackgroundLocator.unRegisterLocationUpdate()`  is getting called.

[2020-01-03 08:14] mehdok commented on #2
Sure there is a plan, but I need more people to test and find bugs so I can reach a more stable release.

[2020-01-03 08:40] Sly2024 commented on #1
yes the buttons worked as expected
it is the dispose function that is not called, but according to my researches on google, this is a more general issue with flutter.
I'll continue searching and post a solution if i find one

[2020-01-03 08:43] Sly2024 opened #3 "Change the background running time"
By default, the plugin is running for 1 hour.
It would be great if this time can be parametric and reset during the execution of the program.

[2020-01-03 16:56] Sly2024 opened #4 "Unregistering twice results in app crash"
In your app example, il you tap on stop without hitting start, the app crash.
The same crash happen if you try to unregister twice.
I would expect the app not to crash or it should be possible to test if the service is already registered

[2020-01-03 18:00] Sly2024 commented on #1
Hello

I did some researches and here is what I understood:
1. you create your flutter app, initialize the plugin and register it
2. when the service has a new position that matches timing and distance, it is sent to the callback.
However, if the flutter app is not running (for example if the user quit the app, not just background), the plugin recreate a new `backgroundFlutterView ` to execute the

[2020-01-05 08:41] mehdok commented on #4
[d5aa2a7ccf71765c1a7da2bf97f95a435231c3f2](url)

[2020-01-05 08:41] #4 closed

[2020-01-05 08:42] mehdok commented on #1
[Fixed](https://github.com/rekab-app/background_locator/commit/d5aa2a7ccf71765c1a7da2bf97f95a435231c3f2)

[2020-01-05 08:42] #1 closed

[2020-01-05 08:42] mehdok commented on #3
[Fixes](https://github.com/rekab-app/background_locator/commit/412d87ed816669ba56cc6ba3390c69d261d0ec08)

[2020-01-05 08:42] #3 closed

[2020-01-07 07:59] Sly2024 commented on #4
Works fine !

[2020-01-07 08:13] Sly2024 commented on #1
For me, the behaviour is still not right.
Here is what I get with your example :
1. I start the app and start the background location
   -> The log is working and displayed normally
2. I exit the app (swipe up in the tray) without stopping the background location
   -> I still have the notification indicating that location is running in background
3. I start the app
   -> the log is not displayed

[2020-01-08 05:46] mehdok commented on #1
This is the expected behavior, _The plugin won't stop locating automatically_, you have to manually stop it.
As you stated in step 3, the example won't show log after coming back to ui, This is a bug in ui and I will fix it asap, but the plugin is working correctly in background. at this stage if you press stop the notification disappear too.

[2020-01-08 10:44] Sly2024 commented on #1
Ok thanks for your answer

[2020-01-10 01:02] bobppsureway commented on #1
It would be great if a "onTerminated" property added to the plugin. If true then unRegisterLocationUpdate() will be called when app is closed. Calling BackgroundLocator.unRegisterLocationUpdate(); in dispose() doesn't work.
And there should be some click actions on the sticky notification. Sth like stop tracking or resume the app.
This plugin is awesome!!
Looking forward the coming updates.

[2020-01-11 05:39] mehdok commented on #1
@bobppsureway  Please open a new issue for this.

[2020-03-04 21:37] gpibarra commented on #2
I'm here

[2020-03-04 21:48] gpibarra opened #5 "Error add package"
## Steps to Reproduce

1. Clone repo
2. Open proyect from example subfolder
3. Edit file pubspec.yaml
4. Add package "location: ^2.3.5"
5. Run app

**Expected results:**
Notification of background work

**Actual results:**
Exception

<details>
  <summary>Logs</summary>

[code]

[code]

</details>

[2020-03-08 19:59] gpibarra commented on #2
have anyone tried it on ios?

[2020-03-09 05:54] mehdok commented on #5
I don't think this crash belongs to this library, you are adding a third party library and as you can see in crash log, it says `Attempt to invoke
virtual method 'android.os.Looper android.app.Activity.getMainLooper()' on a null object reference`. and you can not find `android.app.Activity.getMainLooper()` in this library.

[2020-03-09 05:55] mehdok commented on #2
@fvisticot stable version will be released in near future.

[2020-03-09 05:56] mehdok commented on #2
@gpibarra Are you experiencing some sort of problems in iOS?

[2020-03-09 13:17] mehdok commented on #2
@fvisticot First stable version released.

[2020-03-09 13:17] #2 closed

[2020-03-09 13:18] mehdok commented on #1
@Sly2024 @bobppsureway auto stop option added.

[2020-03-10 16:02] gpibarra opened #8 "Permission Request"
In the beta version, on start app request permissions.
In version 1.0.0 + 1 does not request permissions.
This is correct? In that case you have to change the "example" using any library (https://pub.dev/packages/permission_handler for example) to manage it.

To make it go,
Run app the first time
Click "start" button.
Show error "[ERROR: flutter / lib / ui / ui_dart_state.cc (157)] Unhandled Excep

[2020-03-10 16:22] gpibarra commented on #5
In version 1.0.0+1 works fine.
Maybe it was fixed by changing "flutter plugin version 2".

[2020-03-11 05:12] mehdok commented on #5
Glad it helped.

[2020-03-11 05:12] #5 closed

[2020-03-11 05:15] mehdok commented on #8
You are right, I was in a hurry and forgot to update the example.
From this version the plugin doesn't handle the permission.

[2020-03-11 05:35] #8 closed

[2020-03-11 15:38] gpibarra opened #9 "Error on detach"
## Steps to Reproduce

1. Clone repo (from master)
2. Open example proyect
3. Run flutter
4. Click Start button
5. Back button (from navigation bar Android)

**Expected results:**
Stop background (if autostop: true), or stay in background (if autostop: false)

**Actual results:**
Exception

<details>
  <summary>Logs</summary>

[code]

[code]

</details>

[2020-03-11 15:39] gpibarra commented on #9
In android\src\main\kotlin\rekab\app\background_locator\BackgroundLocatorPlugin.kt:202
Context is null

[2020-03-12 06:13] TheMisir opened #11 "How to get is the service already running or not?"
I want to check if the service is running or not on app startup. Is there any exported function for checking that?

[2020-03-12 11:58] gpibarra commented on #11
Just yesterday i made a pr of that
#10

[2020-03-12 19:28] TheMisir commented on #11
Cool 👍

[2020-03-13 12:49] gpibarra opened #15 "Feature Android clickeable notification"
In notification Android configure function callback. When on click notification open app and run callback (NavigationRoute example)

[2020-03-19 17:37] mehdok commented on #11
[https://github.com/rekab-app/background_locator/pull/10](#10) merged.

[2020-03-19 17:37] #11 closed

[2020-03-19 18:27] TheMisir commented on #11
@mehdok when you're planning to upgrade pub.dev package?

[2020-03-20 16:12] TheMisir commented on #9
I have same issue, when user closes app using launcher. This happening and app locator service stops.

[code]

[2020-03-21 13:16] #9 closed

[2020-03-21 17:34] #15 closed

[2020-03-23 11:06] angel1st opened #19 "[Question] - Documentation Request"
Hi there,
I have just came across this plugin and it seems quite promising in its specific niche. I cannot however find any documentation - for instance I would like to know all `LocationSettings` parameters meaning for start.

[2020-03-24 14:47] viveknimkarde opened #20 "Write logs even when app is not running in the foreground."
https://github.com/rekab-app/background_locator/blob/28f02ce0965302e95b9f55287fcd5abe04a16697/example/lib/main.dart#L36

Isolate port stops listening as soon as the app process is destroyed.
So logs are not written when the app is not running. while the background locator is working fine. Should we write logs in the callback or keep it in on port listen function

[2020-03-25 07:50] RomanJos commented on #20
I have the same question, I came accross [this medium article ](https://medium.com/stuart-engineering/keep-flutter-running-background-on-android-6ffc85be0234) where when flutter is killed the sticky service listen to this and start `FlutterNativeView` wich is different than `FlutterActivity` to execute a dart function, so there is no UI drawing whatsoever in the background. You need to wait `Widge

[2020-03-25 10:51] mehdok commented on #20
I think one of the pull request caused this.

Remove this lines from example code and let me know if it fixed the problem:

[code]

[2020-03-25 10:52] mehdok commented on #19
You are right, I will update the documentation this weekend.

[2020-03-25 13:30] viveknimkarde commented on #20
I tried the above change. Still no working.

[2020-03-25 16:40] RomanJos commented on #20
After playing with I just wanted to point some problem that I'm facing right now :
if we kill FlutterActivity (in recent app) the ReceivePort is also killed so I did
[code]
to re-create an isolate that is sending on the port I'm listening, I don't think its a good solution since I played with ctrl + space on vs code to see what I could do with IsolateNameServer. Maybe there is something to plug th

[2020-03-25 18:39] mehdok commented on #20
I'm not sure what is wrong with your code, But I removed those lines and the example  code worked for me just fine, I still can see the logs, @viveknimkarde I moved the app to background and also removed it from recent list and the logs kept coming as usual.

@RomanJos The callback and isolate is headless and is not part of any activity, so it can continue to live without attaching to anything.
So

[2020-03-25 19:40] RomanJos commented on #20
My problem is that I can't use path_provider inside the callback function, I get a NotImplemented error (This is why I pointed `GeneratedPluginRegistrant`). So I'm unable to save the position in a file to retrieve it in the app. I've found [this example](https://github.com/ppicas/flutter-android-background) and it look quite like this library and what I want to achieve except they are able to stor

[2020-03-25 19:55] mehdok commented on #20
For the first part of your problem, right now I'm using path_provider to log into a file, look at the `file_manager.dart` inside the example, and it works even when you terminate the application, I will try to update the example to make this shine a bit more :).

For the second part of the problem, I will try to handle the situation you mentioned.

[2020-03-25 20:31] RomanJos commented on #20
Yes but its not in the callback function, if you kill the app, the callback will be called and will try to send to the port without anyone listening to it and thus no log, I mean I didn't tried your example but I couldn't get any printed value from my side in the port.listen where I have one inside callback

[2020-03-25 21:59] mehdok commented on #20
Just try the example and omit the lines i have mentioned and let me know if it is working for you or not.
Or you can share your code with me so i can have better picture of the problem.

[2020-03-26 04:52] viveknimkarde commented on #20
@mehdok i used example code without dispose. Logs work fine when app is in the background. But not when it is killed as mentioned by @RomanJos. Seems like callback function is sending the messages and no listeners alive to save the logs.

Is there anyway I can use external packages like firestore or path_provider inside callback function without getting method NotImplemented error ?

[2020-03-27 14:59] ZigaZumer opened #21 "Callback is not triggered in iOS."
I implemented the plugin and used the example. All the settings for Android and for iOS were implemented as written in the docs. In Android it works great but in iOS the callback function is never triggered. Any idea?

[2020-03-27 16:35] mehdok commented on #21
Are you testing on real device or on simulator?
Receiving location on iOS depends on many things. Actually there is no interval for getting location like in android, in iOS the os decide when to send new location.

[2020-03-27 16:51] ZigaZumer commented on #21
Tested on both simulator and real device. Not once the callback was triggered.

[2020-03-28 22:21] umbertogrimaldi commented on #21
I'm experiencing the same issue....Any idea on how to solve this?

[2020-03-29 12:33] mehdok commented on #20
My assumption about logging in background was wrong and both of you were right. Although The `callback(LocationDto locationDto)` is getting called even if app getting terminated (removed from recent), BUT the `ReceivePort` stop listening as soon as app get terminated.

[2020-03-29 12:42] #21 closed

[2020-03-29 13:02] #19 closed

[2020-03-31 05:14] #20 closed

[2020-04-01 15:25] vitoMacnil opened #24 "Only few callback when app is in background for Android Q version"
Good evening,
I'm testing my app on an Android Q devices, and when the app goes to background, send only few datas. You have any suggest??? Thanks for the attention

[2020-04-02 04:59] mehdok commented on #24
Can you see the notification?
Can you check if the service is running in background or it is stopped?

[2020-04-02 06:08] vitoMacnil commented on #24
Yes, I see the notification and the debug console shows me the few operations done in background, but after this operations nothing was print in the console and nothing was sent ti my server side

[2020-04-02 07:05] mehdok commented on #24
Are you testing example code? if not it would be nice if you share some code.

[2020-04-02 07:13] vitoMacnil commented on #24
`import 'package:background_locator/background_locator.dart';
import 'package:background_locator/location_dto.dart';
import 'package:background_locator/location_settings.dart'
    as BackgroundLocationSettings;
import 'package:device_info/device_info.dart';
import 'package:flutter/material.dart';
import 'package:flutter/services.dart';
import 'package:location/location.dart';

void main() => runAp

[2020-04-02 09:35] #24 closed

[2020-04-02 09:38] vitoMacnil commented on #24
Ok i found the issue.
I'm using another library to get service status, and the two libraries conflicts.
Sorry for waste your time. This flutter package is very good

[2020-04-02 15:49] angel1st commented on #19
hey @mehdok - thanks for the docs update. One question though, re `wakeLockTime` - I am not sure, I understand what "Time for living service in background in meter" is about?

[2020-04-02 17:01] mehdok commented on #19
Sorry for that, its `Time for living service in background in mimute`. I'll update the doc. Thanks for telling.

[2020-04-02 18:27] hectorAguero commented on #19
@mehdok  So in the default value, the service will stop in 60 minutes? It's possible to set this without a limit, and only stop it when the user press a button on the app.

[2020-04-02 18:41] mehdok commented on #19
@hectorAguero Yes it will keep the phone awake for 60 minutes and prevent it to sleep. 60 minutes is really long time for keeping phone awake and doing a energy consuming job like getting location via GPS, and I think it's more than enough to do your job, But if you need more time just set a hight number for this, eg. 1000.
It is just a safety guard to prevent draining phone battery.

[2020-04-02 19:27] SergejDK opened #28 "[Android] changes not always detected"
First of all very nice tool - working good.

In Android there are times where no location update is handled - sometimes 10minutes nothing...
Can this happen when the device is not moved?

Tested it with the example in this library

Happens on real devices (Android 8,9,10)

[2020-04-03 04:53] mehdok commented on #28
It's not normal on `Android`. Android should update the location in interval you set in settings, however it's normal on `iOS`, because iOS is more efficient and will not send anything when there is no change.
Anyway if you can share some logs it will help with debugging process.

[2020-04-03 06:07] SergejDK commented on #28
I just have some screenshots from the app - I don't know if this will help you. O'm currently trying to check when this explicitly happens so it is easier to debug...

[2020-04-03 06:08] SergejDK commented on #28
Do you know when iOS says `it is a change` e.g. I went through my appartment and didn't send out other times ...

[2020-04-03 17:39] viveknimkarde opened #29 "Cloud Firestore Plugin not working in background"
I Tried to implement `cloud_firestore` plugin in the callback function
Application.kt

[code]

callback function
[code]

On terminating the app I get an error
[code]
Is there any way to fix this
* Other plugins work fine

Flutter doctor
[code]
Pubscpec versions
[code]

[2020-04-03 18:01] #29 closed

[2020-04-04 22:27] wemersonrv opened #30 "Issue on Android: Not capture when app is closed, but shows notification"
Hello.

Testing in Android, plugin works fine, but have an issue: When close app, the notification baloon still shows on device; but stop capturing. There is some extra config to do when close app ?

Settings:

[code]

[2020-04-05 08:13] RomanJos commented on #30
Look like your callback isn't static, try to create a static function like
https://github.com/rekab-app/background_locator/blob/e165b784d1ed672e11b2717c81b0bcfa2fbd122b/example/lib/main.dart#L94-L99

[2020-04-05 11:52] wemersonrv commented on #30
Sorry my bad, it is static... i just copy and paste it here on same code of `registerLocationUpdate` to make more short... but here it's static... The difference is that i'm not uising `setLog`

[code]

[2020-04-06 06:30] RomanJos commented on #30
Basically you have two part on your app, Flutter and the plugins's service
Two are in separate Isolate so they don't share no memory whatsoever, the only way of comunication is through port
on `BackgroundLocator.registerLocationUpdate` you pass to the plugin the callback and the notification callback (which is useless in your case and will be optional in the future), so the plugin will execute the

[2020-04-06 08:59] oocokeoo commented on #30
in Android

I want to send  location and another data (eg.SharedPreferences data , battery_level)  to my server in background process. It works well in port.listen function.

When I kill process port.listen not working but callback still work.

I move code from port.listen function to callback function. There was some problem .
callback function is a static function therefore it can't access insta

[2020-04-06 10:20] ibrahimsoliman97 commented on #29
Did you manage to get firestore working with this plugin?

[2020-04-06 10:31] RomanJos commented on #30
I think you don't have imported the kotlin part of the two plugins so you get NotImplementedError

[2020-04-06 13:02] ibrahimsoliman97 commented on #30
is there any way to stop the callback when the application is killed?
I am getting the same behaviors as @oocokeoo  and the notification is shown even if the app killed (without running port.listen) ,,,, but I just want to run some code in port.listen while my app in the background (not when it is killed).
So I just want to remove the notification and callback when the application is killed.

[2020-04-06 13:03] RomanJos commented on #30
Then you can set `autoStop` to true

[2020-04-06 13:19] ibrahimsoliman97 commented on #30
@RomanJos According to the ReadMe > [autoStop] If true locator will stop as soon as app goes to background.

I have set [autoStop] to true, but once my application goes to background (without killing it), the callback stop and the notification disappear.
So, unfortunately, i am still not able to achieve what I am looking for.

[2020-04-06 13:27] RomanJos commented on #30
Oh my bad I read too fast lol I think that you can achieve this by following this post https://medium.com/pharos-production/flutter-app-lifecycle-4b0ab4a4211a basically when the app is paused you stop the locator service and re-start it when the app get resumed
Its a little hacky since you use a sticky service in background to get the location only when the app is opened. Using a timer that get th

[2020-04-06 13:50] RomanJos opened #31 "unRegisterLocationUpdate don't stop the Isolate"
Hi I have some issue with the plugins not stopping the Isolate, I'm creating a new file with a new name every time in a specific directory before launching the plugins and the plugins retrieve this file by listing every files in this directory (I store the date and a string in the name to not creating a special db for this), the file is stored in `static File _currentFile;` at the top of the class

[2020-04-06 13:52] ibrahimsoliman97 commented on #30
Finally, I found a workaround. I think many users of this plugin looking for this use case.
Just receiving locations data when the application in the background or foreground. Then kill the services once the application has been killed by the user (force kill, swipe it from the recent application).

I achieved that by editing the 2 services from background_locator in my androidManifest.xml:
`andro

[2020-04-06 13:55] RomanJos commented on #30
This is actually really clever, I don't know how android's manifest work actually I will add it in the readme

[2020-04-06 14:36] RomanJos commented on #30
I think I have to take more time reading the issue, I don't know why I came up with lifecycle lol anyway

[2020-04-06 16:44] wemersonrv commented on #30
Hi, make the `Application.kt` file as oriented:

[code]

There are a couple of plugins that are installed and i use them on app but are not registered in  `android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java`:

- import 'package:geodesy/geodesy.dart';
- import 'package:scoped_model/'scoped'_model.dart';
- import 'package:uuid/uuid.dart';

Is this a proble?

[2020-04-06 19:13] RomanJos commented on #30
If they are not in `GeneratedPluginRegistrant.java` that mean they don't have any android natives calls or specific android codes, for example generating UUID will just generate random string so you don't make any native calls where path_provider ask android the path of DocumensDirectory etc

[2020-04-07 02:53] wemersonrv commented on #30
Ok, understand. Making a build now, with `Application.kt` i posted before and it giving me the error:

So i change the kotlin file using the fixes you post in PR #27 but the error persist. See below the `Application.kt` final file:

[code]

[2020-04-07 05:01] mehdok commented on #28
@SergejDK When it receives new location it will update you with that, maybe it can not receive new location in your appartment? Please keep in mind that android will send repetitive data if it can not receive new location in specified interval but iOS won't.
On the other hand if there is a bug a few log would be nice.

[2020-04-07 05:46] RomanJos commented on #30
You can't do `CloudFirestorePlugin.registerWith` if you don't import it before :

[code]
I don't think its a good idea to have permisison handler checking every callback but rather before launching the plugin

[2020-04-07 05:57] mehdok commented on #30
I just have to ask, do you have this plugins in your `podspec.yaml` ?
I just added your listed plugins to my `podspec.yaml` and registered them without any problem.
And as @RomanJos said, you have to import the plugins first.

[2020-04-07 06:02] mehdok commented on #31
And how it is related to plugin or it's isolate?
You are storing the file in a static variable, stoping the plugin or removing Isolate doesn't have any effect on that specific variable.

[2020-04-07 06:08] RomanJos commented on #31
But will it not reset ? because I have two value at the same time when I launch the plugin.
If I delete and create another file, only the value from the Flutter side will be updated even though the plugin is stopped. My guess is that the plugin should completely stop and restart like the first time

I don't really know how static work for me its just to make it like public

[2020-04-07 06:14] mehdok commented on #31
If you share some code I could be more helpfull.
Static variable keep their value as long as the instance exists.

[2020-04-07 06:32] RomanJos commented on #31
This is my callback :
[code]
You can see here that I get LogPosition.currentFile from this class :
[code]
(I know its a little mess lol)

on start I init to create `history/position` and `current` directory
 before starting the plugin I call `createCurrentFile()` which will create a file named `Activity^2020-04-07 08:24:56.916155` so on restart I can get the Activity type and the date at which it

[2020-04-07 10:56] SergejDK commented on #28
@mehdok
I'll try to get some logs today or tomorrow.

[2020-04-07 11:42] wemersonrv commented on #30
@RomanJos

It's imported on my `main.dart` file.

OK, understand... It makes perfect sense, since the permission should have been resolved when you first started the app. Will remove this plugin,

---

@mehdok

Yep, i have. Plugin works sooo fine! Amazing plugin. But if i close the app, not works.

My challenge is to make it work when user closes the app, so i need to persist data to firestore and

[2020-04-07 11:51] wemersonrv commented on #30
I think i understand it now. I need to import the plugins in `Application.kt` before register them.

![image](https://user-images.githubusercontent.com/2028673/78665562-60aed500-78ac-11ea-94f8-90162c255782.png)

The documentation shows the import, but i just go to register area and forgot the imports.

[2020-04-07 12:34] RomanJos commented on #30
Yeah exactly you need to import them in your kotlin files before calling their `registerWith` I just put the example as it is on the readme but it need to be more clear with more example, only one things that I don't understand is
[code]
Here we check if registry (that shouldn't be null) don't have the plugin "io.flutter.plugins.pathprovider" to register it but why do we check it and don't just re

[2020-04-07 14:38] wemersonrv commented on #30
Man, my bad... i think i understand it now... Below my last try... every plugin, has a commented line showing how it is listed on `android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java`

[code]

[2020-04-07 14:44] RomanJos commented on #30
Oh yeah but I forgot to tell that my last two question wasn't specifically for you I mean I didn't do this part of the readme and I don't know nothing about kotlin lol but if its working now thats perfect then

[2020-04-07 15:15] wemersonrv commented on #30
Ok. Understand.

Well. Make a release now. App crash when start at first time.

[2020-04-07 15:19] RomanJos commented on #30
Oh, I though it worked :( then I don't know, I tried myself with your example https://github.com/rekab-app/background_locator/issues/30#issuecomment-610144172 with adding the tree import I said after and it didn't crashed on start
Maybe its when you use those plugins that it fail then I will be no help for you

[2020-04-07 16:44] wemersonrv commented on #30
Nope. don't working. App crash when start.

See below: Removed all plugins, and copy and paste documentation example. Just change the app package:

[code]

[code]

[2020-04-07 17:33] gpibarra commented on #31
There are 2 processes running at the same time, background and main app. So there are 2 instances of the LogPosition class, when calling createCurrentFile from main App the instance in background is not noticied.
However, in "get currentFile" it should be null and call to find the file by going through the directory again.
The problem is in "BackgroundLocator.unRegisterLocationUpdate();" it does n

[2020-04-07 17:37] RomanJos commented on #30
Ohh you forgot to add `LocationService` in `android:name` like `android:name="br.com.myapp.LocationService"

[2020-04-07 18:42] RomanJos commented on #31
Damn thank you for the example, I re-created this class from scratch because it was more a draft than something but I'll reuse some of your improvements for sure
It currently look like this :
[code]
I set all the values inside init() to remove all my getters and added a img directory
for me the issue is really `unRegisterLocationUpdate` because if we do
[code]
`"stopped"` never gets printed so I a

[2020-04-07 20:24] wemersonrv commented on #30
Yeah, right!

Changed now. App builds and run without conflict.

What i expect: **Store locations to shared preferences with 6 minutes interval, whether the application is open or closed. After store in shared prefs, is internet is available; persist them to firestore too**

Below a report about what is working and what's not:

- [x] Run when app is **open**, and device is **awaked**
- [x] Run whe

[2020-04-07 21:33] RomanJos commented on #30
You need to put every background operation like writing in a file, send to internet the location etc inside the `callback` function and every UI operation inside the `port.listen` From your example it look like you only send the new location to the port in your callback function, so if Flutter get killed (like removing the app from the recent app list for example) nothing will listen to.
Also this

[2020-04-08 04:35] wemersonrv commented on #30
Hello, Now i understand! It works here. It works in a 6 minutes interval, exactly as i configured.

The unique issue is when it works with opened app, store both; from UI and from Background. Can i disable the ports right?

Just remove **port** variable declaration and **port.listen**? Is there more lines to remove?

[code]

[2020-04-08 05:18] mehdok commented on #30
If you don't need UI update then remove the port. There should be no problem.

I'm closing this issue Because I think it's more like `[stackoverflow](www.stackoverflow.com) question.

Feel free to open it.

[2020-04-08 05:18] #30 closed

[2020-04-08 05:31] mehdok commented on #31
I can't see any problem with the plugin in this matter. The `_currentFile` belongs to your code not the plugin, it's static variable and you never clearing it. You can learn more about static in [Dart static keyword](https://www.w3adda.com/dart-tutorial/dart-static-keyword).

About `BackgroundLocator.unRegisterLocationUpdate()
        .then((value) => print('stopped'));`
where are you calling it?

[2020-04-08 06:35] RomanJos commented on #30
Yeah the port.listen get called only if app is alive

[2020-04-08 06:48] RomanJos commented on #30
Yeah `port.listen` get called only when Flutter is alive where the callback keep getting called by the plugin which is a service so it never die
and you can remove this too :
[code]

I don't think Stackoverflow is used for Flutter libraries lol

[2020-04-08 07:05] RomanJos commented on #31
I don't think static is the problem here because the callback and my code aren't in the same process so I have two instance of my class
if `_currentFile` is null it create one, so the first time I open the app the callback list the directory and find the good file, but if I create another file after calling `unRegisterLocationUpdate` and `removePortNameMapping`, `_currentFile` is overrided by the

[2020-04-08 07:36] RomanJos commented on #31
Look at this main.dart https://github.com/RomanJos/background_locator/blob/ClassProblem/example/lib/main.dart
press override and from the plugin's side it would still be null

[2020-04-08 12:08] vimalmistry opened #33 "Can we hide sticky notification?"
Can we hide sticky notification?

Its annoy users and inspire them to delete the app. :)

[2020-04-08 12:45] RomanJos commented on #33
This is because this plugin is a service, if we don't show a notification Android kill it

[2020-04-08 17:53] SergejDK commented on #28
Added a little log file with timestamp and location but forgot to remove the dart logging...

At Around 18:00 you can see some 2-3 Minutes time difference between the calls. I'll try to run it one more time to see if I can recreate the big time difference between the calls.  After 18:25 my macbook had no battery ...

Setup: Android 9 - Motorola G6 Plus - I let the phone in the same position nearly

[2020-04-08 18:12] SergejDK commented on #28
Here are some screens of the example app - maybe this will help....

Motorola - Android 9
![WhatsApp Image 2020-04-08 at 20 10 09](https://user-images.githubusercontent.com/35216985/78818545-1b39f700-79d5-11ea-9c03-731bebb1e2c8.jpeg)
![WhatsApp Image 2020-04-08 at 20 10 09 (1)](https://user-images.githubusercontent.com/35216985/78818547-1d9c5100-79d5-11ea-822b-9bdce69ba71b.jpeg)

Android 10 - One

[2020-04-08 20:01] RomanJos commented on #28
Sometimes I get a big jump on the polyline too but I believe its android that don't reply a position idk
On the last screenshot I see that the position overlap on each others exactly like me, I thought it was my fault on how I sended it on the network but apparently not I will retry tomorrow because I'm now using multipart to upload the file instead of putting `readAsString` in the body

[2020-04-09 04:45] mehdok commented on #31
That's what static means. It will keep it's value among all process and instance.

[2020-04-09 04:55] mehdok commented on #28
@SergejDK It looks pretty normal to me, as you know getting location in interval in both Android and iOS is not guaranteed. The os will send the location based on many parameters: the priority of the background service, battery and cpu usage .....

There might be some vital os process which needs immediate consideration and os can decide to pause other non vital process for a while, Or the phone m

[2020-04-09 06:23] RomanJos commented on #31
Please try the example, if I press override on the Flutter side the value is still null on the callback side

[2020-04-09 09:48] RomanJos commented on #28
Do you think you can make sure to call the callback even if there is no new location ? To retrieve the time at which the person was here I need to write the time and the position in a file where if the plugin make a call with nothing I could write an empty value and retrieve the time by adding the first position time with this position's number * interval in the list

[2020-04-09 18:09] #33 closed

[2020-04-09 18:16] vimalmistry opened #34 "How can I use plugin inside callback?"
I want to call api on location change. I want to attach JWT_TOKEN which is stored in shared preferences. I am facing.

`E/flutter (10000): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: MissingPluginException(No implementation found for method getAll on channel plugins.flutter.io/shared_preferences)`

[2020-04-09 19:24] RomanJos commented on #34
Can you show `LocationService.kt` ? Look like you didn't do the step 3 of Android. At the moment we can't use plugins on IOS by the way

[2020-04-09 23:01] vimalmistry commented on #34
@RomanJos I followed all 3 steps.
 I created Application.kt and configured in manifest.xml.
I am not familiar  with native programming.
Why IOS is not working? there is steps for configure in IOS.

[2020-04-10 04:32] mehdok commented on #34
@vimalmistry The Document and the code need to be updated, I will do it this weekend. Please be hold until then.

[2020-04-10 04:35] mehdok commented on #28
With current base code, No. But it is possible.

[2020-04-10 08:28] vimalmistry commented on #34
@mehdok ohh :( Did you updated doc? I found some new informations in readme.md
One question. What is requirement of minimum android version? My client complaints it is not working on their older devices!

[2020-04-10 09:32] mehdok commented on #34
Minimum android sdk is 16.

[2020-04-10 11:32] RomanJos commented on #34
Actually I modified the README 3 days ago so make sure to match changes on your project, it may resolve your issues 😉
I'm using it on a real Android 4.4.2 (API 19) and it work well I only have issue setting the accuracy to HIGH so I left it to NAVIGATION

[2020-04-10 11:47] mehdok commented on #34
@RomanJos Sorry your changes in document isn't merged yet. If there is something that can help @vimalmistry please copy paste it here.

[2020-04-10 11:49] RomanJos commented on #34
No I mean the one that are already merged

Its LocationService.kt on the readme

[2020-04-10 15:42] vimalmistry commented on #34
Thanks for replies. I actually configured using old doc (Application.kt). It works very  well in most devices  Except some devices and also I can not run it on emulator. But in physical device it works. But I found service is terminated after reboot. Is there any quick fix to auto start on reboot.
I am not a native developer. So I don't know much about .kt and .java file. I am just copy pasting ev

[2020-04-10 20:17] TheMisir opened #35 "androidNotificationCallback is not optional!"
In documentation it says that `androidNotificationCallback` is optional parameter but the plugin crashes if `androidNotificationCallback=null`.

Also, please use correct [semver](https://semver.org/) versioning. You made a breaking change but increased minor version instead of major version. If minor version is changed the changes should be backward compatible.

[2020-04-11 05:37] mehdok commented on #35
It's a known bug and it will be fixed.

[2020-04-11 06:38] RomanJos commented on #34
Thats strange it work on some devices but not even on the emulator, have you tried to run the example ? Starting at boot mean that we need a way to start the plugin directly from kotlin and not dart and I think it would require a lot of changes idk

And i do the same lol

[2020-04-11 07:14] mehdok commented on #35
#36 Make android notification callback optional.

[2020-04-11 07:14] #35 closed

[2020-04-11 07:50] mehdok commented on #31
Ok, now I can see the problem. Just don't access `TheProblem.current` inside `callback`.
The `current` is static and you can access it anywhere.
Suppose you have `save()` function, inside this function you can access `TheProblem.current` directly and there is no need to pass it as argument.

In your example if you change this line the problem will be solved:

[code]

[code]

[2020-04-11 07:57] mehdok commented on #34
@vimalmistry I'm not sure why you can not get it working on some device or simulator, But I can confirm that the plugin is working fine on simulator, both Android and iOS.

On Android I can add the `RECEIVE_BOOT_COMPLETED`, it's not that hard to restart service when device rebooting, But it is something that only Android supports, as I know there is no similar feature on iOS, so for keeping everyt

[2020-04-11 11:21] RomanJos commented on #31
But the point of the example I gave you is that even thought `TheProblem.current` is static the value is not shared between the plugin and Flutter so if I only access this class inside Flutter it will work like I want but I want to use it inside callback to work in the background without Flutter so the class will have another instance inside the plugin's thread and thus will not be modifiable from

[2020-04-11 12:33] mehdok commented on #31
Look at this code:

[code]

[code]

All I'm saying is don't **directly** access your static file inside `callback`.
This way the problem will be solved.

[2020-04-11 13:48] RomanJos commented on #31
Oh so you mean callback need to call another function that this one will use the same instance as Flutter ?
I did this but nothing changed so far I still get two differnet value from Flutter and callback2
[code]

[2020-04-11 14:12] mehdok commented on #31
I'm not 100% sure but I think the callback will pack everything that is inside it and will not look back at your static variable ever again, it just see the first value and pack it and use it whenever it needs it. As I said this is my assumption and it may be wrong.

This is really strange, I did the exact same thing and when I pressed `overrideSecond` the log show me the second value.

[2020-04-11 14:15] mehdok commented on #31
I'm not 100% sure but I think the callback will pack everything that is inside it and will not look back at your static variable ever again, it just see the first value and pack it and use it whenever it needs it. As I said this is my assumption and it may be wrong.

This is really strange, I did the exact same thing as I said in [replay](https://github.com/rekab-app/background_locator/issues/31#i

[2020-04-12 10:12] TahaMalas opened #37 "No implementation found for method LocatorPlugin.initializeService"
Hi, I'm trying to integrate this library with my flutter project but facing this issue:

`(No implementation found for method LocatorPlugin.initializeService on channel app.rekab/locator_plugin)`

I've setup the code for Android as expected

Manifest:
[code]

Application.kt:

[code]

app.dart:

[code]

Any ideas?

[2020-04-12 13:20] mehdok commented on #37
Do you get compile time error or ide error?

[2020-04-12 15:06] TahaMalas commented on #37
Sorry for not clarifying the issue, this is the issue I'm getting:

`(No implementation found for method LocatorPlugin.initializeService on channel app.rekab/locator_plugin)`

I'm getting it in runtime as soon as I call this function:

` await BackgroundLocator.initialize();`

[2020-04-12 15:15] mehdok commented on #37
Can you make a simple repository with this code? So I can run and see what is happening.

[2020-04-12 18:46] gpibarra commented on #31
I will stay thinking about this topic.
To communicate the main process with the background process I would always use ports.
But try doing this by calling init and dispose functions. The init function also you can pass a map to pass data (on Android it was difficult, I had to use gjson).
In this way, in the example, the background process has a "state" (it is a class with the pattern facade, witho

[2020-04-13 03:21] harsha-sira commented on #37
@TahaMalas I also got the same error you got. but then I run the example code as it is and works like a charm. So this should be something wrong with your code.
I'll post again if I found the local issue which I face. it could be the same reason for both of us.

[2020-04-13 11:29] TahaMalas commented on #37
Thanks for your kind response.

Actually while I was working on a sample to show you the code @mehdok I found the issue.

The issue was with my activity, it was extending FlutterActivity but the wrong one

So this was the import of the FlutterActivity:

`import io.flutter.app.FlutterActivity`

I changed it to the correct one:

`import io.flutter.embedding.android.FlutterActivity`

Also thanks @har

[2020-04-13 11:29] #37 closed

[2020-04-13 15:50] TahaMalas commented on #34
Hey, can you tell me how you managed to solve the issue? I'm getting the same problem with SharedPreferences package, while I'm trying to use it on the static callback function

[2020-04-13 18:25] gpibarra commented on #34
Have you followed the steps in the documentation?

[https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback](url)

[2020-04-14 04:05] harsha-sira commented on #37
@TahaMalas, Thanks for pointing out the solution. It was the same reason for me as well.

[2020-04-14 04:11] mehdok commented on #37
@TahaMalas Glad to see the problem solved. Yes you can use other plugins while app is in background or terminated, follow the steps in [Use other plugins in callback](https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback) and let me know if you have any problem.

[2020-04-14 04:13] mehdok commented on #28
I'm closing this issue due to no activity. Feel free to open it anytime.

[2020-04-14 04:13] #28 closed

[2020-04-14 05:14] mehdok commented on #31
@gpibarra I saw your code, and honestly I don't get the point of it.

This is my understanding of your code, correct me if I'm wrong.
1) You created `initCallback` and `disposeCallback`, the init has `initialDataMap
2) When plugin starts to work you call `initCallback` and pass it's saved data to flutter app
3) When plugin stops you call `disposeCallback`

What is not clear for me:
1) How this can

[2020-04-14 08:30] pkuzco opened #38 "Run flutter code from androidNotificationCallback"
Any suggestion for how to display an alert or rebuild part of the UI from androidNotificationCallback?

I tried `SchedulerBinding.instance.addPostFrameCallback()` and `WidgetsBinding.instance.addPostFrameCallback()` with no success in getting that working.

[2020-04-14 09:53] pkuzco commented on #38
I resolved the issue using communication between isolates.

[2020-04-14 09:53] #38 closed

[2020-04-14 09:53] RomanJos commented on #38
I think you can do
[code]
and do what you want in the listen callback, the only problem is if the app is killed, nothing will be listening so the best way for this is to put a global variable on `true` for example and then on app start check if its true but we're having some problem for this #31

Oh you just did that lol

[2020-04-14 10:00] TahaMalas commented on #37
@mehdok  That's great it worked, thanks for your precious time and valuable package.

Also one last question the app sometimes crashes completely and shows this error from the android logcat not flutter's
`
Unable to start service rekab.app.background_locator.IsolateHolderService@5e93951 with null: java.lang.IllegalArgumentException: Parameter specified as non-null is null: method kotlin.jvm.inter

[2020-04-14 10:00] TahaMalas commented on #37
Do you want me to open another issue for that?

[2020-04-14 14:03] gpibarra commented on #31
When plugin start and call "initCallback" dont pass data to flutter app. Data always stays in the class facade inside isolate. Currently, sending data through the port, just for the purpose of refreshing the UI. But it is optional.

Both initCallback and disposeCallback, executed within the isolation process, are to handle the state of the facade class that contains variables necessary for the use

[2020-04-15 17:39] Flavsditz opened #39 "MissingPluginException"
I am posting this here since the error is connected to the usage with your package. I know the error shows another though:

### Background
I wanted to integrate this plugin to an existing, but a bit dated, project. So I followed everything on the installation and setup but encountered too many errors.
I decided to test the example on this github and everything worked well as expected.
I couldn't f

[2020-04-15 17:40] Flavsditz commented on #39
I don't understand why this works in the example but not on a fresh project... The versions in the pubspec are the same

[2020-04-15 17:45] hectorAguero commented on #39
You don't follow this step https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback

[2020-04-17 01:28] wemersonrv opened #40 "Notification icon"
There is a way to use an icon for notification to replace the default square icon?

[2020-04-17 05:20] gpibarra commented on #40
see
[https://github.com/rekab-app/background_locator/blob/7f6e11d7bd40a1909d97c77df757da3a795451c4/lib/location_settings.dart#L22](https://github.com/rekab-app/background_locator/blob/7f6e11d7bd40a1909d97c77df757da3a795451c4/lib/location_settings.dart#L22)

[2020-04-17 12:09] wemersonrv commented on #40
Cool. Thanks

[2020-04-17 13:33] wemersonrv commented on #40
Looking here, i'm already using the application icon.

[code]

But just shows a white square icon... see:

![image](https://user-images.githubusercontent.com/2028673/79574581-c2cebd80-8096-11ea-9134-a64ee82e06da.png)

Do i need to use a specific icon settings to show here ?

[2020-04-17 13:42] Flavsditz commented on #39
You are completely right!
I just feel silly...
Originally I didn't want to use another plugin inside a callback but as the project didn't work I've copied the example and forgot to go through the rest of the configuration.
I was in so deep that I forgot to look at it.

Thanks!!!

[2020-04-17 13:42] #39 closed

[2020-04-17 13:51] gpibarra commented on #40
That is not a problem of the library. It is a flutter or Android problem. Maybe your app icon is colored. In android the notification icons are one ink. Android transforms all colors to black and the background must be transparent (png).

[2020-04-17 22:10] wemersonrv commented on #40
Ok understand. It works now, Cool!

[2020-04-17 22:10] #40 closed

[2020-04-18 11:54] khairu-aqsara commented on #34
i have same case and problem with you, but i follow step on https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback and it's work, here is my Application.kt

[code]
and change  the Manifestfile.

[code]

you need add shared pref plugin,change
[code]
to this
[code]
and change
[code]
to this
[code]

and in the static callback just use the shared pref plugin as usual
[code]

[2020-04-19 04:19] mehdok commented on #31
@gpibarra Sorry for late answer. Your idea is really good and it's working. But I think this is a complicated solution for simple problem. As I said in my previous [reply](https://github.com/rekab-app/background_locator/issues/31#issuecomment-612411000) the solution to this problem looks very simple to me and I tested that on Roman example and it's working.

[2020-04-19 04:22] #34 closed

[2020-04-21 05:25] wemersonrv opened #41 "There is a way to config locator to starts when device is restarted ?"
Hello.

There is a way to config locator to starts when device is restarted ?

My app is to count hours user is in a specific place, so; when mobile is restarted, need to continue capture locations, even if user forgot to open the app to start the captures.

[2020-04-21 21:26] pkuzco opened #42 "androidNotificationCallback gets called for unrelated notifications"
androidNotificationCallback gets called when clicking notifications that are shown by other flutter plugins. A payload/id (String) should be passed to androidNotificationCallback, so we are able to tell whether this was triggered as a result of clicking this plugin's foreground service notification or some other unrelated notification.

How to reproduce?
1.  Show some notification using flutter_lo

[2020-04-21 23:30] saulurquiaga opened #43 "When adding LocationAccuracy callback is not getting executed."
Hello im having a problem when receiving the location changes even when app is in foreground, when i leave LocationAccuracy parameter empty for it to use the default, the callback works fine

settings: LocationSettings(
          notificationTitle: "Start Location Tracking example",
          notificationMsg: "Track location in background exapmle",
          distanceFilter: 10.0,
          wakeLoc

[2020-04-22 05:15] mehdok commented on #43
You have non zero `distanceFilter: 10.0`, so in each interval there must be at least 10 meter change in location or you won't gets any update.

[2020-04-22 05:17] mehdok commented on #42
That's really really strange, can you create a simple project to test this?

[2020-04-22 12:20] pkuzco commented on #42
I think you need to specify a unique action name when you build an Intent for notification, and then check that you got that specific action before calling androidNotificationCallback; similar to what flutter_local_notifications is doing:

https://github.com/MaikuB/flutter_local_notifications/blob/60072d6806bf531ac2ec88570027a7a9445c7184/flutter_local_notifications/android/src/main/java/com/dexter

[2020-04-22 15:40] saulurquiaga commented on #43
The coordinates i use for testing are greater than 10 meters, this works fine when accuracy is not set as the first example, when i add the LocationAccuracy.HIGH stops working for some reason, same intervals and distanceFilter, same coordinates as wl

[2020-04-23 15:02] anirudhsharma392 commented on #41
@wemersonrv  did you found any solution for this ??

[2020-04-23 15:04] anirudhsharma392 commented on #41
@wemersonrv  did you found any solution for this

[2020-04-23 15:07] anirudhsharma392 opened #44 "Distance filter"
Is distance filter triggers the callback on change of location?
I am not getting any callback, when I changes the location in the map.
I have set the distance filter to 1.

[2020-04-23 15:11] #44 closed

[2020-04-23 15:16] gpibarra commented on #41
This was written on another issue:

[https://github.com/rekab-app/background_locator/issues/34#issuecomment-612360164](https://github.com/rekab-app/background_locator/issues/34#issuecomment-612360164)

[2020-04-24 01:53] wemersonrv commented on #41
Hello. Nope. Unfortunately I couldn't.

As @mehdok says on the quoted comment below, it don't has a way to do that... Will need to count on user to reopen app/service to restart captures.

[2020-04-24 01:59] wemersonrv commented on #34
@mehdok  Any chance to convince you to make this implementation for Android?

Almost 90% here in Brazil is android: https://gs.statcounter.com/os-market-share/mobile/brazil

And worldwide is not so different: https://gs.statcounter.com/os-market-share/mobile/worldwide

[2020-04-24 04:17] anirudhsharma392 commented on #43
I think coordinates fluctuates on low accuracy.
Also are you using an emulator ?

[2020-04-24 04:34] mehdok commented on #34
@wemersonrv I think I can do that this weekend.

[2020-04-24 05:43] RomanJos commented on #43
For me too the HIGH settings do weird things but I thought it was my phone

[2020-04-24 13:49] moovida opened #45 "[question] no such module 'background_locator'"
Hi, I am trying to setup the lib to be used in IOS and I am probably doing something wrong.

I followed the wiki page but inside my swift file it can't load the module:

[code]

When I started this, I didn't have a swift file, but Appdelegate.m and .h files and a main.
Any idea what I might be missing. Thanks a ton. Looking forward to test this library.

[2020-04-25 09:06] mehdok commented on #45
You have Objective-C project, There is no need to add `AppDelagate.swift`. Just add the following line to your `AppDelegate.m` file:

`#import <background_locator/BackgroundLocatorPlugin.h>`

[2020-04-25 11:54] moovida commented on #45
The ios part has been generated when I first started the project and I have no knowledge about it. Maybe previous Object-C were generated instead of Swift.

Anyways your suggestion worked: I placed it in the .h just because there I found imports while the .m had includes. But it should be the same I guess.

Thanks a lot!

[2020-04-25 18:54] yoavrofe opened #46 "Change to MIT license"
GPL is a very restrictive license, which makes the plugin unsuitable for most uses.
I suggest changing to MIT.

[2020-04-26 05:16] mehdok commented on #46
What restriction and use case do you referring to?

[2020-04-26 10:58] yoavrofe commented on #46
Using this plugin means that you must open source your app using the same license. That's why it not used anymore for plugins.

[2020-04-26 11:07] mehdok commented on #46
I didn't think of this feature as a restriction, But you are right. let me investigate the condition of changing the license.

[2020-04-26 12:10] #42 closed

[2020-04-26 12:10] #41 closed

[2020-04-26 14:26] mehdok commented on #41
[  Restart-service-on-device-reboot  ](https://github.com/rekab-app/background_locator/wiki/Restart-service-on-device-reboot)

[2020-04-27 02:51] wemersonrv opened #48 "Notification icon works only in debug, when make a release app, the icon not works."
Hi, make icon and name it `ic_background` and add it to each folder `midmap-hdpi`, hmdpi, xhdpi, etc... and works fine on debug. See:

**Icon on status bar (debug)**
![image](https://user-images.githubusercontent.com/2028673/80327499-ac510080-8812-11ea-9b0d-e0415a0357f3.png)

**Icon on notification dialog (debug)**
![image](https://user-images.githubusercontent.com/2028673/80327488-a2c79880-8812-1

[2020-04-27 07:00] moovida commented on #45
Please allow me to reopen this, since it looks related.
On IOS the app crashes at startup when trying to connect. In the crash log I find only this which seems to be related:

[code]

I am quite sure I followed the instructions properly, but clearly something is off. DO you see something that might lead me to the error? Thanks a ton.

[2020-04-27 08:23] lchateau opened #49 "Stop the isolate from himself"
Hello,
For a project I need to restart the background isolate from himself with new parameters.
I was trying to manually register the plugin in `Application.kt` but I am having build error : `Application.kt: (31, 37): Unresolved reference: registerWith`
All others plugins are well registered and working in background.

[code]

When I didn't add the background plugin I am having run error : `Unhand

[2020-04-27 11:25] SergejDK commented on #28
Was checking if it is android which makes this breaks between the calls but it seems to be something with the library.

I tried with the google-sample and it worked perfectly:
https://github.com/android/location-samples/tree/master/LocationUpdatesForegroundService/app/src/main/java/com/google/android/gms/location/sample/locationupdatesforegroundservice

Maybe you/we can check on how to make the sa

[2020-04-27 11:47] wemersonrv opened #50 "IOS: Does not ask for location permission."
Hello.

It's working fine on Android. But on iOS it not asks for permission and of course, not works.

See app permission... not have location permissions:

![image](https://user-images.githubusercontent.com/2028673/80365244-a9c7c880-885d-11ea-997a-bd7763e4c9cb.png)

Do i miss something???

Below my files as oriented in documentation:

**AppDelegate.swift**
[code]

**Info.plist**
[code]

**Runner

[2020-04-27 12:26] wemersonrv opened #51 "Android: 90% battery consumption and android warning to force app to close."
Hello.

I'm using background_locator to store locations in background without sendint it to port listened on UI... see here: [Issue 30 - comment:610746281 ](https://github.com/rekab-app/background_locator/issues/30#issuecomment-610746281) and the result is amazing! But the problem is the excessively high battery consumption!!!

Users are complaining that `background locator` is consuming about 90%

[2020-04-27 13:10] RomanJos commented on #51
Wait interval is in second right ?

[2020-04-27 13:12] wemersonrv commented on #51
Yep... exactly!!!

5 minutes is: __60 * 5__ = 300 seconds

[2020-04-27 13:17] RomanJos commented on #51
Oh god I feel so dumb lol I thought it was a divided :smile:

Then I don't know why it take this amout of batterie, I put the interval to 5 seconds and don't have any problem :thinking:

[2020-04-27 13:23] wemersonrv commented on #51
No problem. :laughing:

Well, this feedback is from our testers, the app is in closed beta test yet. So i receive it as a tester feedback.

I will ask user about OS version, etc... Any information that can help ?

[2020-04-27 13:30] RomanJos commented on #51
I have literally no idea, 90% seems quite impressive thought, did you tried on your devices ? You'll maybe find an explanation

[2020-04-27 13:37] wemersonrv commented on #51
Yes, just completed 2.5 hours on my device, with 1% consumption.  Good so far!

[2020-04-27 14:06] gpibarra commented on #48
It seems more like an android problem than a library problem.
What versions do you have in the emulate? What do you have on the physical device?
Make sure the icon is png with a transparent background and a single color. Maybe there is a pixel with a different color that is what you see.

[2020-04-27 14:09] gpibarra commented on #45
Are you running the project "example" inside this repository or is it a new application that you copied the configuration?

[2020-04-27 14:17] gpibarra commented on #50
The library does not ask for permissions. Permissions should be asked in the main app(for example package location_permissions/location_permissions.
You did this?
[`https://github.com/rekab-app/background_locator/blob/86ef3a83714f9f2dc0e19f4fa711e39d6e2789f3/example/lib/main.dart#L174`](https://github.com/rekab-app/background_locator/blob/86ef3a83714f9f2dc0e19f4fa711e39d6e2789f3/example/lib/main.d

[2020-04-27 14:21] wemersonrv commented on #48
Emulator: Google Pixel 2 (Android 9)
Device: Moto G5 ( Android 7.1,1 )... but i have 500 testers working my app in beta and all of them have the same issue.

Here the icon.. It is a 1 color (black) png with transparent background... If different, will not work in emulator... i tested other icons and colors with no transparent background and nowt works in debug... in short... Icon is good and works

[2020-04-27 14:46] wemersonrv commented on #50
Yes i do. see my code:

[code]

It works on android, and ask for permission... see:
![image](https://user-images.githubusercontent.com/2028673/80385408-6597f080-887c-11ea-816a-1e399371c765.png)

But in iOS do not ask for permission, and the location permission is missing in permission list in app detail. See here:

![image](https://user-images.githubusercontent.com/2028673/80365244-a9c7c880-885d-1

[2020-04-27 16:22] mehdok commented on #51
In theory looking for new location should just happens in specified interval, so between this interval there shouldn't be any GPS request.
Please try lowering `accuracy` and let me know if anything changes.

[2020-04-27 21:19] moovida commented on #45
@gpibarra it is a different application inside which I am trying to use the library.

[2020-04-28 01:23] gpibarra commented on #48
try changing the dimensions of the icon

Small Notification Icon (mdpi) | 24x24
Small Notification Icon (hdpi) | 36x36
Small Notification Icon (xhdpi) | 48x48
Small Notification Icon (xxhdpi) | 72x72
Small Notification Icon (xxxhdpi) | 96x96

[https://documentation.onesignal.com/docs/customize-notification-icons](https://documentation.onesignal.com/docs/customize-notification-icons)

[2020-04-28 07:47] moovida commented on #45
Alright, finally been able to run my app throught Xcode on a device. I am getting this:

[code]

So I assume I am just doing something wrong in the object-c code. Since I have no idea about what I am doing in there, I will try to post my files, since I feel something is missing:

main.m
[code]

AppDelegate.h
[code]

AppDelegate.m
[code]

Shouldn't I be able to call: **BackgroundLocatorPlugin.setPl

[2020-04-28 08:21] moovida commented on #45
Alright, I think I found a solution.

I tried to migrate the ios part to swift before but it would not find the background_locator module and therefore not build.

But then I noticed those lines where missing in my Podfile:
[code]

After that the Pods_Runner.framework is used in the libs section and things are loaded properly.

[2020-04-28 11:39] #45 closed

[2020-04-28 11:40] moovida commented on #45
If it is of interest, I could write a small entry about this migration in the wiki setup part. Maybe another complete ignorant in ios as myself could find benefit.

[2020-04-28 11:47] pkuzco commented on #43
I'm also observing the same issue @saulurquiaga has reported.

[2020-04-29 01:04] wemersonrv commented on #48
I'm using the right dimension for **?dpi**. This is not the problem. The problem is the icon is not rendered right when in **release**... Just in **debug*. If the icons were out of size, they would not have been rendered correctly even in the debug. The `home` icon i add in my previous post is only to show a sinle color and final file that was used to generate each dimension icon.

See below, try

[2020-04-29 01:20] wemersonrv commented on #51
Well, this happens only with one of my testers. So i think this is a damaged battery issue, not from plugin... User battery is damaged?! I don't know, but have 500  users testing my app and just one has this issue.

Because of that, I'm closing the issue. Thank you!

[2020-04-29 01:20] #51 closed

[2020-04-29 05:23] mehdok commented on #45
You are very welcome to do that;

[2020-04-29 07:25] moovida commented on #45
It is the least I can do :-)

I just noticed that there is no way to make pull requests against the wiki. I therefore attach my proposal of the setup file (zipped sine github doesn't allow md file to be uploaded):[Setup.md.zip](https://github.com/rekab-app/background_locator/files/4550228/Setup.md.zip)

For better readability I inverted the steps. It should not be a problem, but you better check i

[2020-04-29 08:35] moovida commented on #48
I can confirm that the notification icon works flawless. It is most probably an issue of the image not being properly created.

Best you use this online tool: http://romannurik.github.io/AndroidAssetStudio/icons-notification.html

I made it like this and it works perfectly.

[2020-04-29 09:36] moovida opened #52 "[question] best practices"
I have some questions that I think might interest others. I would be happy to gather the answers and make them a documentation page in the wiki. Not sure if the issue format is the best for this, but I will try:

### what is the best practice to stop the background logging on IOS?

On Android I am able to intercept the back button and unregister properly the location listener. What is usually done

[2020-04-29 12:50] wemersonrv commented on #48
Not works. I'm created the icons using this tool... test with my own image, and test with the same image in tool library (home icon on clipart)... none of them works.

When run in debug (emulator or device via adb) it works... **fine fine** but when make a release not works.

[2020-04-29 14:31] wemersonrv commented on #48
Hello.

Working now. I just have to add a reference for the icon on **res/drawable/launch_background.xml**:

[code]

[2020-04-29 16:58] scotty86 commented on #46
Yeah, your plugin works very well so far! Thank you!
But GPL is a nono for me. MIT would be awesome.

[2020-04-29 17:07] scotty86 opened #53 "[Question/Feature request] Update/Change notification message"
Hello,

is there a way to update the notification message?

Background: I want to track the distance someone has moved and it would be great, if I could show the current distance value in the notification.

Greetings
scotty86

[2020-04-29 17:43] gpibarra commented on #52
for "notification dynamic info"
[https://github.com/rekab-app/background_locator/issues/53](https://github.com/rekab-app/background_locator/issues/53)

[2020-04-29 19:07] wemersonrv commented on #41
Not works here. Did i miss something?!

Below my **AndroidManifest.xml**

[code]

[2020-04-29 19:13] wemersonrv commented on #41
Sorry! My bad!

after about 40 seconds he started the background locator.

**Is alive! bwahahahahahahah!**

[2020-04-29 19:38] #48 closed

[2020-04-29 19:51] scotty86 commented on #48
fml (I know, best start for a comment, but it took me hours to figure it out...)

**Problem:**
I always got a white square as notification icon. My launch icon is a grey square with some text.

**What I tried:**
- I generated the required image-files with https://romannurik.github.io/AndroidAssetStudio/icons-notification.html#source.type=clipart&source.clipart=ac_unit&source.space.trim=1&source.sp

[2020-04-30 06:18] moovida commented on #48
I am quite puzzeled, for me this worked having the notification icon done in asset studio and paced like this:

![image](https://user-images.githubusercontent.com/390250/80678317-f78d3c80-8aba-11ea-9516-a33f946eec9b.png)

and then just calling it like:

[code]

I have no other reference to smash_notification.png anywhere.

[2020-04-30 06:29] mehdok commented on #46
@RomanJos
@marceloneppel
@gpibarra

You contributed to this library, So I need your agreement to change the license from `GPL3` to `MIT`.

Do you agree?

[2020-04-30 08:42] RomanJos commented on #46
The two are okay for me

[2020-04-30 12:43] marceloneppel commented on #46
I agree.

[2020-04-30 13:34] gpibarra commented on #46
I agree!

[2020-05-01 07:17] #46 closed

[2020-05-01 07:22] yoavrofe commented on #46
Great. Thanks! Please note that the original license file was not changed, just a new license.md file added. I suggest removing the older one.

[2020-05-01 07:26] mehdok commented on #46
@yoavrofe Thanks for reminding;

[2020-05-02 15:11] martofeld opened #54 "[iOS] Doesn't work on app killed"
I downloaded the project and tested it against the provided example app. I installed it in a real iOS device and started it. Started getting a few sparse location, went to background and the project didn't show any notification but still got a few updates. As soon as you kill the app it stops.

Other info:
Had to get some work done according to the [iOS migration guide](https://flutter.dev/docs/de

[2020-05-02 16:49] moovida commented on #43
I also did some testing on this today. Navigation has always worked well for me.
I now tested balanced and high. Both without distance filter.

* balanced: it starts quite ok, but has extremely bad precision. I assume this could be from the system GPS, but  honestly the jumps it does, are quite strange. After a little while (30 points or so) it just gets stuck in a point and there remains without

[2020-05-03 04:43] mehdok commented on #54
There is no need for notification on iOS.

The idea for iOS is that when app is killed and new location received the os should wake the app and execute some code and then kill the app again. After this if you open the app you should see that locations is saved. If it's not the behavior you get there might be a bug;

[2020-05-03 20:59] martofeld commented on #54
I believe it's not the behavior, I left the app killed for hours and haven't gotten any new locations, at least none that are saved via the FileManager. I've been testing mostly using the example app provided in this repo.

Might be related but given that we are in quarantine I haven't moved much this past few days. As far as I understand this uses the significant location API from Apple.

[2020-05-04 00:04] alexlopespereira opened #55 "Getting unwanted hundreds of point acquisitions on iOS"
I have an app which is working fine on Android but it is calling the callback functions hundreds of times at each second.

How could I prevent such a behaviour?
Shoud I update the UI in order to dismiss the trigger event?

I'm using this code for setup:
[code]

[2020-05-04 05:26] pkuzco commented on #41
Is relaunching the service on device reboot supported on iOS?

I see that this plugin calls `startMonitoringSignificantLocationChanges` on iOS which based on Apple's documentation, the service should be relaunched after a significant location change of 500m or more.
Has anybody tested that this feature works on iOS? I tried both on the emulator and real device - doesn't work on either.

[2020-05-04 05:39] pkuzco commented on #54
I tested both on an emulator and a real device. doesn't work on either.

I found one issue in this code:
https://github.com/rekab-app/background_locator/blob/master/ios/Classes/BackgroundLocatorPlugin.m#L93

I think you should call `startMonitoringSignificantLocationChanges` again before returning from `didFinishLaunchingWithOptions`, but I doubt this is the only issue that causes this feature not

[2020-05-04 15:29] khairu-aqsara opened #56 "[Android]Notification Icon Not Working"
LocationSettings options for notificationIcon not working when we change the icon, it's not visible as it should, just white rectangle when the app in production build `flutter build apk --split-per-abi` but it working when in development.

![WhatsApp Image 2020-05-04 at 22 25 17](https://user-images.githubusercontent.com/25432146/80983058-4f7ac900-8e56-11ea-9422-049b0636ad3b.jpeg)

the icon image

[2020-05-04 15:40] gpibarra commented on #56
It seems more like an android problem than a library problem.
see
https://github.com/rekab-app/background_locator/issues/48

[2020-05-04 15:45] wemersonrv commented on #56
Exactly! This is my issue and works amazing now!!

I have the same problema as you @khairu-aqsara and the solution is well-documented now.

I strongly recommend u to read the entire issue messages on recommendation that @gpibarra posted here.

[2020-05-04 16:14] khairu-aqsara commented on #56
thankyou,
it's working now using this #48

[2020-05-04 16:14] #56 closed

[2020-05-04 22:26] martofeld commented on #54
@pkuzco I took a look at the one you sent but doesn't seem to be working. It crashes in background when the location is updated. I've been working on trying to integrate their code in this plugin but unfortunately my iOS is not strong enough.

[2020-05-05 02:57] alexlopespereira commented on #55
I thought I made some mistake implementing the setup for iOS, but it doesn't seems to be the case. Because I've download the example project from here https://github.com/rekab-app/background_locator/tree/master/example and the same behavior happens on iOS (many many calls to the callback).

How could we prevent this from happening?

[2020-05-05 08:19] #49 closed

[2020-05-05 15:28] RomanJos commented on #49
Hi did you achieved what you were looking for ?

[2020-05-05 16:26] pkuzco opened #57 "[Android] Crashes after the last update (1.1.3+1)"
Many crashes are being reported on Google Play Console after updating my app to use version 1.1.3+1 of this plugin (I had no issues until version 1.1.2+2), so it could be caused by the newly added feature https://github.com/rekab-app/background_locator/pull/47, which I'm using.

[code]

[2020-05-05 17:08] pkuzco commented on #57
I'm not sure if this helps, but I will share it here anyway:
https://stackoverflow.com/questions/58942350/caused-by-java-lang-illegalstateexception

[2020-05-06 00:58] martofeld commented on #54
@mehdok Do you happen to have any ETAs on fixing this bug? This is the best library I've found so far for background location but this bug renders it unusable in iOS

[2020-05-06 01:37] alexlopespereira commented on #54
@mehdok I'm on a similar situation that @martofeld is. I might have to migrate to another plugin because I can not use this plugin on iOS.

[2020-05-06 04:51] mehdok commented on #57
Are you using start after boot feature? the only change in that version was that and you can ignore it by not including it's broadcast receiver in your code.

[2020-05-06 04:59] mehdok commented on #55
Are you testing on _emulator_ or _real device_?
Please give me all the information about testing environment, Include _Xcode version_, _iOS version_, _real device name_ or _simulator_, etc.

Also there is `GpsiesTrack.gpx` in the example project, Are you sure that you are not using it as mock location?

[2020-05-06 05:01] mehdok commented on #54
@martofeld @alexlopespereira I'm trying my best to fix this bug a.s.a.p . In the meaning while any PR or suggestions are very welcome.

[2020-05-06 05:03] mehdok commented on #53
Currently there is no way to do such thing. But it's a nice feature and will be added someday :).

[2020-05-06 05:38] pkuzco commented on #57
Yes, I have removed the broadcast receiver of that feature already, but I hope we can find a fix for this issue soon.

[2020-05-06 05:45] mehdok commented on #52
Sorry for late answer.

There is a bug in iOS #54 and right now I don't have any straight answer for your question.

Right now there is no way to tell the difference, But is would be a nice feature to add.

There is no need to re-register the `solateNameServer`. If your app is open and you need to change the accuracy just stop the plugin, init it with new accuracy setting and start it again.

[2020-05-06 05:48] mehdok commented on #50
Did you followed the instruction for setting up on [iOS](https://github.com/rekab-app/background_locator/wiki/Setup#ios) ?

You have to add location permission in `Info.plist`

[2020-05-06 05:53] mehdok commented on #43
Is this a problem in `Android` or `iOS` or both?

Can you all give some information about testing environment?

[2020-05-06 05:58] mehdok commented on #57
Can you add more info?

- Steps to produce the crash.

- Information about Testing environment, Android version, etc.

- More log about the crash.

[2020-05-06 06:04] martofeld commented on #54
@mehdok that is great news!! I would love to help but unfortunately iOS is not my strong suite. I did test the plug-in that was linked earlier in the comments and it does seem to work.

[2020-05-06 06:13] moovida commented on #52
Hi @mehdok, thanks for your reply. Is there a better way to help you out with the documentation, if I am to contribute some? I see the IOS Setup part is not yet up and I feel back, because you should not have the burden. Would it be possible to get write access to the wiki part, so that I could add the setup part and maybe start an FAQ page? Write access could also be just for a little while. The

[2020-05-06 06:46] moovida commented on #43
I tested it just on Android:
* pixel 3x
* android 10

[2020-05-06 08:39] worldbucks opened #58 "Turn Off Notification"
Just wondering is there a way to turn off notification?

[2020-05-06 13:26] wemersonrv commented on #50
Yes i do!

When i opened this post i add the **Info.plist** portion that has backgrond location settings... I thing i do not miss any setting...

[2020-05-06 14:20] gpibarra commented on #58
No. On android, the library make a native service, and that service always has to have a stiky notification.

[2020-05-06 14:28] gpibarra commented on #50
Did you try running exactly the "example" from this repository? The Info.plist configuration looks good, but maybe there is something that the configuration is different.
If you try the "example" and it requires the permissions, we discard that it is not a problem of the library, but some missing documentation for the correct configuration.

[2020-05-06 15:01] mehdok commented on #52
@moovida Sorry for not adding your file into the wiki. I wanted to ask you add a separate part for iOS integration and I got stuck into my work and forgot that.

Please separate your walkthrough and add a separate section to wiki and then follow the steps in this [qa](https://stackoverflow.com/questions/10642928/how-to-pull-request-a-wiki-page-on-github) or just email me your `.md` file and I will

[2020-05-06 19:00] moovida commented on #52
Hi @mehdok , maybe I gave the wrong impression, I just wanted to help and not stress. :-)

I will look at that wiki PR walkaround.

Just to be sure, you want me to extract the whole IOS setup part into a new page or just the one I added?

[2020-05-06 19:05] mehdok commented on #52
Just the integration from objective-c to swift.

[2020-05-06 23:26] yogiis98 commented on #58
@gpibarra Can we change the notification text if GPS is off in callback mentioning that GPS is off.

[2020-05-07 00:30] gpibarra commented on #58
For now only the text is set when starting service. You cannot dynamically change the notification text (for example when the GPS status is changed).
In futures versions this functionality will considered.
[https://github.com/rekab-app/background_locator/issues/53](https://github.com/rekab-app/background_locator/issues/53)

[2020-05-07 08:50] lchateau commented on #49
Hi, I achieve what I was looking for but with a different approach. I don't need anymore to stop the isolate from himself (and I am unable to).

[2020-05-08 15:27] elliebike commented on #54
I'll check this out! I have some experience with location tracking stuff on iOS, and I kinda really need this functionality haha

[2020-05-08 15:41] martofeld commented on #54
@elliebike @mehdok  I've been thinking a lot about this lately. As far as I can tell, the only `Location` operations you can do while the app is in background is `significantChangesMonitoring` which would mean your app gets restarted to let you know the users location (but only every 500m).

I also read that the `CLLocationManager` can do Region Monitoring (geofencing?) and I'm not sure if that wi

[2020-05-09 14:56] alexlopespereira commented on #55
Hi @mehdok I'm testing on a real device, iPhone X, iOS13, Xcode 11.4.1

I'm quite sure I'm not using the GpsiesTrack.gpx file, because these points in the image are the points where I was at the time I ran the app.

[2020-05-10 05:03] mehdok commented on #55
This behavior from a real iOS device is really strange. I tried to replicate this situation with iPhone7 and iPhone XS Max, But the they act very normal.

[2020-05-10 11:44] alexlopespereira commented on #55
Did you manage to setup triggers to some minutes? I created my environment
again and updated my flutter to 1.17 and it stopped triggering hundreds of
times. But it does not take into account the interval setting. The period
between the triggers keeps been 1 second no matter what.

On Sun, May 10, 2020 at 2:03 AM mehdi sohrabi <notifications@github.com>
wrote:

[2020-05-11 00:57] martofeld commented on #54
Created #59 as a possible fix following my previous comment

[2020-05-13 02:03] wemersonrv commented on #50
Works the example and works... weird... will investigate if something is missing here on my project.

But, in the repo "example" project is causing the same problem of this issue https://github.com/rekab-app/background_locator/issues/55#issuecomment-623807882_

[2020-05-13 02:09] wemersonrv commented on #55
@alexlopespereira did this problem still happens?

Here i have the same issue... So get the example project and run and receive a lot of captures, just like you.

I thing this problem is the cause of of another issue i had a couple of days ago about high battery consumption ... this issue: #51

Now all makes sense. Over-capture, of course, is pushing the battery a lot. Now it's only a matter of ti

[2020-05-13 19:20] gpibarra commented on #50
try with the previous version of the repo, maybe there is something in the configuration that is missing (in that case better the documentation). Then we go back to the latest version of the library and wait to solve the bug

[2020-05-13 20:25] wemersonrv commented on #41
This specific feature @mehdok make is for android only...

[2020-05-15 06:19] miamir2000 opened #60 "Passing parameter to callback function"
How to pass parameter to callback function, eg: username

[2020-05-15 12:13] praveenbbhati commented on #60
Hi @miamir2000  Can you please explain what you want to achieve?

[2020-05-15 13:52] miamir2000 commented on #60
Hi praveenbbhati,

I would like to push username, latitude & longitude to cloud server inside callback function.
1. Try using global variable (static String username) - when I set value, it not reflect value inside callback function.
2. Try store value using shared preference & retrieve inside callback function, got exception error.

Please advise, thank you in advance.

static void callback(Locat

[2020-05-15 13:59] gpibarra commented on #60
Service background run in an independent process, the static variables of the main process are not accessible from the background process (there are other instances of those same variables).
Try shared preferences. As for the exception, check the documentation: [https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback](https://github.com/rekab-app/background_locator/wiki/

[2020-05-16 10:52] ludesert opened #61 "Get vertical speed in callback"
Hi,
I need to get the vertical speed during the callback.
For this, I need to have different altitudes at 2 different times to calculate the speed.

Is it possible to get a new location update IN the callback method ? I tried using this plugin to get a location update : https://github.com/Lyokone/flutterlocation/

But I can't register it, I get this error while starting the service :

`E/AndroidRu

[2020-05-16 16:19] gpibarra commented on #61
For register other plugins, check the documentation: [https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback](https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback)

[2020-05-16 20:22] ludesert commented on #61
I know, and it did not work with flutterlocation.
I tried with this plugin : https://pub.dev/packages/geolocator and it works perfectly.

[2020-05-16 20:22] #61 closed

[2020-05-17 10:34] ludesert opened #62 "Service killed by Android"
I have a start and stop button in my app to register or unregister the background service. It works like a charm even when the app is killed (that's the intent of the plug-in), but for some reasons, after 10-15 min the notification disappears.

Is the service sticky? Because I guess it should start again everytime it gets killed, right?

I'm using a Huawei honor 10.

[2020-05-18 01:04] wemersonrv opened #63 "There is a way to define a large interval betwen captures in IOS?"
There is a way to define a large interval betwen captures in IOS?

For Android is fine with **interval** config parameter, but in ios not.

[2020-05-21 06:05] #52 closed

[2020-05-21 06:09] moovida opened #64 "object-c and faq wiki pages"
Sorry this took long and is not using the pull request workaround @mehdok , but the risk is that I never submit it. :-/

As discussed in issue #52 please find attached the object-c setup page as a single page.

I also started an FAQ page with some questions I asked. I think in general it might be a good addition to the wiki and help to answer some of the issues that get opened regularly. Feel free

[2020-05-21 22:18] juanlabrador commented on #21
Hi, I have the last version, in Android works but in iOS don't work the callback, I read the wiki many times, I don't know why the error.

[2020-05-22 22:14] juanlabrador opened #65 "Duplicate plugin key: BackgroundLocatorPlugin"
I have a login, when user logout, I unregister locator, send to login, I when I login again inmediately, crash with that Duplicate plugin key: BackgroundLocatorPlugin, iOS. Any idea?

[2020-05-22 22:18] juanlabrador commented on #65
2020-05-22 17:12:58.518191-0500 Runner[3541:195103] *** Assertion failure in -[FlutterEngine registrarForPlugin:], ../../flutter/shell/platform/darwin/ios/framework/Source/FlutterEngine.mm:673
2020-05-22 17:12:58.519224-0500 Runner[3541:195103] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Duplicate plugin key: BackgroundLocatorPlugin'
*** First throw c

[2020-05-23 18:27] fnicastri commented on #65
Just hit the same issue.
@mehdok  To reproduce just run the example and perform an Hot Reload.
xcode output:
![image](https://user-images.githubusercontent.com/5978520/82737700-28b40200-9d33-11ea-9bff-fecbd3e53f54.png)

[code]

[2020-05-23 18:36] fnicastri commented on #65
@mehdok
Possible solution is to change:
[code]
to:
[code]
in `AppDelegate.swift`

[2020-05-24 05:01] logic-emotion commented on #63
Would also like to know how this can be achieved.

[2020-05-24 12:01] wemersonrv commented on #63
Really.. good to know that i am not the only one with ios issues. Here ios does not obey time interval and capture locations every Second. A true **BATTERY VAMPIRE** :vampire_man: :disappointed: :sob:

[2020-05-25 05:25] praveenbbhati opened #66 "java.lang.IllegalArgumentException in firebase crashlytics and service getting closed in custom ROM devices"
This crash is reported hundred times on firebase crashlytics. The app is working fine but some time is getting crashed.

Does anyone face the same issue? or any solution?

FYI I've followed all steps suggested by wiki.

**One more issue -**
The `IsolateHolderService` foreground service getting destroy in Chinese custom ROM devices like OnePlus, Xiaomi, Vivo, Huawei, etc. when the app gets removed

[2020-05-25 21:52] itismejy opened #67 "Unregister Location Update in callback"
Trying to unregister location update in the callback but having the error "Unhandled Exception: MissingPluginException(No implementation found for method LocatorPlugin.unRegisterLocationUpdate on channel app.rekab/locator_plugin)"

Any help would be appreciated, thanks!

[2020-05-26 15:00] juanlabrador commented on #65
Thank you! It's help!

[2020-05-26 15:00] #65 closed

[2020-05-26 15:38] felipekjr commented on #67
Same here! We are using the plugin in an production app and need so much this feature. Can someone send a feedback about this? Thanks

[2020-05-27 10:41] stefanop1 opened #69 "[Feature request] Start/stop service when bluetooth connect/disconnect"
Hi,
is it possible to start the service or stop when a particular bluetooth is connected/disconnected.

This could open the automatic registration of tracks.
Thanks for your beautiful plugin

[2020-05-28 04:57] sgalway00 opened #70 "Bad state: Stream has already been listened to"
I have successfully implemented your package but when I try to start the isolate a second time I get an error "Bad state: Stream has already been listened to."  During the first activation everything works as expected.

[code]
`VERBOSE-2:ui_dart_state.cc(157)] Unhandled Exception: Bad state: Stream has already been listened to.
#0      _StreamController._subscribe  (dart:async/stream_controller.da

[2020-05-28 16:01] mohamnag commented on #54
18 Days, a PR ready to go but no feedback :-(

[2020-05-28 20:24] mehdok commented on #69
Honestly, This feature is out of scope for this plugin. But I think this could be done inside your app, without any change in the plugin;

[2020-05-28 20:28] mehdok commented on #67
Please provide some code so I can investigate the problem;

[2020-05-28 20:29] mehdok commented on #66
I'm aware of this issue and trying to find the problem;

[2020-05-28 20:30] mehdok commented on #64
Thanks man, It was a great help;

[2020-05-28 20:30] #64 closed

[2020-05-28 20:41] mehdok commented on #63
As @wemersonrv said, iOS doesn't obey anything. But there should be some rule about it, please be hold and I will come with a better answer;

[2020-05-28 20:44] mehdok commented on #62
The service is sticky and the whole purpose of the notification is to keep the service alive. It would be a great help if you can provide more information, code or logs;

[2020-05-28 20:46] mehdok commented on #60
@miamir2000 Do you still have problem or found a workaround?

[2020-05-28 20:48] mehdok commented on #58
@gpibarra provided the needed information. So I'm closing this issue for now, feel free to open it at anytime;

[2020-05-28 20:49] mehdok commented on #57
Closing this issue due to inactivity. Please feel free to open it at anytime;

[2020-05-28 20:55] mehdok commented on #31
@gpibarra Due to similar reported problems, I think this issue is getting more serious, please create a PR from your branch and I will dig it deeply ;)

[2020-05-28 23:06] ludesert commented on #62
I think the problem is ... Huawei !
Their OS ignores Android's battery optimization settings and kills the background service if the app is not manually whitelisted in the phone settings. I haven't found any solution to avoid this problem on Huawei devices.

The service worked perfectly on a Samsung device.

[2020-05-29 06:43] itismejy commented on #67
Thanks for the reply!

In the callback function I just want to unregister BackgroundLocator in the callback so the app can stop tracking a user's location in the background without having them have to open it. In the example it would look something like this (finished being a boolean):

static void callback(LocationDto locationDto) async {
    final SendPort send = IsolateNameServer.lookupPortByNa

[2020-05-31 08:54] juanlabrador commented on #66
Same problem to me. When the app is dead and receive a notification.

[2020-05-31 09:15] juanlabrador commented on #66
I think, in class IsolateHolderService, in the onStartCommand method, the intent params should be set null safety "?"

` override fun onStartCommand(intent: Intent, flags: Int, startId: Int)
by
override fun onStartCommand(intent: Intent?, flags: Int, startId: Int)`

And validate if is not null. Maybe works.

[2020-05-31 09:17] juanlabrador commented on #66
And check in a class normal, and the method override in services should be ->

` override fun onStartCommand(intent: Intent?, flags: Int, startId: Int): Int {
        return super.onStartCommand(intent, flags, startId)
    }`

[2020-06-01 16:49] merlinko637 opened #72 "No static method isAtLeastR()Z"
Hello, when importing your plugin, using embedding v2 and using android API v29 i get the following error (it is when plugin gets registered):

java.lang.NoSuchMethodError: No static method isAtLeastR()Z in class Landroidx/core/os/BuildCompat; or its super classes (declaration of 'androidx.core.os.BuildCompat' appears in ...

I found that, it is necessary to update this package to latest version:

[2020-06-01 22:43] Matthuffy commented on #50
I have the same issue

[2020-06-02 05:15] mehdok commented on #63
@wemersonrv  I think your only option is to use larger distance filter, so the location update tiggers less often. Please let me know if that works for you.

[2020-06-02 06:04] #57 closed

[2020-06-02 06:07] mehdok commented on #72
@merlinko637 I didn't use this package in the plugin. Please add it to your app and let me know if it fixed the problem;

[2020-06-02 06:12] merlinko637 commented on #72
@mehdok i guess i wasnt exact. I think the ...play-services-location uses this package which is in version 17.0.0

[2020-06-02 06:18] merlinko637 commented on #72
Okay my mistake :/ i found that location 17.0.0 uses base 17.2.1 which is good

https://mvnrepository.com/artifact/com.google.android.gms/play-services-location/17.0.0

But now i have absolutely no idea what is causing my error :/

[2020-06-02 08:19] mehdok commented on #72
Does your project supports `AndroidX` ?

[2020-06-02 08:42] merlinko637 commented on #72
Yes I have android.useAndroidX=true in my gradle.properties

[2020-06-02 11:17] merlinko637 commented on #72
I found out that the problem was on my end and I think it was really specific. Package com.google.android.gms:play-services-base was trying to use a function that was not present in my BuildCompat class (i think i did not have newest version but didnt figure out how to update it - or maybe when resolving, older version was chosen), so i used this in build.gradle and everything is working now (this

[2020-06-02 11:17] #72 closed

[2020-06-02 23:58] uzenith360 opened #73 "RuntimeException - Unable to destroy activity"
Hey, thanks for this plugin its has been a greatly helpful

Many of my app users has been getting the following error:

[code]

Here's my full code

[code]

Please help 🙏

[2020-06-03 04:37] mehdok commented on #72
@merlinko637 Glad to hear that problem solved. It would be nice if you could prepare a problem and solution for `FAQ` section. maybe it helps someone else;

[2020-06-03 09:07] leonardoayres commented on #70
Have you tried to close the Port and recreate it?

Move the:
`gpsReceivePort.listen((dynamic data) async {
      getLocationFromBackground(data);
      print('Incoming Data: $data');
    });`

to a function and call it to recreate the Port.

[2020-06-03 09:13] leonardoayres opened #74 "Crazy positions"
I don't know if somebody else is facing this:

I tryed to use the BackgroundLocator to replace the Location plugin because of the background tracking aspect , but when using it "live", in ac active state, sometimes the tracking move my Marker to an aleatory position (a good amount of feets away) and then back to my position.

I'm drawing polylines when using the plugin; guys, my path looks like a

[2020-06-03 09:23] moovida commented on #74
Hi @leonardoayres , I have been experiencing this lately. But only when I am not in the move. If I stop in a position for a while, I most often get a spike far away from where I am.
But I am still trying to analyse the problem to understand what that might be.

[2020-06-03 09:50] leonardoayres commented on #74
Exactly.
I'm considering start to use some kind of accelerometer monitoring to guarantee that i'm on the move before start to track the positions.

[2020-06-03 10:05] mehdok commented on #74
What's the platform? Android or iOS?

[2020-06-03 10:11] leonardoayres commented on #74
Android.

I haven't tested on iOS yet.

[2020-06-03 10:51] moovida commented on #74
Same here, Android. Should be able to do a test on an IPad today.

[2020-06-03 11:48] mehdok commented on #74
What accuracy are you using? `Navigation` is the must accurate parameter. If your are getting this behavior with `Navigation` accuracy then there should be some problem. Please provide any information you can (Android version, device, logs, codes ....), so I can simulate the situation for further investigation;

[2020-06-03 11:49] #31 closed

[2020-06-03 12:06] leonardoayres commented on #74
I already tried with HIGH and LOW.

Now i completely removed the accuracy and the "spikes" occured less; but they still there.

I'll try to make a demo...but as i'm using google maps, who test it must provide ones key.

[2020-06-03 12:08] moovida commented on #74
I am actually using only Navigation accuracy, because no other works for me. I think there is an issue open on that, but I can't find it.
Up to now, the issues were found on Android 10 on Google Pixel 3a.

[2020-06-03 12:17] leonardoayres commented on #74
Here is an Android 10 with a Xiaomi Mi9T.

[2020-06-04 05:25] mehdok commented on #74
Yes I'm aware of the issue you are referring to, and I Think that issue is related to this. I will try to find an Android 10 device and test on that. This might be a platform specific issue, because I don't have this problem on my Android 8 device.

[2020-06-04 05:35] Matthuffy commented on #50
Aaaaah! It is the App Target!

NSLocationAlwaysUsageDescription is for IOS 10+ I had IOS 8 set and removing this fixed the issue. But then also changing my target fixed it also.

[2020-06-04 06:00] moovida commented on #74
Good to know @mehdok , I will try on an android 9 to see if that is different. I guess I will be able to better test in the weekend. Testing location services is always a mess :-)

[2020-06-04 06:08] mehdok commented on #66
@praveenbbhati @juanlabrador Please test the new version to see if the problem is gone or not.

[2020-06-04 06:09] mehdok commented on #55
@alexlopespereira @wemersonrv Please test the new version to see if the problem is gone or not.

[2020-06-04 15:50] leonardoayres commented on #74
Found an article that talks about "cleaning noise" of the GPS data. Looks like the scenario that we are facing.

https://blog.maddevs.io/reduce-gps-data-error-on-android-with-kalman-filter-and-accelerometer-43594faed19c

[2020-06-04 19:52] painor commented on #29
I would also like to know if there is a way to run firebase stuff in the background. maybe leave this open for visibility?

[2020-06-05 04:30] mehdok commented on #74
@leonardoayres Really interesting, does this solve your problem?

[2020-06-05 08:34] leonardoayres commented on #74
I haven't applied yet. Have to take off the rust of my math skills and see if my code can be changed without more surprises |-]

[2020-06-05 13:46] mehdok commented on #62
This could be Huawei, But I can see some battery apps keep their service alive on Huawei. I'm looking into it;

[2020-06-05 15:17] mehdok commented on #74
There is another simple solution for getting rid of gps noise, just turn your phone in 8 shape several times, then open your app and let me know if it works;

[2020-06-07 06:13] moovida opened #76 "Spikes testing (spin-off to Crazy Positions)"
This is a spin-off of issue #74. I thought it would be better to open a new issue to discuss tests).

I have been finally able to test a few devices along the same track. As @mehdok suggested in issue #74, the problem might be Android 10 related.

This is a more or less 1 hour track on IOS (IPad):

![ios](https://user-images.githubusercontent.com/390250/83961673-b3e5d980-a895-11ea-89ec-58147e38b30

[2020-06-07 06:14] moovida commented on #74
I added some testresults to issue #76 in order to not pollute this issue to much.

[2020-06-07 16:18] ludesert commented on #62
After what I've read, it seems to be a problem on most Chinese phones ... I haven't found a solution yet.

[2020-06-08 07:42] chollarasan commented on #54
any update on this

[2020-06-08 17:17] Alystrasz opened #77 "Store locations in database"
Hello there,

I'm trying to store locations received by `background_locator` in a [database](https://pub.dev/packages/sqflite). I followed the plugin procedure described [here](https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback) to import `com.tekartik.sqflite`, to be able to use it even when my app is closed.

However, database access is not working, as the followi

[2020-06-09 04:08] mehdok commented on #54
@chollarasan There is a little problem with mentioned PR that need to be addressed before merging.

[2020-06-09 04:37] mehdok commented on #77
It seems that you didn't open your database.
[code]

[2020-06-09 10:45] Alystrasz commented on #77
I said in the issue that this was already done: `(please note that db.insertLocation ensures database is opened before trying to insert the actual location)`
Interestingly, I can't reproduce the issue on smartphones, it seems to appear only on my emulator.

[2020-06-09 16:14] juanlabrador opened #78 "Fatal Exception: java.lang.RuntimeException: Unable to create service rekab.app.background_locator.LocatorService: java.lang.IllegalStateException: FlutterCallbackInformati…formation(callbackHandle) must not be null"
Hi, I received this error, I don't know how replicate, this incidence report me crashlytics. Thanks.

Fatal Exception: java.lang.RuntimeException: Unable to create service rekab.app.background_locator.LocatorService: java.lang.IllegalStateException: FlutterCallbackInformati…formation(callbackHandle) must not be null

[2020-06-11 10:03] #77 closed

[2020-06-11 10:46] leonardoayres commented on #74
Guys,

I've found an implementation of a Kalman filter and converted to Dart:

[code]
**Usage:**

`import '<the file with the implementation above>';`

...

_// the parameter represents the distanteInterval em m/s. Some say that 3 is the sweet spot, i haven't tried yet._
`KalmanLatLong filter = KalmanLatLong(2);`

...

_// on the code where you update your position, apply..._
[code]

Hope it helps

[2020-06-11 11:37] moovida commented on #74
Hi @leonardoayres , from the link I can't find where the original implementation is. Could you link it please.
If this works you might want to create a flutter package for this, it would be great to have accessible and upgradable once improved :-)

[2020-06-11 12:29] leonardoayres commented on #74
@moovida The original code is from this link: https://stackoverflow.com/questions/1134579/smooth-gps-data

[2020-06-11 12:56] moovida commented on #74
You might be right. I will try to apply it to a set of logs I have to see how well if makes things. And a dynamic parameter will be necessary, since the decay speed seems to be very depending on the different speed (i.e. car vs walking vs bike). If you do some test it would be great if you could share some tests. :-)

[2020-06-11 18:52] MazEbeid commented on #34
Whats the Java equivalent to this

`import io.flutter.app.FlutterApplication
import io.flutter.plugin.common.PluginRegistry
import io.flutter.plugin.common.PluginRegistry.PluginRegistrantCallback
import io.flutter.plugins.sharedpreferences.SharedPreferencesPlugin;
import io.flutter.view.FlutterMain
import rekab.app.background_locator.LocatorService

class Application : FlutterApplication(), Plugin

[2020-06-11 21:45] juanlabrador opened #79 "java.lang.RuntimeException: Unable to start receiver rekab.app.background_locator.BootBroadcastReceiver: kotlin.TypeCastException: null cannot be cast to non-null type kotlin.collections.Map<*, *>"
Hi, This error occurs when you restart the phone in Android.

Caused by kotlin.TypeCastException: null cannot be cast to non-null type kotlin.collections.Map<*, *>
       at rekab.app.background_locator.BackgroundLocatorPlugin$Companion.registerLocator(BackgroundLocatorPlugin.kt:101)
       at rekab.app.background_locator.BackgroundLocatorPlugin$Companion.registerAfterBoot(BackgroundLocatorPlugin.

[2020-06-12 04:26] sgalway00 commented on #70
From my code snippet above you can see that I do close the port in the stopGps2() function.

I don't understand what you mean my "move to a function".  The listener should be in a separate function from where the port is created?

[2020-06-12 10:30] MazEbeid commented on #54
This is by far one of the most complete and useful plugins out there - but iOS background location updates are quite important - are you making progress on this front? @mehdok

[2020-06-12 10:52] chollarasan opened #80 "I am unable to update the Firestore Database values in the 'callback' function of this plugin"
@mehdok I am unable to post the values to the firebase. in the 'callback' method

[2020-06-12 10:54] chollarasan commented on #80
@mehdok I am unable to post the values to the firebase

[2020-06-12 10:54] MazEbeid commented on #65
This should go in the in docs

[2020-06-12 13:18] leonardoayres commented on #70
@sgalway00 you could do something like that:

void _backgroundListener() {
    if (gpsReceivePort != null) {
    --- your code ---
    } else {
    --- create the port ---
   }
}

But my scenario is that i'm only activate the background_locator when my app go to INACTIVE state, so i have to create and recreate the port in certains conditions.

[2020-06-13 04:36] mehdok commented on #80
Did you followed the steps in the [Use other plugins in callback](https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback) ?

[2020-06-13 06:07] ozz-rjq commented on #34
@MazEbeid thanks! can you help with ios configuration?

[2020-06-13 06:14] ozz-rjq opened #82 "How to use plugins in callback [ios]"
Hello, can you please add the documentation on how to use the third-party plugins inside the callback function for IOS?

[2020-06-13 15:46] gpibarra commented on #73
Can you add more info?
- Steps to produce the crash.
- Information about Testing environment, Android version, etc.
- More log about the crash.

[2020-06-13 15:59] gpibarra commented on #73
Please view example code (was changed and use location_service_repository.dart)
[https://github.com/rekab-app/background_locator/tree/master/example/lib](https://github.com/rekab-app/background_locator/tree/master/example/lib)
It is only recommended to use port if you interact with the ui.

I think in your case, it is better that the background process write in shared prefences [(https://github.co

[2020-06-13 16:09] gpibarra commented on #67
Do you want backrground process unregister self?

[2020-06-13 17:01] MazEbeid commented on #34
I have no experience with iOS but this is very important to me at the
moment so I am spending time on it and I will look into how I can
contribute more.

I have tested last night the plugin while the app was in the background for
2hrs and I got a ping on iOS every 1 second or two.

I was out for 2 hrs and spent an hour whole the phone was locked and
stationary and still got some good pings.

I wil

[2020-06-14 04:21] mehdok commented on #34
@MazEbeid @ozz-rjq There is a bug with iOS that prevent that app to get a gps fix while app is terminated in iOS (or at least get a fix every 500 meter or so). Also there is a PR [#59](https://github.com/rekab-app/background_locator/pull/59) which address this issue, but there is a bug with it too. It would be appreciated if anyone can help with that.

[2020-06-14 04:25] mehdok commented on #82
Sadly I don't know a way to do that, it fix a lot of problem if we could find a way to do that.

[2020-06-15 02:41] jeancarlos2020 opened #83 "callback firebase database"
Use other plugins in callback

[2020-06-15 04:31] gpibarra commented on #83
[https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback](https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback)

[2020-06-15 09:38] chollarasan commented on #80
ya it is working now

[2020-06-15 09:38] #80 closed

[2020-06-16 11:54] dacianf commented on #82
@ozz-rjq Do you mean to use for example local notification plugin in the callback? Or a plugin for making server requests?

[2020-06-16 11:59] dacianf opened #84 "Callback is called 3 times on start service [IOS]"
@mehdok I've observe on ios that the callback function is called 3 times every time I start the service, after that everything works fine. I've commented line 101 from "BackgroundLocatorPlugin.m" which caches some locations. Afterwards, I observed that when the service is initialised it calls the callback for each cached location. Is that caching really necessary?

[2020-06-16 14:16] dacianf opened #85 "What does isRegisterLocationUpdate means?"
@mehdok
I've seen that in ios isRegisterLocationUpdate returns the value of initialized variable, which is never set on false. Shouldn't it be set on false in unRegisterLocationUpdate or how do we really unregister the location service?
Beside this, I've also got a duplicate register plugin key after a start - stop - start which I've solved with a dispach_once on `registerPlugins(_headlessRunner);

[2020-06-16 16:46] moovida commented on #74
Hi @leonardoayres , did you try to use the Kalman filter? This morning I made a quick copy-paste to have a test, since I had to walk mountainside. The result is as if nothing happened:

![image](https://user-images.githubusercontent.com/390250/84802882-7dc8f800-b001-11ea-8fb3-18b27ef17f09.png)

Clearly it is identified that this is an Android 10 issue of this library, but it still should have done

[2020-06-16 22:09] leonardoayres commented on #74
Hi @moovida,

My need of background locator is for a software that i'm responsible for on my job. My experience with the background_locator in Foreground use (using wakelock package to keep the screen active) was terrible; too much track spikes. However, for background running, it was ok (go figure, right?).

So, i've made an hybrid: Location package for Foreground (active) tracking and Background

[2020-06-16 23:06] amitkalo opened #86 "unRegisterLocationUpdate: MissingPluginException(No implementation found for method LocatorPlugin.unRegisterLocationUpdate on channel app.rekab/locator_plugin))"
i =m using the plugin and its seems to work but the exeption from the title is thrown allot,
this is my code:
`
  static void stopLocationService(){
     IsolateNameServer.removePortNameMapping(_isolateName);
     BackgroundLocator.unRegisterLocationUpdate();
 }

 static void checkIfArrived(LocationDto locationDto) async{
       if(condition){
            stopLocationService();
       }
  }

  sta

[2020-06-17 03:21] gpibarra commented on #86
Do you want backrground process unregister self? [https://github.com/rekab-app/background_locator/issues/67](https://github.com/rekab-app/background_locator/issues/67)

[2020-06-17 04:40] mehdok commented on #84
No, it's not necessary and iOS part of this plugin needs a complete review. Sadly I don't have enough time to do that right now, but it's in the plan;

[2020-06-17 08:21] amitkalo commented on #86
exectly

[2020-06-17 10:56] ozz-rjq commented on #82
@dacianf yes, plugins like local notifications or audioplayers

[2020-06-17 12:35] amitkalo commented on #67
i have the same issue, any suggestion?

[2020-06-17 15:56] felipekjr commented on #67
An example: When i logged in and the background process starts, so I logged out and the background process finished, that's ok. But when i restart the device, the background process starts, but user still logged out.

[2020-06-18 06:13] dacianf commented on #82
@ozz-rjq Have you tried to do it? What errors gave you? I'm asking these because in my current project I use two plugins in the callback function, local notification and shared preferences and they work perfect.

[2020-06-19 11:42] SandeMK commented on #82
@dacianf How did you register your plugins on AppDelegate?, because I also want to use shared preferences but the app crashes each time I run the service.

[2020-06-19 23:58] jeancarlos2020 commented on #83
Thank you

[2020-06-19 23:58] #83 closed

[2020-06-21 03:49] Puspharaj opened #88 "port.listen not working"
I just implemented the plugin in flutter. The callback works like charm but the code doesn't pass the code port.listen for further process.

` port.listen((dynamic data) {
      LocationDto dto = data;`

`
  static Future<void> callback(LocationDto locationDto) async {
    final SendPort send = IsolateNameServer.lookupPortByName(_isolateName);
    send?.send(locationDto);
  }`

This happens sporad

[2020-06-21 08:42] adolfdsilva opened #89 "Periodically crashing app with given stacktrace"
AndroidRuntime  E  FATAL EXCEPTION: AsyncTask #6
                         E  Process: com.speanluy.speanloan.uat, PID: 9985
                         E  java.lang.RuntimeException: An error occurred while executing doInBackground()
                         E      at android.os.AsyncTask$3.done(AsyncTask.java:354)
                         E      at java.util.concurrent.FutureTask.finishCompletion(Fu

[2020-06-22 05:25] heinzan opened #90 "[Question]Location on or off manually"
[Question]how check gps is on or off.My problem is when user is manually off his location how detect it and inform him.Thanks

[2020-06-22 07:03] dacianf commented on #82
@SandeMK what errors have it shown? Did you gave permissions to your ios app to run in background (inside signing & capabilities tab in xcode)? Can you post here the errors?
![image](https://user-images.githubusercontent.com/19537170/85258005-6362a480-b46f-11ea-96eb-36fa677cc4d2.png)

[2020-06-22 13:07] SandeMK commented on #82
@dacianf yes I did give permissions just as shown on that pic, I think what caused the crashing was the plugin registrant callback method. I changed it to

`if (!registry.hasPlugin("BackgroundLocatorPlugin")) {
        GeneratedPluginRegistrant.register(with: registry)
   }'

The app doesn't crush now, but I get location update only once, and that's when I'm starting the service. Is this the case

[2020-06-22 18:45] usamamashkoor opened #91 "get the location updates after each 1 minute?"
Hi, I want to create an app like Uber, and I want to get the location updates of the user after each 1 minute even if the app is running in the background is there a way to do this using your library?

[2020-06-23 00:29] diezep commented on #91
Yes, **it's possible**. In properties to initialize, have an option to set the interval in **seconds** to update the ubication, but in**files mention that only works in Android**.
![image](https://user-images.githubusercontent.com/38699812/85347459-3b4e6200-b4be-11ea-96f4-c59ca9514f3c.png)

[2020-06-23 00:34] usamamashkoor commented on #91
@diezep Thanks for answering my question, can you please let me know how can I do this for both Android and iPhone?

[2020-06-23 17:50] ludesert opened #92 "Shared prefs : different instances ?"
I've been having some issues with my app and decided to try every step of my callback function in a different, simple app with a start and stop button.

I found something very strange  while using the SharedPreferences plugin

As an example, if I set the value of an int in sharedPrefs called 'test' to 0 while pressing the start button, before starting the background locator service, and then print

[2020-06-23 19:14] gpibarra commented on #92
Look at the currentversion in master, and the example. Use "cabackInit".

[2020-06-23 20:08] ludesert commented on #92
Oh I haven't seen this new functionality since it was added.

But I don't really understand how to use it ...

[2020-06-24 12:14] Puspharaj commented on #88
The above happens when i set interval to 15 min...then no more update happening.

[2020-06-25 05:26] heinzan opened #93 "[Question] I want to ask can i use Provider package instead of isolaote"
I want to use with provide.So can i use provider instead of isolate.That can make more clean and maintainable.Who did it?

[2020-06-26 06:24] Puspharaj opened #94 "Restart service on device reboot (Android only)"
`1.Add the boot receive permission to AndroidManifest.xml:
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
Register BootBroadcastReceiver inside application tag:
<application
...
...
...

    <receiver android:name="rekab.app.background_locator.BootBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="an

[2020-06-26 18:05] ludesert opened #95 "Callback function not finishing ?"
I need to use more than 1 GPS position in my callback function, so I use the geolocation plugin. I've had some problems and decided to make a simple tracking app to compare the position returned by this plugin and the bacground_locator, during a 1 hour drive.

Surprise : while the track is complete with the location returned by the background_locator (LocationDto), the one generated with geolocato

[2020-06-26 18:53] gpibarra commented on #95
why do you need 2 gps?
Speed property is in LocationDTO.
Properties are compatilbes between "background_locator" and "geolocator" plugins

LocationDto
[https://github.com/rekab-app/background_locator/blob/master/lib/location_dto.dart](https://github.com/rekab-app/background_locator/blob/master/lib/location_dto.dart)
Position
[https://github.com/Baseflow/flutter-geolocator/blob/develop/lib/models/p

[2020-06-26 18:59] ludesert commented on #95
I need to get the vertical speed, which is not available in any of this plugins. So I just calculate it with the difference of altitude between 2 positions separated by 1 or 2 seconds (depending on what I need).

In addition, my callback function needs to check the speed more than once : as an example, if the speed is below 20 m/s, I check again 10 seconds later to see if it has increased of decre

[2020-06-28 06:34] mehdok commented on #93
What is the `Provider` you are referring to? It would be nice if you provide a like to that so I can investigate more.

[2020-06-28 06:36] mehdok commented on #82
I just updated the wiki page for using other plugins in iOS. Please check it out [Wiki](https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback#ios)

[2020-06-28 06:39] #58 closed

[2020-06-28 06:41] mehdok commented on #60
Closing this issue due inactivity.

[2020-06-28 06:41] #60 closed

[2020-06-28 06:42] #66 closed

[2020-06-28 06:42] #69 closed

[2020-06-28 06:44] mehdok commented on #73
Closing this due to inactivity, feel free to open it anytime and provide more info.

[2020-06-28 06:44] #73 closed

[2020-06-28 12:22] komape opened #96 "LocationSettings: WakeLockTime has no effect"
The parameter `wakeLockTime` for `LocationSettings` has no effect. It always stops getting location updates 30 seconds after the app goes into background.

Flutter version: 1.17.3
Device: Pixel 3a API 29 (android-x86 emulator)
background_locator version: 1.1.5+1

[2020-06-28 17:29] gpibarra commented on #96
Have you tried on a physical computer (without emulator)? In emulator

[2020-06-29 05:41] heinzan commented on #93
I mean Provider package one of state management.

[2020-06-29 11:16] dacianf opened #98 "IOS-13 BUG - Location service does start until "always use" location permission is manually granted"
On the last version "1.1.10+1", the plugin does not try anymore to get the location until "always use" location permission is granted so the os will no longer automatically request the always use permission.
If the "always use" permission is manually granted it will work as expected.

[2020-06-29 11:35] mehdok commented on #98
Yesterday I saw it and I thought it's a glitch in my phone:) thanks for reporting, I'll check it soon;

[2020-06-30 08:23] komape commented on #96
I tried it out with two different real phones. No problems. Seems like it's a problem of the emulator.

[2020-06-30 18:25] juanlabrador opened #99 "When services is stopped, and restart phone, services reactive again"
If the service was stop, not should start after reboot, only when I have the services active. Thanks

[2020-06-30 19:06] ElZombieIsra commented on #93
Provider is used for state management. Isolate is used to run dart code in another thread besides the main one so you can't replace the Isolate one. But you can use it in conjunction with Provider although I don't know how or why would you do this.

[2020-07-01 20:59] elouiestudent commented on #82
I'm having a similar problem. I'm using this plugin and a geofencing plugin found [here](https://github.com/bkonyi/FlutterGeofencing). In the location callback function I create geofences based on the user's location. This works fine on Android, but on iOS calling any methods from the geofencing plugin in the location callback has no effect.

Below is my AppDelegate.swift. Any help would be much a

[2020-07-01 23:22] Ionys320 opened #100 ""Allow only while the app is in use" = permission denied"
Hello,
When the user click on "Allow only while the app is in use" during the permission request, the plugin considers that the user has denied the permission, but it should be considered like restricted (GeolocationStatus.restricted).

[2020-07-03 17:39] usmanniqbal commented on #83
Hi I want to registered sharedpreferences but its not working here is my code in Application.kt

[code]

[2020-07-03 17:41] usmanniqbal commented on #83
Also in release mode `initCallback` is not being invoked

[2020-07-03 17:47] ludesert commented on #95
Any idea ?

[2020-07-04 06:16] diezep commented on #67
Someone have the solution of this issue?

[2020-07-04 11:11] sairaj83 commented on #92
I used below code in Application.kt for using sharedPreferences in back ground locator.

import io.flutter.app.FlutterApplication
import io.flutter.plugin.common.PluginRegistry
import io.flutter.plugin.common.PluginRegistry.PluginRegistrantCallback
import io.flutter.plugins.sharedpreferences.SharedPreferencesPlugin
import io.flutter.view.FlutterMain
import rekab.app.background_locator.LocatorServi

[2020-07-04 16:54] ludesert commented on #92
That's what I did too, I still have this problem of '' different instances '' of the plug-in...

[2020-07-04 20:23] sairaj83 commented on #92
Show the  application.kt code please or post the error your are getting

[2020-07-05 11:27] adolfdsilva commented on #79
Getting same error in Crashlytics

[2020-07-06 23:22] usmanniqbal opened #101 "sharedpreferences registration is not working."
Hi I want to registered sharedpreferences but its not working here is my code in Application.kt

[code]

When I try to access it it gives me this error `MissingPluginException(No implementation found for method getAll on channel plugins.flutter.io/shared_preferences)`

Also in release mode `initCallback` is not being invoked

[2020-07-07 14:54] gpibarra commented on #101
What version of flutter do you use?
Did you migrate the project to androidx?
Did you update the manifest file?

[2020-07-07 16:22] ThiagoCortez81 commented on #101
@usmanniqbal you registration of shared preferences is wrong!
You are doing: `PathProviderPlugin.registerWith(registry!!.registrarFor("io.flutter.plugins.sharedpreferences"))`
You need to overwrite it to `SharedPreferencesPlugin.registerWith(registry.registrarFor("io.flutter.plugins.sharedpreferences"))`

Your error was that you was trying to register SharedPreferences Plugin using PathProvider pl

[2020-07-07 20:26] DeividWillyan opened #102 "'FlutterPluginRegistrar?' does not conform to expected [run example]"
hello, I'm running the sample project, on Android everything is fine, but on Ios it generates the following error:

[code]
doctor:

[code]

[2020-07-08 11:38] neelayak commented on #99
to make the app start once you restart the app the app should be in autostart list of your mobile

[2020-07-09 13:30] ThiagoCortez81 opened #103 "FlutterCallbackInformati…formation(callbackHandle) must not be null LocatorService.kt line 81"
Hey guys, how are you doing?

I'm experiencing this issue with background_locator... in LocatorService.kt my dart callback is getting null sometimes, and in another times, it works great... I think when the screen is off, all gets null and in a moment all gets working, and then, wrong again... Have you guys ever experienced this? This is happening with many devices using my app.

My flutter doctor

[2020-07-11 10:04] DebkanchanSamadder opened #105 "[Question] Is it possible to access variables in callbacks?"
I have been trying to implement this plugin in my app and so far it's very helpful. But I'm trying to make a geofence solution with it and that's where the problems arise.

So far it looks like both `initCallback` and `callback` can access other static variables. But after background locator is registered it can't read the variable's updated value.

example:
[code]

Also, like how `uid` is initiat

[2020-07-11 17:12] gpibarra commented on #105
I think you should use shared preferences

[2020-07-12 13:42] jjjimenez100 commented on #74
@leonardoayres Do you have any idea on what Q value range does the kalman filter work best in a scenario of a moving vehicle?

[2020-07-14 10:33] DebkanchanSamadder commented on #105
is it a good practice to call `SharedPreferences.getInstance()` every time callback fires?

[2020-07-14 15:45] gpibarra commented on #105
Which version are you using?
Have you tried doing it as the example says ("location_callback_handler.dart" and "location_service_repository.dart")?

[2020-07-14 17:10] DebkanchanSamadder commented on #105
Are you referring to the setting variable from initCallback method? if yes, then you can see it in my code that I have tried it

[2020-07-14 17:27] gpibarra commented on #105
No. in the example use a whole container class (facade) to execute the callbacks

[2020-07-15 11:35] Alystrasz commented on #79
Hello, I have the exact same problem on [my application](https://github.com/Alystrasz/pandemia/tree/geolocation); it seems to crash when receiving the BOOT_COMPLETED signal.
Here's the complete stack trace:
[code]

[2020-07-15 14:16] DolgushevEvgeny opened #106 "[Question] Push Notification"
It is possible to make title and message in notification in 2 or 3 lines?
I should display a long message in notification, for what it shown.

[2020-07-16 04:51] neelayak opened #107 "App is getting crashed while running in background for a long time"
I am getting this exception if i let the app run in the foreground
`java.lang.RuntimeException: Unable to start receiver rekab.app.background_locator.BootBroadcastReceiver: kotlin.TypeCastException: null cannot be cast to non-null type kotlin.collections.Map<*, *>
	at android.app.ActivityThread.handleReceiver(ActivityThread.java:2739)
	at android.app.ActivityThread.access$1800(ActivityThread.java:

[2020-07-16 08:42] adalberht commented on #67
Hey, anyone knows a solution?
I think the solution is to register this plugin just like the documentation here: https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback

But currently I'm confused on how to register this plugin since it doesn't have any `registerWith` implementation yet

[2020-07-16 10:47] brenntech commented on #103
Fatal Exception: java.lang.RuntimeException
Unable to create service rekab.app.background_locator.LocatorService: java.lang.IllegalStateException: FlutterCallbackInformati…formation(callbackHandle) must not be null

This is message has been flooding my crashlytics. Been coming back and forth here to check if someone else has been experiencing this same error. Hope somebody could point us on how to

[2020-07-16 17:14] yarragollavijaykumar opened #108 "Sqflite plug in exception"
I am unable to access the database/file manager inside a callback in android platform
`Unhandled Exception: MissingPluginException(No implementation found for method getTemporaryDirectory on channel

[2020-07-16 17:32] DebkanchanSamadder commented on #105
Tried that but the problem remains. The variables are okay as long as the main thread is on. But when it's restarted everything goes back to null. Looks like the only option is to write to a file and read from it which the example app does too for saving the location logs. But isn't calling `await getTemporaryDirectory()` expensive?

[2020-07-16 18:13] ThiagoCortez81 commented on #107
This is also happening to me. I just edited the code of this repo and now I'm testing if all worked... this issue also was happening when I was trying to init the service when the devices finish reboot.

If all works great, I'll make a pull-request soon.

[2020-07-17 00:13] neelayak commented on #107
Sounds great ,thx for letting me know about this

[2020-07-17 08:33] DebkanchanSamadder commented on #105
Update: Tested again with repository method and it actually works. The problem isn't with any of this. I have observed a strange behaviour. If you open and close the main app it's ok BUT if you **hot restart** once or twice it goes back to null

[2020-07-18 14:24] gpibarra commented on #105
What device are you using? you might have a power / battery gestures that limit the use of apps in the background (i think huawei has that pre-installed)

[2020-07-18 14:27] gpibarra commented on #108
[https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback](https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback)

[2020-07-18 15:22] DebkanchanSamadder commented on #105
Tested on both Asus Zenfone Max Pro M1 (X00TD) and OnePlus 8 and both time hot restarting once or twice wipes the variables of the repository

[2020-07-18 23:56] travisjayday commented on #54
Any updates on this? Did the PR ever get merged to fix this? I'd love to help too because I kinda really need iOS background location updates but I'm a noob when it comes to native iOS. Does it work yet?

[2020-07-19 04:22] mehdok commented on #54
@MazEbeid @travisjayday The mentioned PR is merged and the problem should be solved in the latest version. Please Test last version and let me know if you have any problem.

[2020-07-19 04:24] travisjayday commented on #54
Thanks @mehdok, will test and report back.

[2020-07-19 04:47] usmanniqbal commented on #101
My bad, Thanks @ThiagoCortez81.

[2020-07-19 04:47] #101 closed

[2020-07-20 04:28] pradyumna67 commented on #108
@gpibarra MissingPluginException is still coming after added LocatorService Plugin Registrant in Application class.

`public class Application extends FlutterApplication implements PluginRegistry.PluginRegistrantCallback {
    @Override
    public void onCreate() {
        super.onCreate();
        LocatorService.setPluginRegistrant(this);
        FlutterMain.startInitialization(this);
    }
    @

[2020-07-20 14:41] gpibarra commented on #108
did you use the import in Application.kt? did you change the AndroidManifest.xml?

[2020-07-20 14:45] pradyumna67 commented on #108
@gpibarra yes, I did

[2020-07-20 15:07] yarragollavijaykumar commented on #108
`public class Application extends FlutterApplication implements PluginRegistry.PluginRegistrantCallback { @Override public void onCreate() { super.onCreate(); LocatorService.setPluginRegistrant(this); FlutterMain.startInitialization(this); } @Override public void registerWith(PluginRegistry registry) { if(registry.hasPlugin("com.tekartik.sqflite.SqflitePlugin")){ SqflitePlugin.registerWith(registr

[2020-07-20 20:38] TheEggHealer opened #109 "BackgroundLocator.isRegisterLocationUpdate() returning false even if notification is showing."
Hello! I'm having trouble connecting to the service after the app has been terminated by Android. If I let the app run in the background for about 15 minutes, the app is terminated by Android, however, the foreground service and location tracking is still operating. When I launch the app again, I want to know if the service is active but BackgroundLocator.isRegisterLocationUpdate() returns false.

[2020-07-22 16:42] travisjayday commented on #54
Yay it's working AFAICT! Even after the app is killed on iOS. Also managed to get Firebase/Firestore working in the callback, so that's awesome! Thanks for your amazing work guys :+1:

[2020-07-23 05:38] Suhayb4 opened #110 "MethodChannel and the plugin aren't working"
Hello, I’m trying to get screen state on android. First I wrote Kotlin code to use channel, but I got this error.

**Exception has occurred.**
`MissingPluginException (MissingPluginException(No implementation found for method getScreenState on channel kotlin/display))`

**Kotlin code:**
[code]

Then I thought if I make it as plugin and register it manually it will work. But unfortunately didn't

*

[2020-07-23 06:16] mehdok commented on #110
[Use other plugins in callback](https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback)

[2020-07-23 07:50] Suhayb4 commented on #110
@mehdok Yes I did, that why I created a plugin.

Exception has occurred.
`PlatformException (PlatformException(error, lateinit property context has not been initialized, null))`

Does that mean I can't get or use context inside my plugin ?

[2020-07-23 08:16] zy693415 opened #111 "Can you support this plug-in without Google service framework?"
Can you support this plug-in without Google service framework? Thank you!

[2020-07-23 12:23] ludesert commented on #95
Up ..

[2020-07-23 12:30] ludesert commented on #92
I don't get any error code. Here is my application.kt code :

`package com.ludesert.trackingtest

import io.flutter.app.FlutterApplication
import io.flutter.plugin.common.PluginRegistry
import io.flutter.plugin.common.PluginRegistry.PluginRegistrantCallback
import io.flutter.view.FlutterMain
import io.flutter.plugins.sharedpreferences.SharedPreferencesPlugin
import rekab.app.background_locator.Loc

[2020-07-23 13:06] mehdok commented on #95
Can you show some code? specially your callback function;

[2020-07-23 16:23] ludesert commented on #95
I made a quick ''export via email'' button to be able to read the data I get. I made more tests and my conclusion is that the callback function is completed every time but for some reasons, there is a sort of pause between the beginning of the function (when I save the DTO location in sharedprefs) and the end (when I save the geolocator location).

The result is that there is a high number of func

[2020-07-23 17:24] mehdok commented on #95
I think your assumption is right, I can see that you have 5 second interval for receiving locations, and I think `Geolocator` can not find a GPS fix in 5 second. You can set some logs to make sure this is the case, if this is the case the maybe setting larger intervals can fix the problem, or just set a flag to indicate if `Geolocator` is done with finding location then continue;

[2020-07-24 12:34] ludesert commented on #95
I will try this as soon as possible, but I have been able to use Geolocator during smaller intervals (1 second between 2 fixes to get the vertical speed as an example) and it worked well. But this was not inside the callback function.

[2020-07-25 05:06] mehdok commented on #95
It's just a gussying and there is no harm to test.

I'm not sure if what I'm going to say is related to your case or not, but it worth mentioning:
Using the callback function is a little tricky, suppose you have this code:

[code]

in this case when you start the plugin, in each interval you can see `testVar is 8` in the console.
After that you decide to change that variable, for example `testVar

[2020-07-25 06:02] DebkanchanSamadder commented on #105
Right now I'm solving this issue by not enabling restart on boot. Using the repository method to store variables and callbacks and also using local files to save data that needs to be persisted across boot.

[2020-07-27 18:11] elouiestudent commented on #103
I got that error when I tried to start the background location update before initializing it. Not sure whether this is the cause of your errors, but you can check for this case anyway.

[2020-07-28 15:10] DolgushevEvgeny opened #112 "Crash"
![image](https://user-images.githubusercontent.com/10952861/88684351-6d766380-d0fd-11ea-9bbe-bd38f6c97ea4.png)
Hi. We have a crash on application started. Is there any ideas how to fix it?

[2020-07-30 07:05] sairaj83 commented on #92
change

 'if (!registry!!.hasPlugin("io.flutter.plugins.shared_preferences")) {
            SharedPreferencesPlugin.registerWith(registry!!.registrarFor("io.flutter.plugins.shared_preferences"))
        }'

to

 if (!registry!!.hasPlugin("plugins.flutter.io/shared_preferences")) {
        SharedPreferencesPlugin.registerWith(registry!!.registrarFor("plugins.flutter.io/shared_preferences"))
    }

[2020-07-30 12:46] uzenith360 opened #113 "FlutterJNI detached from native C++"
Hi,

First i would like to appreciate the effort put into developing this plugin and also the patience to respond to users issues. You guys are the best!

I am building a safety app that sends location updates when the phone is shook and that needs to work even while the app is in background.

I tried to use the flutter shake sensor plugin to trigger the location update when the phone is shook but

[2020-07-30 15:09] gpibarra commented on #113
I would try not to use static variables for "sosHandler", and not static methods for the "_startSOSListener" and "_stopSOSListener" functions. So also remove "_startSOSListener" and "_stopSOSListener" from the "start" and "stop" functions. they are only in "initCallback" and "disposeCallback". I think SOS initialization should be inside the isolation process (so if "start" and "stop" executions ar

[2020-07-31 10:16] uzenith360 commented on #113
Thanks so much for this.

I've applied the recommendations, I no longer get the error message but the shake sensor doesn't work at all.

I would create a new app and copy the github example code, then test the shake functionality to be sure the issue is not caused by another code in my app.

I would update this thread on progress.

Thanks again

[2020-07-31 10:47] mehdok commented on #92
@sairaj83 I don't think that the problem is related to package name, the `SharedPreferences` plugin is working for him, but not in the way that expected.

[2020-07-31 11:49] ludesert commented on #92
@sairaj83 I'll try this tomorrow, but I think @mehdok is right because the plugin is working for me.

[2020-07-31 12:04] mehdok commented on #92
@ludesert I Believe the key point here is **`await sharedPreferences.reload();`**. I just created simple example and everything worked fine. my callback is a global ruction like this:

[code]

[2020-07-31 12:09] uzenith360 commented on #113
I just tested with the new example app and the shake sensor fired without problems.

I would refactor my code and debug where the issue is coming from.

[2020-08-01 08:37] ludesert commented on #92
@mehdok was right : I did not reload the shared prefs. Now it works as expected. Thank you!

[2020-08-01 08:37] #92 closed

[2020-08-01 18:13] uzenith360 commented on #113
I later discovered the real issue was that the background locator callbacks need to be in the root of lib folder. I'm not sure that was pointed out anywhere in documentation.

Maybe it should be added as a note in documentation incase someone else faces this issue.

[2020-08-01 20:01] gpibarra commented on #113
I'm glad it works. I am not aware of this limitation. Maybe I was just lucky. Could you share an example where the code and another and that do not identify the location of the file?

[2020-08-04 13:23] SetNameHere opened #114 "Support for flutter web"
Hi guys,

thanks of all thanks for this great package.

I just wanted to ask if it would be possible to have flutter web support for it.

Is this even possible and if it is, is it on your roadmap?

[2020-08-05 08:31] DebkanchanSamadder commented on #105
I think currently this is the only solution. Closing issue.

[2020-08-05 08:31] #105 closed

[2020-08-05 09:26] mehdok commented on #105
Right now I think the best solution is to store you variable into `sharePreferences`. please take a look at [#91](https://github.com/rekab-app/background_locator/issues/92#event-3611486960) If you decided to use `SharedPreferences` plugin.

[2020-08-06 08:56] DebkanchanSamadder commented on #105
@mehdok  Thank you for the pointer. I didn't know you cloud reload everything from filesystem to memory with shared preferences. My custom solution is in theory like that but there's also managing files and saving the location of those etc. In contrast this'll be much easier.

Although I have one question. Can you use the repository to save `SharedPreferences` instance from `await SharedPreference

[2020-08-06 10:06] mehdok commented on #105
@DebkanchanSamadder Honestly I don't know if it is possible:) The `initcallback` is just for primitive types, but You can test that. But I use the `sharedPreferences` this way and each time I call `SharedPreferences.getInstance()`, I think the overhead of calling this is very little;

[2020-08-07 03:38] Alexfuse opened #115 "New functionality, schedule"
Is it possible to somehow add a work schedule for android?
For example, turn off gps at night, but do not turn off the service.

[2020-08-07 04:07] mehdok commented on #115
Whats the usage of turning off the GPS and not the service? service has nothing to do when GPS is off.

[2020-08-08 17:35] rsbthebest opened #117 "[IOS] Location updates not coming in the background"
Hi Team,

First of all thanks a lot for this plugin it's extremely useful!

While it is working great for me on Android am facing some issue on IOS.

Here is what I have tried:

1. Copies the Example code given here
2. Gave all the needed permission in XCode
3. Tried running the app

Expectation:
I should be able to see location updates when

- The screen in the foreground
- The App is minimized
-

[2020-08-08 18:50] mehdok commented on #117
What is your test device? Are you testing on real phone or simulator?

[2020-08-08 20:23] ahmadkhedr commented on #108
"Invalidate Caches /restart" and try again

[2020-08-09 08:41] mehul1891 commented on #117
Mehdi,

I support Rajdeep with this. We are testing on a real device - iPhone 6S with the latest iOS version installed.

On the app settings on device: Background Refresh is ON, Location capture is set to "Always"
Xcode: background capabilities are enabled for location updates, background fetch and background processing
Info.plist screenshot attached too.

Thanks,
Mehul

<img width="892" alt="imag

[2020-08-09 11:45] fnicastri commented on #85
Noticed the same, in my code I have a patch (based on an old version) to uniformate the behavior of isRegisterLocationUpdate on both platforms.
@mehdok are you interested in a pr?

[2020-08-10 03:51] mehdok commented on #85
@fnicastri Sure, I would appreciate any help. But since this is an old issue, I'm not sure if we already fixed it or not @dacianf . I can remember that **duplicate register plugin key** is fixed;

[2020-08-10 04:24] mehdok commented on #117
Try to simulate location update with [iSpoofer](https://www.ispoofer.com) and see if you can receive any location update or not. If not, try the example app and see if situation is the same or not;

[2020-08-10 05:02] rsbthebest commented on #117
We have already tried the example app and it's the same behaviour there.

I will try the iSpoofer and would let you know the results but am not sure if that will help here.

[2020-08-10 07:50] fnicastri commented on #85
@mehdok

referring to the isRegisterLocationUpdate different behavior on iOS and Android.
On Android it is true only when the locator is running, on iOS it is true when the locator is initialized, not just when you are using it.

[2020-08-10 09:34] dacianf commented on #85
@mehdok Yes, the duplicate register plugin key is fixed, but as @fnicastri said, isRegisterLocationUpdate has different meanings on each platform.
Maybe we could add two different methods, isPluginRegisterd and isServiceRunning. What do you think about this @mehdok @fnicastri ?

[2020-08-10 09:56] fnicastri commented on #85
Add isServiceRunning would be good!

[2020-08-11 12:07] ThiagoCortez81 commented on #103
@elouiestudent I will try to review my code and find if this occurs. I noticed this issue only when the app is in background by a long time, not in initialization.

Thanks!

[2020-08-12 15:23] Sly2024 opened #121 "Test app crach when stoppig the locator"
Hello

I tried the example app with the "Stop on app terminate" function on android.
When i first launch the app, then press start, the location is well triggered in background, with the notification enabled.
If I kill the app (swipe up in the recent app), the notification disapears.
If i restart the app, I can see that location were still be triggered and that the status is "Is running" but witho

[2020-08-13 04:14] xnio94 commented on #90
@heinzan did you find a solution?

[2020-08-13 12:14] DebkanchanSamadder commented on #105
Thanks @mehdok! I refrained from setting any variables from inside location service repository because it doesn't play nicely with hot restart, basically it wipes those variables. This issue might be more deep rooted so I avoided it totally. Using `SharedPreferences.getInstance()` and `SharedPreferences.reload()` worked like charm. In fact it worked so good I think it should be the official way of

[2020-08-14 01:19] hemant456 opened #122 "Pub get throws error asking project to be upgraded"
The plugin `background_locator` requires your app to be migrated to the Android embedding v2. Follow the steps on https://flutter.dev/go/android-project-migration and re-run this command.

I don't want to migrate my whole project at the moment. Is there a simple workaround? I was really excited about giving this plugin a try but this bumped me up.

[2020-08-15 20:56] anirudhsharma392 commented on #90
any solution to it ?

[2020-08-16 13:22] mehdok commented on #105
Glad to hear that your problem is solved;

[2020-08-16 22:05] neelayak commented on #107
@ThiagoCortez81  Any update on this bug??

[2020-08-17 13:31] mehdok commented on #122
I don't think there is a way to do that, but if you found any solution please share it with others;

[2020-08-17 13:32] mehdok commented on #117
Any update?

[2020-08-17 13:34] mehdok commented on #115
Closing due to lack of response, feel free to open in anytime;

[2020-08-17 13:34] #115 closed

[2020-08-17 13:36] mehdok commented on #114
I don't have any expertise in flutter web, so there is no plan for doing a web version, unless someone else do that;

[2020-08-17 13:37] mehdok commented on #113
It seems that the issue is solved, I'm closing the issue but feel free to open it anytime;

[2020-08-17 13:37] #113 closed

[2020-08-17 13:40] mehdok commented on #112
Form what I can see it says `ensureInitializationComplete`, I'm not sure what's your problem exactly, but maybe calling `    WidgetsFlutterBinding.ensureInitialized();` before anything else can help;

[2020-08-17 13:42] mehdok commented on #111
Where I used `Google service framework` exactly? If you just point the location I can investigate more, but from what I know I didn't used `Google service framework`;

[2020-08-17 13:47] mehdok commented on #110
The callback is very limited, it is out of scope of your application and you can not get your app context inside it;

[2020-08-17 13:49] mehdok commented on #109
Your problem should be fixed with PR [#120](https://github.com/rekab-app/background_locator/pull/120);

[2020-08-17 13:49] #109 closed

[2020-08-17 13:50] mehdok commented on #108
It seems that problem is fixed, I'm closing it now but feel free to open it anytime;

[2020-08-17 13:50] #108 closed

[2020-08-17 13:52] mehdok commented on #106
Your problem is fixed with #116, you can use big text for notification;

[2020-08-17 13:52] #106 closed

[2020-08-17 13:53] mehdok commented on #103
@ThiagoCortez81 Did you found any solution?

[2020-08-17 13:54] #102 closed

[2020-08-17 13:57] mehdok commented on #100
The plugin can not function with restricted permission, so I think this is normal behavior;

[2020-08-17 13:58] mehdok commented on #98
It should be fixed by #124 ;

[2020-08-17 13:58] #98 closed

[2020-08-17 14:00] mehdok commented on #96
@komape Can you see the notification after 30 second? `wakeLockTime` is just for preventing device from deep sleep;

[2020-08-17 14:01] mehdok commented on #95
I'm closing the issue due to inactivity, but feel free to open it anytime;

[2020-08-17 14:01] #95 closed

[2020-08-17 14:02] mehdok commented on #93
I'm closing this issue to due inactivity, but feel free to open it anytime;

[2020-08-17 14:02] #93 closed

[2020-08-17 14:04] mehdok commented on #91
You can use interval just for Android, iOS don't use interval for sending location updates, it just send the location when there is new data available;

[2020-08-17 14:07] mehdok commented on #90
There is no way to get gps status with this plugin, I believe there are more that one plugin out there to do this task for you. If you have any problem running other plugins in callback please referent to this [wiki](https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback);

[2020-08-17 14:07] mehdok commented on #89
Can you share some code?

[2020-08-17 14:11] mehdok commented on #70
Closing this issue due inactivity, but feel free to open it anytime;

[2020-08-17 14:11] #70 closed

[2020-08-17 14:50] mehdok commented on #67
You can't unregister plugin in it's own callback;

[2020-08-17 14:51] mehdok commented on #63
I'm closing this issue due to inactivity, but feel free to open in anytime;

[2020-08-17 14:51] #63 closed

[2020-08-17 14:52] mehdok commented on #62
I couldn't find any solution for Huawei phones, so I'm closing this issue, but feel free to open it anytime;

[2020-08-17 14:52] #62 closed

[2020-08-17 14:53] mehdok commented on #55
This should be fixed by #87 ;

[2020-08-17 14:53] #55 closed

[2020-08-17 14:53] #54 closed

[2020-08-17 14:54] mehdok commented on #53
This should be fixed by #125 ;

[2020-08-17 14:54] #53 closed

[2020-08-17 14:56] mehdok commented on #50
I think this problem is fixed, so I'm closing this issue, but feel free to open it anytime;

[2020-08-17 14:56] #50 closed

[2020-08-17 14:56] mehdok commented on #43
@saulurquiaga @moovida @RomanJos @anirudhsharma392 Do you still have this problem?

[2020-08-18 09:26] moovida commented on #43
@mehdok , I didn't test this again, I didn't think something had been done.
Should this be working now? I would be happy to test it.

[2020-08-18 09:32] mehdok commented on #43
It's been a long time since you guys reported this issue, there wasn't any specific code about this problem but a lot of PR has been merged since then, so I just wanted to be sure that problem still exists.

[2020-08-18 12:40] anirudhsharma392 commented on #90
ok, thanks though.

[2020-08-18 13:41] RomanJos commented on #43
I didn't used Flutter since my last response on this repo as I finished creating a mvp, I'm now focusing on creating the whole design with an agency etc etc so if you really need a test I can do it but only with your example, the library I used probably changed a lot since

[2020-08-18 14:17] fnicastri commented on #111
basically everything from:
[code]
is tied to `Google Services`.

I think it would be important to have a fallback to plain Android alternatives especially now that Huawei can't use Google stuff anymore.

[Plain Android API](https://developer.android.com/reference/android/location/package-summary.html)
[Google Service API](https://developers.google.com/android/reference/com/google/android/gms/locat

[2020-08-18 14:43] mehdok commented on #111
Oh I see, it would be a nice option to add, and having the options to use `plain android api` or `google service api`;

[2020-08-18 14:45] mehdok commented on #43
Since I can't not replicate this issue it would be really nice if you guys can just run the latest code and feed me with more information;

[2020-08-19 07:53] komape commented on #96
Do you mean the symbol in the upper status bar?

I have to check but as far as I remember, the symbol was still there.

[2020-08-20 00:56] ThiagoCortez81 commented on #103
@mehdok , unfortunately no! :( I'm still with experiencing this issue...

[2020-08-20 00:57] ThiagoCortez81 commented on #107
@neelayak not so far man... :(

[2020-08-20 04:12] mehdok commented on #96
Somehow I managed to skip this comment. It seems that your problem is fixed, is that right?

As far as you see the notification the service is running;

[2020-08-20 05:38] UrviNivida opened #128 "Plugin is not working when location service is off"
when i switch off the location service from top menu in mobile  , then this plugin is not working neither giving me popup to on the location permission, i want to fetch the location or gps status and due to above issue i m not able to

[2020-08-20 06:38] anirudhsharma392 commented on #128
Actually I am facing the same issue,
I think we need this one [here](https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback)
and we can get the status with the help of this package [here](https://pub.dev/packages/geolocator)

Now the problem is don't know how to add the above package to get the GPS status
my current code is

import io.flutter.app.FlutterApplication
impo

[2020-08-20 11:01] UrviNivida commented on #128
yes i got your point but the isssue is that my web service is calling in "LocationServiceRepository" class so , when i stop location service from top mpbile menu then the callback method ' Future<void> callback(LocationDto locationDto)'  stop so i wont b able to send data in my web service that gps is off.

[2020-08-20 20:24] DiegoFHG opened #129 "Crashes on new Flutter update."
This plugin worked fine, until the new Flutter update. Now it throws this error, crashing the app:

E/AndroidRuntime( 1281): java.lang.RuntimeException: Unable to create service rekab.app.background_locator.LocatorService: java.lang.IllegalStateException: FlutterCall
E/AndroidRuntime( 1281):        at android.app.ActivityThread.handleCreateService(ActivityThread.java:4204)
E/AndroidRuntime( 1281):

[2020-08-21 00:41] anirudhsharma392 commented on #128
Ohh, we need to call the api when gps is off, but callback function never calls itself if GPS is off. THAT DEADLOCK !!!!!!!!!!!!
Did you find out any workaround to it.

[2020-08-21 08:12] anirudhsharma392 commented on #90
@mehdok there are several plugins available to know the GPS status but I cannot call them in a callback. Since callback will not be called if GPS is turned off !!
@heinzan, @xnio94 did you guys sort it out ?

[2020-08-23 16:53] ahmadkhedr opened #130 "wakeLockTime ..Does it kill the service after the timr is up?!"
it is a QUESTION more than an issue...but does wakeLockTime stops the service automatically when the time mentioned is up?... Does it mean that the service will stop after 60 minutes if we left it as default?
I am using Xiaomi Redmi Note 7 to test my app and after some time the service stops and the sticky notification disappears..does this have something to do with this parameter or it's related

[2020-08-24 07:45] mehdok commented on #130
No it doesn't kill the service after that time. `wakeLockTime` just guarantee that the phone will stay awake even when it's screen is off and prevent the phone from deep sleep;

About your problem with Xiaomi phones, we had a similar problem with Huawei phones and other Chinese Roms, They don't respect android laws and terminate the foreground service anytime they want. Sadly we don't have any sol

[2020-08-24 09:35] mehdok commented on #129
@DiegoFHG I just upgraded the flutter to the latest version, then I tried to install the example app and it gave me an error. ‌But this [answer](https://github.com/flutter/flutter/issues/59645#issuecomment-645240371) helped me fix that. After that I ran the example normally and everything seems ok without any crash;

[2020-08-24 11:28] komape commented on #96
Yes, the problem only exists in the emulator. Had no problems with real devices so far.

[2020-08-24 12:59] ahmadkhedr commented on #130
I have searched in the matter and found out that it really from the phone itself after as they say"whitelisted" my app on the device it worked the whole night without stopping the service ..I have stopped the background restriction and the battery optimization for my app manually from the settings.
I have found some links that can provide any help regarding solving this issue programmatically..did

[2020-08-24 18:43] mehdok commented on #130
Thanks, I will investigate those links to see if we can address this issue programmatically;

[2020-08-24 19:04] DiegoFHG commented on #129
Seems that it doesn't crashes on a real Android device. I'll try on the iOS simulator.

[2020-08-26 22:30] HeikkiK opened #131 "database and callback"
I tried to save coordinates into database in callback but I couldn't. When I tried to pass database through initDataCallback as a parameter it just doesn't do anything anymore, just stop doing anything. It freezes... When I try to open database in initCallback it doesn't finish database initialization but jumps out from the initialization code before end.
Everything works well when running from an

[2020-08-27 04:53] mehdok commented on #131
Did you followed [Use other plugins in callback](https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback#use-other-plugins-in-callback) ?

[2020-08-27 06:47] HeikkiK commented on #131
What does that code actually do? Is it used somewhere in example?

[2020-08-27 15:09] mehdok commented on #131
The code just ensure that your plugin is initialized in the background. We used `PathProvider` plugin in the background. You can find the codes in example;

[2020-08-27 15:18] mehdok commented on #129
Closed the issue since the problem is only exists on somulator. Fell free to open it anytime;

[2020-08-27 15:18] #129 closed

[2020-08-27 15:19] mehdok commented on #122
Cosed the issue due to inactivity, feel free to open it anytime;

[2020-08-27 15:19] #122 closed

[2020-08-27 15:20] mehdok commented on #117
Closed the issue due inactivity, feel free to open it anytime;

[2020-08-27 15:20] #117 closed

[2020-08-27 15:20] #114 closed

[2020-08-28 10:38] HeikkiK commented on #131
Do I have to modify that file or just add is as it is? I added it but didn't change my app behavior. Because I have jumped directly from MS world into flutter, not so familiar with android dev yet.
App runs callback when location is changed even when app is not running but when opening database it never completes opening because it jumps out from that method and continues callback code. Anyway, al

[2020-08-28 16:47] HeikkiK commented on #131
So if there is someone who can get sqflite saving works in callback please let me know how.

[2020-08-28 17:31] mehdok commented on #131
All you need to do is to modify the code and change the package name according to your needs. In this case just find the package name of the database library and replace it with the `PathProvider` package name;

[2020-08-28 21:13] HeikkiK commented on #131
ok I finally got it work. Thank you!  👍

[2020-08-28 21:13] #131 closed

[2020-08-29 10:14] HeikkiK commented on #131
btw, I have database open function in initcallback and usually it works ok, but when registerLocationUpdate is just been executed then database isn't yet open when callback already runs and in my case start location isn't saved. Ofcourse I can do code to check that db is open before saving first location etc. But should callback wait that initcallback is executed before it executes?

[2020-08-29 17:25] miguel-cons opened #132 "[Question] Change distance and interval in callback"
Hello, I have a question, it's possible to change the distance and / or the inteval in the callback? For example, suppose that this parameters are received from a database, so the callback method check the database and if any of this parameters have been changed, it update them and restart the process or automatically the BackgroundLocator apply them.

Thanks so much.

P.S. Great plugin, my congra

[2020-08-29 17:41] mehdok commented on #132
Hi Miguel,

Right now we don't have this ability;

[2020-08-29 17:46] miguel-cons commented on #132
Ok, thanks so much.

[2020-08-29 17:46] #132 closed

[2020-08-30 05:58] mehdok commented on #131
Short answer NO, I think it is more convenient to do all of the database operation (include opening and saving ....) in the `callback` function; `callback` is a separate piece of code that would be executed every time;

[2020-09-03 18:41] fre391 opened #133 "Stop on App Terminate"
I try to implement a feature to stop the location Updates when the app exits. When using the following changes and retarting the app I get the following error:

android.app.RemoteServiceException: Context.startForegroundService() did not then call Service.startForeground(): ServiceRecord{fd28c5b u0 com.example.background_locator_example/rekab.app.background_locator.IsolateHolderService}

<service

[2020-09-04 07:42] mehdok commented on #133
Hi @fre391,
Thanks for opening an issue!
Please answer following questions:

- How did you restart the app?
- Did you test with example app? If not please share some code.
- How did you terminate the app?
- Any extra info and log would help a lot.

[2020-09-04 08:11] lexririmike commented on #133
Hi @fre391 and @mehdok,

I faced the same issue.
My app ran for 3 days straight and suddenly stopped working.
On checking the log, I got the above message but after running adb logcat on rekab.app.background_locator. I got the following error.  `Unable to start receiver rekab.app.background_locator.BootBroadcastReceiver: kotlin.TypeCastException: null cannot be cast to non-null type kotlin.collect

[2020-09-04 09:03] fre391 commented on #133
Hey,

no for me its. different scenario. In general I would like to achieve, that the location service will run as long as the app is running (in foreground but also in background), but I would like to stop the services, when the user exits the app (when swiping out from the task manager). As log as the user will stop the service before exit the app, everything is working expected. The problem occ

[2020-09-05 09:25] madatr opened #134 "Test app & implementation crash on stop"
Hi,
Firstly, thank you for developing and maintaining such a useful app.
I have implemented your app within mine, sometimes when trying to stop the location service (onStop()) the application crashes, it is more noticeable/recreatable when the location update interval is shorter.

I thought the the issue is from my implementation, but testing the example app results in the same error, to recreate

[2020-09-05 09:51] fre391 commented on #133
I found a workaround for this issue as follows:

[code]

Well, I know, its **not** the perfect solution, but at least this can handle the situation from outside the plugin.
The situation is, that the service is not stopped, when the app exits. Also dispose() is not called.

With the WidgetsBindingObserver the AppLifecycleState will be monitored. The issue here is, that didChangeAppLifecycleState w

[2020-09-06 11:05] madatr commented on #134
Ok, i have fixed it.
The issue is related to the notification update part, it seems that even after calling onStop() the isolate keeps continues the current run or at least that's what i believe because the crash has a delay.

I tracked the path of the program up until the crash and it leads to the update notification part (updateUI()).

I am not entirely sure which code fixed it because i've adde

[2020-09-07 04:40] mehdok commented on #134
Hi @madatr
Thank you for opening an issue and thank you for answering it :).
Please close the issue if it is solved;

[2020-09-08 05:45] mehdok commented on #133
@fre391 Thank you for finding a workaround for this problem; I will try to fix this on Plugin side;

[2020-09-08 08:24] mehdok commented on #111
@fnicastri @zy693415
Hello guys,
It would be nice if you could test that branch to see if everything is right or not;

[2020-09-08 21:52] madatr commented on #134
No worries ;)

[2020-09-08 21:52] #134 closed

[2020-09-10 09:33] fnicastri commented on #111
@mehdok
I think I'll have the time next week.

Thanks!

[2020-09-10 13:05] ovaldi commented on #133
Same issue +1

[2020-09-10 16:49] HeikkiK opened #136 "Does background service work after phone restart anymore?"
Backround service autostart doesn't seem to work anymore... I am quite sure that it has worked before.
I have tried to check parameters but couldn't found any mistakes there.

[2020-09-10 19:11] uzenith360 commented on #136
Having same issue here...

[2020-09-11 05:11] mehdok commented on #94
Hi @Puspharaj
Thank you for opening an issue, and sorry for answering late, I'll investigate the problem.

[2020-09-11 05:13] mehdok commented on #99
Hi @juanlabrador
Thank you for opening an issue.
related issue: #94 #99

I'll investigate the problem;

[2020-09-11 05:15] mehdok commented on #136
Hi @HeikkiK
Thank you for opening an issue.
related issue: #94 #99

I'll investigate the problem;

[2020-09-15 09:00] ndhbr opened #138 "Android only returns every few minutes"
Hello,

thanks for the plugin.

I wanted to ask if it is normal that when the Android version is running in the background it sends a location only every few minutes? I have attached a screenshot. If I keep the emulator open everything works perfectly. If I turn off the screen from the emulator and wait for a while I see that only every few minutes a location is requested.

So I cannot deliver the

[2020-09-15 10:32] mehdok commented on #138
Hi @ndhbr
Thank you for opening an issue.

Short answer No it's not normal.

I wouldn't surprise if you had this problem on iOS. But in Android sending location data in every `interval` should be guaranteed.

1. What is your `interval` in Plugin Setting ?
2. Does this happens only when app is in background?
3. Does sending location data getting delayed from the moment you put app in background or

[2020-09-15 12:24] ndhbr commented on #138
I thought so too, but with iOS it works fine.

I set the interval to 3.

Yes, in the foreground it works as desired.

When I minimize the app or turn off the screen the location still works normally for a while. I see in the output that it still gets about 50-60 locations.

From then on the output does not output anything. And then it doesn't output anything anymore. As soon as I go back into the

[2020-09-15 12:55] gpibarra commented on #138
"UpdateUI", does it mean that you are receiving the location in callbackBackground and sending it to the mainApp in foreground through the port?

[2020-09-15 12:57] ndhbr commented on #138
Yes, I do it like in the example project

[code]

[2020-09-15 13:30] umbertogrimaldi opened #139 "Position callback called twice on iOS"
Hi,
I'm having issues since on iOS position callback is called twice while on android is working perfectly!
Is there any way to solve this?

Thanks in advance!

[2020-09-15 13:39] afung2468 opened #140 "Returned data to include accuracy"
This package returns latitude and longitude. Can you include accuracy in the data returned? For example, if the accuracy is +/- 1000 meters then accuracy should be 1000. This should help to filter out the "spikes".

[2020-09-15 13:49] mehdok commented on #140
Hi @afung2468
Thank you for opening an issue.

I believe we have [accuracy](https://github.com/rekab-app/background_locator/blob/e98e292881a35b248891dce3ebbe64194b70c836/lib/location_dto.dart#L8) in the data model;

[2020-09-15 13:52] mehdok commented on #139
Hi @umbertogrimaldi
Thank you for opening an issue.

Please provide more information, codes, logs and anything you think that would help finding the issue;

[2020-09-15 14:01] ndhbr commented on #138
I'll try it out.

That was not my intention either. This is now my callback-function.

[code]

I thought that the port.listen(...) function is only called when the application is in the foreground.

[2020-09-15 14:16] umbertogrimaldi commented on #139
Taken from your setup docs
THIS IS CALLED TWICE
`static void callback(LocationDto locationDto) async {
    final SendPort send = IsolateNameServer.lookupPortByName(_isolateName);
    send?.send(locationDto);
  }`

[2020-09-15 14:18] ndhbr commented on #138
I have now tested this. The logging in the callback function stops at the same time as the logging of the port.listen(..) function in the UI.

[2020-09-15 16:22] ndhbr commented on #138
Soooo. After long debugging and reading hex dumps I know what it is. The callback stops extending the file at some point. But I have absolutely no idea what the reason is. Does Android have a limit that says "stop writing to the file so often"?

I have attached a log example. The logs come from the callback. The first and last data were in the file, nothing in between. All others were skipped.

[c

[2020-09-16 04:40] umer4211 opened #141 "Crash after restart"
i have stop service when i restart the device app is crashed

[2020-09-16 13:42] afung2468 commented on #140
Thanks for the quick reply. The accuracy data helps a lot in determining if the location reading is useful. Thanks.

[2020-09-16 14:23] gpibarra commented on #141
Thank you for opening an issue.
related issue: [https://github.com/rekab-app/background_locator/issues/94](https://github.com/rekab-app/background_locator/issues/94)
 [https://github.com/rekab-app/background_locator/issues/99
](https://github.com/rekab-app/background_locator/issues/99
)

[2020-09-17 05:36] jeancarlos2020 opened #142 "Donate"
Existe un problema el proceso muere a los 3 minutos de iniciar en background, lo he probado semanas en terrenos difíciles Ecuador,Manabi.
Ojala en futuras próximas se mejores
quiera aportar con una donación cual es tu paypal ?

[2020-09-17 05:47] jeancarlos2020 commented on #130
Añadí un permiso adicionar desde Java  y funciona
https://developer.android.com/reference/android/Manifest.permission.html#REQUEST_IGNORE_BATTERY_OPTIMIZATIONS

[2020-09-17 09:13] ndhbr commented on #138
@mehdok @gpibarra do you have any idea? 🥺

I'm still stuck on the problem that the callback gets the locations, but the file sometime when the app is in the background is only written every few minutes. I tried to implement a temporary buffer that only writes all 10 locations to the file. Does not change anything.

[2020-09-18 18:58] gpibarra commented on #142
Hola @jeancarlos2020, que problema estas teniendo que el proceso muere? Podes darnos mas detalles (tal vez en otra issue),
Te referis a este problema?
[https://github.com/rekab-app/background_locator/issues/130](https://github.com/rekab-app/background_locator/issues/130)

Con respecto a Paypal, veremos que dice @mehdok que creo todo la librería.

[2020-09-19 07:36] ndhbr commented on #138
Even if you are obviously not interested: The Example App does not work either and has the same problem. So the plugin is simply unusable.

![image](https://user-images.githubusercontent.com/13482230/93661845-7cbdc180-fa5b-11ea-9c07-197aaacb668e.png)

[2020-09-20 19:09] jeancarlos2020 commented on #142
Hemos probado la actualización 1.2.2+1 esta genial gracias..!, Aun persiste el problema de Acuracy en ciudad con muchos edificios, calles cerradas (Callejones) montañas o lugares con el nivel del mar bajo pero rodado de montañas (Ciudad de Portoviejo)  encontramos una pequeña solución

https://developer.android.com/reference/android/location/Criteria
https://medium.com/@victor.garibayy/obteniendo-

[2020-09-21 04:55] umer4211 opened #143 "Update Location"
updateLocation method is not calling when app is killed. I want to update location to api but location is updating only when app is running, after killing app it is not updating to api.

[2020-09-21 06:04] #140 closed

[2020-09-21 06:09] mehdok commented on #138
Hi @ndhbr,
And thank you for your patient .

You should know that  me and other contributors  here have a daily job to do and even a life to live. So it is normal that answering or fixing a problem gets delayed. We even had issue which is fixed 2 month after reporting.

On the other hand, the licence  of the library explicitly says you can use the plugin freely, you can distribute it freely, you c

[2020-09-21 12:37] DomingoMG commented on #94
The same problem

[2020-09-21 13:37] gpibarra commented on #143
Please could you give us more details?
Android or Ios? OS version? emulator or physical device? Code example? Logs?

[2020-09-21 14:27] saravananmnm opened #144 "Unhandled Exception: NoSuchMethodError: The method 'toRawHandle' was called on null."
E/flutter (14319): [ERROR:flutter/lib/ui/ui_dart_state.cc(166)] Unhandled Exception: NoSuchMethodError: The method 'toRawHandle' was called on null.
E/flutter (14319): Receiver: null
E/flutter (14319): Tried calling: toRawHandle()
E/flutter (14319): #0      Object.noSuchMethod (dart:core-patch/object_patch.dart:51:5)
E/flutter (14319): #1      SettingsUtil._getCommonArgumentsMap (package:backgroun

[2020-09-21 20:19] francipvb opened #145 "Register and unregister futures never complete"
Hello,

I've found an issue with the plugin.

The issue is that the register and unregister static methods never complete the returned futures. Please check this [repo](https://github.com/francipvb/background_location_test/tree/never-completes-demo).

Cheers,

[2020-09-22 01:26] ovaldi opened #146 "restart iOS app after a few hours, the position callback does NOT work"
Hi,
  I'm having issue on iOS position callback. (PS: android is working perfectly)

Reproduce steps:
1. start iOS app, the position callback works well
2. manual kill the iOS app
3. after a few hours, i check my database, there are some location update records
4. restart the app again, the position callback does **NOT** work anymore
4. manual kill the iOS app & restart app immediately, the positi

[2020-09-22 08:09] ndhbr commented on #138
I understand that you cannot invest endless time in this project. A small confirmation that you will look at it sometime would have been good anyway.

I urgently need this for a product, so I switched to the paid version of Transistorsoft.

[2020-09-22 08:09] #138 closed

[2020-09-22 18:03] HeikkiK commented on #74
I don't know is my problem same issue what written here but when I am watching my app, location is jumping all the time and there may be spikes which may be kilometers long no matter is my app in foreground or is it running in background. I am using latest version and accuracy is Navigation (in android). At the same time when checking route from Google Maps Timeline, route looks quite nice there.

[2020-09-23 16:00] tranice commented on #43
the issue is still exist, I use emulator  to test it , when  accuracy is  LocationAccuracy.NAVIGATION eveything going well ,but others , can not receive data.

[2020-09-28 12:47] vicenterusso opened #147 "BackgroundLocator"
Why there are 2 different BackgroundLocator?

The one downloaded via dependencies is not the one in this repo

I'm having this error:

[code]

[2020-09-28 12:54] vicenterusso commented on #147
It seems that using `background_locator:` without versioning is not matching the latest version

[2020-09-28 12:54] #147 closed

[2020-09-28 18:34] ludesert opened #148 "Update fix interval from callback"
Is it possible to update the location fix interval FROM the callback function ?

As an example, if I get an update every 1 hour and then if this location matches some properties (example : the phone is 1 km away from let's say my house), then I want to get an update every 30 seconds for other purposes.

How could this be done ? Thanks

[2020-09-29 05:39] mehdok commented on #148
HI @ludesert
Thank you for opening an issue;

We don't have this option;
I think a simple stop and start with new options will fix your issue;

[2020-09-29 06:05] mehdok commented on #145
Hi @francipvb
Thank you for opening an issue and providing sample code, I'll investigate it;

[2020-09-29 06:06] mehdok commented on #146
Hi @ovaldi
Thank you for opening an issue;

Right now  I don't have enough time to check this problem, But I will check it as soon as possible;

[2020-09-29 06:07] mehdok commented on #144
Hi @saravananmnm
Thank you for opening an issue;

It would be nice if you could provide some code;

[2020-09-29 06:11] mehdok commented on #142
HI @jeancarlos2020
Thank you for your patient.

Sadly I can only understand English, I can translate your question with google but it may miss some important information;
So it would be nice of you if you could post your question in English;

[2020-09-29 10:19] nambv commented on #89
@mehdok I have exactly the same crash:

[code]

[2020-09-29 10:29] nambv commented on #89
I found the stackoverflow issue with this crash:

https://stackoverflow.com/questions/52519946/java-lang-illegalargumentexception-given-work-is-not-active-exception-in-oreo-w

[2020-09-29 12:22] mehdok commented on #89
Thank you @nambv, I'll look into it;

[2020-09-29 18:18] sukitz opened #149 "IOS BackgroundLocator.initialize crash on release mode"
My app suddenly shut down when run BackgroundLocator.initialize();.

AppDelegate.swiff
[code]

launch_scene.dart
[code]
background_location_service.dart
[code]

![image](https://user-images.githubusercontent.com/26589818/94603080-fbb6c380-02bf-11eb-8696-ca5d184f64eb.png)

[2020-09-29 19:01] HeikkiK opened #150 "Error when trying to update notification text from callback"
Exception has occurred.
MissingPluginException (MissingPluginException(No implementation found for method LocatorPlugin.updateNotification on channel app.rekab/locator_plugin))

Should it be possible to update notification text when app is closed? Tested in android emulator and phone.

[2020-09-29 20:21] neelayak commented on #107
Hey i am getting this error in the release build
`Caused by java.lang.IllegalArgumentException
Given work is not active: JobWorkItem{id=1 intent=Intent { flg=0x10 cmp=com.familytrack.angelsos/rekab.app.background_locator.LocatorBroadcastReceiver (has extras) } dcount=1}
android.app.job.JobParameters.completeWork (JobParameters.java:268)
androidx.core.app.JobIntentService$JobServiceEngineImpl$Wrapp

[2020-09-30 03:04] nambv commented on #89
thanks @mehdok , hope it will be fixed soon 😄

[2020-09-30 03:35] adolfdsilva commented on #89
Well I'm not exactly sure how the `JobIntentService` works, but is there a reason the JOB_ID is random?

I changed it to constant value and it's not crashing anymore.

`        private val JOB_ID = 99
`

[2020-09-30 04:31] nambv commented on #89
@mehdok can you take a look at @adolfdsilva's  comment and update the lib version if it is solved? 😄

[2020-09-30 05:09] mehdok commented on #89
@adolfdsilva @nambv
I'm not really sure why I did that at that time. But if it fixes the problem please create a PR and I would be more than happy to merge it;

[2020-09-30 05:15] mehdok commented on #107
@neelayak @ThiagoCortez81
Hi guys, thank you for reporting an issue, and thank you for your patient.

These kind of bug is really hard to find, because I have to run the app for a long time, and I did that several times without any problem. Basically I can not regenerate this issue and without regenerating it there is no way to fix it. So I would be more than happy to hear your ideas about this bu

[2020-09-30 05:17] mehdok commented on #150
Hi @HeikkiK
Thank you for reporting an issue;

Yes, I believe you are trying to update notification text from `callback` function, is that right?

[2020-09-30 05:24] mehdok commented on #149
Hi @sukitz
Thank you for reporting an issue;

Do you have any crash log?

[2020-09-30 06:29] nambv commented on #89
@mehdok in official docs with the example code job id is static, may be @adolfdsilva's solution will fix this issue:

https://developer.android.com/reference/androidx/core/app/JobIntentService

[2020-09-30 07:04] mehdok commented on #89
@nambv Can you test that and confirm it is working?

[2020-09-30 07:49] nambv commented on #89
@mehdok I have forked your repo to modify and test. Will give you the result soon :-?

[2020-09-30 09:59] adolfdsilva commented on #89
@mehdok @nambv I had forked the lib earlier and tested it only on my device, it works fine.
I'm waiting for the update to go live on play store and if I don't see any crashes in firebase, I'll do a PR.

[2020-09-30 10:36] HeikkiK commented on #150
Yes.

[2020-09-30 12:30] mehdok commented on #150
Right now it is not possible to do that, But I think we have an open `PR` about this issue;

[2020-10-03 15:37] steinmetz commented on #107
Hi all,
I am also getting this problem in production and it happens only with Android 10. If I find out what is happening I will report here.

[2020-10-03 18:38] mehdok commented on #107
Hi @mehdok
Thank you for reporting.

Do you have any log, code sample, or any idea? anything would be appreciated;

[2020-10-03 18:51] steinmetz commented on #107
No idea so far... I am wondering if it could be something related to the permission system that has changed on Android 10 and 11.
The only log I got is this, but it is generic and doesn't help so much:
![image](https://user-images.githubusercontent.com/3587083/94999451-cceb6680-05b9-11eb-9e54-f19bbb73a964.png)

I was reading this documentation:
"To support the additional control that users have ov

[2020-10-06 17:11] #149 closed

[2020-10-08 14:12] HeikkiK commented on #150
Any news when update is coming?

[2020-10-08 20:48] ludesert commented on #148
Hi ! I did not think about stopping and starting again the service ... I'll try this ! thanks

[2020-10-09 06:11] mehdok commented on #150
Sadly no, But if you are interested in help you can clone #137 and let me know if it's working for you;

[2020-10-10 14:35] newbieflutter opened #151 "Battery usage details and gps settings permission by default"
Hi,
    You have created a great plugin. Just some minor issue now what happens is that I on my app then I remove it from the memory meaning it goes to the background it keep working for some time. Then the phone is gone to sleep meaning the screen is off. Then say after 15 minutes I check no more updates. Then what I did was I choose the battery usage details and set is to be power-intensive prom

[2020-10-11 06:22] mehdok commented on #151
Hi @newbieflutter
Thank you for opening an issue;

I don't think what you want is possible, but nothing is impossible in this world:) I would be more than happy to hear from you if you found any programmatic solution for this;

[2020-10-13 12:44] Wian-TMC opened #152 "App crash : java.lang.RuntimeException"
The error occurred on Android 5.1 (SDK 22)

The crash occurs when starting the app. The logs show the following:

[code]

[2020-10-15 04:04] smolugu opened #153 "Can this plugin be used in production apps?"
Hi,

we need to fetch user location when the app is in the background. just to know the current location, nothing more.
Can this plugin be used in production apps?

Regards,
Shyam

[2020-10-15 06:14] mehdok commented on #153
Hi @smolugu
Thank you for opening an issue.

I'm not sure what is your question :)

What do you mean by "nothing more"? Do you just want *one* location? then you can start the plugin get your location and stop it;

[2020-10-15 09:11] smolugu commented on #153
Hi, this is not an issue. I just need clarification.

We need to listen to location changes in the background and update our database every 5 to 10 minutes.

Just want to know if this plugin can be used in production for my use case and if there are any limitations. I see people reporting issues like app crashing upon restart etc.,

Thank you,
Shyam

[2020-10-15 09:38] mehdok commented on #153
We are using this plugin within our app **REKAB** without any specific problem. But as you saw some people have crashes and other problems with the plugin. I will try to address all of them but my timetable is very limited. So as the license says you can use this plugin where ever you want, but there is no guarantee. If you want something with guarantee and support you can use *Transistor software

[2020-10-15 10:55] smolugu commented on #153
ok. Thank you for your inputs. We will try this plugin and see how things go and then go with the Transistor software plugin if needed.

[2020-10-15 10:57] mehdok commented on #153
Please share you experience after that, I would be more than happy to hear from you;

[2020-10-15 12:05] smolugu commented on #153
Sure.

I am getting an error during the setup. can you please help?

<img width="639" alt="Screen Shot 2020-10-15 at 5 32 48 PM" src="https://user-images.githubusercontent.com/8217755/96120808-becc0d00-0f0c-11eb-94ed-a83ff43f36b2.png">

[2020-10-15 12:24] mehdok commented on #153
This is related to Xcode profiling, as the error says connect an iOS device and let Xcode do what he want;

[2020-10-15 14:49] BabC opened #154 "Example app stops after 5 minutes"
Hello !

Thanks in advance for your work =)
It seems like your example app is working well, except that the service stops after 5 minutes.
I don't have any new logs in the app nor in the console log.

[code]

![image](https://user-images.githubusercontent.com/12248259/96146227-5c700e00-0f06-11eb-869b-30a525788101.png)

Any idea on why this happens ?

Thx !

[2020-10-16 06:33] mehdok commented on #154
Hi @BabC
Thank you for opening an issue;

Do you still can see the **notification**?
**If not** please disable any battery monitor or other similar services;
**If yes** we can continue this conversation to find the problem;

[2020-10-17 06:44] Hisagar opened #155 "not working in ios"
app crashed at BackgroundLocator.initialize();
but working in android

[2020-10-17 08:49] pkuzco opened #156 "Is the locator service auto-restarted on iOS after reboot?"

[2020-10-17 15:21] TomasWeg commented on #144
@mehdok here i got the same error

[2020-10-17 20:07] TomasWeg commented on #144
@mehdok
Here is MY code:
[code]

[2020-10-18 10:03] smolugu opened #157 "app is crashing at start of app using flutter run"
Hi,

The app is crashing at app start. getting below error:
if I remove the plugin the app starts fine without any errors.
can you please let me know if I am doing anything wrong?

error:
`Xcode build done.                                           349.3s
Connecting to the VM Service is taking longer than expected...
Still attempting to connect to the VM Service...
If you do NOT see the Flutter ap

[2020-10-18 10:04] smolugu commented on #153
hi.. I am closing this. have created a new issue. please look into it.

Thank you,
Shyam

[2020-10-18 10:04] #153 closed

[2020-10-19 15:38] shaunramsey opened #158 "iOS other plugins in callback fail?"
The code provided here: https://github.com/rekab-app/background_locator/wiki/Use-other-plugins-in-callback

I'm trying to link in a background locator using cloud_firestore. The app uses firestore in many other locations.

On iOS only, after initPlatformState (BackgroundLocator.initialize in specific), my future firestore queries get hung in Waiting connection state.

There are no visible errors o

[2020-10-21 07:17] smolugu commented on #157
I am also getting the same error on iOS if i use the flutter_workmanager.

both workmanager and background_locator works fine on Android.

Something to do with firebase or Xcode.. can't seem to figure it out.

Really need help on this..

[2020-10-21 07:21] smolugu commented on #153
@mehdok hi, the plugin works fine on Android.

but getting this error on iOS

`Exception attempting to connect to the VM Service: SocketException: OS Error: Connection refused, errno = 61, address = 127.0.0.1, port = 50940`

have tried workmanager plugin too. it works on android but gives same error on iOS.

Some thing to do with settings in AppDelegate.swift file.

really need to fix this at the

[2020-10-21 07:59] mehdok commented on #157
Hi @smolugu
Thank you for opening an issue, please provide a working repository, So I can check it out;

[2020-10-22 02:47] Jparrgam opened #159 "RuntimeException"
hi bro @mehdok  I have the following error in my application could you help me

`Caused by java.lang.IllegalStateException: FlutterCallbackInformati…formation(callbackHandle) must not be null
       at ..backgroundlocator.LocatorService.startLocatorService(LocatorService.kt:90)
       at ...backgroundlocator.LocatorService.onCreate(LocatorService.kt:71)
       at android.app.ActivityThread.handleC

[2020-10-22 12:59] WilliamFB commented on #152
I got a similar error:
It occurred on Android 10 (SDK 29), Android 9 (SDK 28), Android 6.0 (SDK 23) and Android 5.1 (SDK 22).
[code]
It was happening on the device restart. I edited the line where the error was occuring (BackgroundLocatorPlugin.kt:114) to:
[code]
It seems to be working but i am not sure if it can show other consequences. I will make a pull-request for this one.

[2020-10-22 13:11] Wian-TMC commented on #152
@WilliamFB
Awesome! Let's hope it won't cause other issues

[2020-10-24 14:07] saravananmnm opened #161 "Android application crashed :FATAL EXCEPTION: main"
java.lang.RuntimeException: Unable to create service rekab.app.background_locator.LocatorService: java.lang.IllegalStateException: Plugin key io.flutter.plugins.firebasemessaging.FirebaseMessagingPlugin is already in use
E/AndroidRuntime(11250): 	at android.app.ActivityThread.handleCreateService(ActivityThread.java:3965)
E/AndroidRuntime(11250): 	at android.app.ActivityThread.access$1500(ActivityT

[2020-10-24 14:38] saravananmnm commented on #161
`

import com.transistorsoft.flutter.backgroundfetch.BackgroundFetchPlugin;
import io.flutter.app.FlutterApplication;
import io.flutter.plugin.common.PluginRegistry;
import io.flutter.plugins.firebasemessaging.FlutterFirebaseMessagingService;
import io.flutter.plugins.firebasemessaging.FirebaseMessagingPlugin;
import com.dexterous.flutterlocalnotifications.FlutterLocalNotificationsPlugin;
import i

[2020-10-28 21:10] Jparrgam commented on #129
Hi, @mehdok @gpibarra Do you have any idea of this crash, it is happening to me and I am running on a real device

[2020-10-28 21:12] Jparrgam commented on #129
@DiegoFHG hey bro, sabes como ajustarlo, tengo muchos bugs sobre esto si sabes algo por fa seria de gran ayuda

[2020-10-29 05:57] mehdok commented on #129
Hi @Jparrgam

What is your flutter version?

[2020-10-29 15:53] Jparrgam commented on #129
@mehdok

`Flutter 1.20.1 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 2ae34518b8 (3 months ago) • 2020-08-05 19:53:19 -0700
Engine • revision c8e3b94853
Tools • Dart 2.9.0
`

[2020-11-02 03:02] joranmulderij commented on #133
![Screenshot](https://user-images.githubusercontent.com/66296620/97825513-addb1400-1ce0-11eb-88c8-8c9d1a3af07e.png)
This is a screenshot of a stack-trace from firebase crashlytics.
I'm pretty sure its this issue.
Hopefully it helps.

    rekab.app.background_locator.BackgroundLocatorPlugin$Companion.access$initializeService (BackgroundLocatorPlugin.java)
    rekab.app.background_locator.Background

[2020-11-02 14:53] moovida opened #162 "FAILURE: Build failed with an exception."
Since today I am no longer able to build my app due to the following issue with the background_locator plugin.
I am a bit puzzeled, is anyone else experiencing this?

[code]

[2020-11-05 08:59] moovida commented on #162
Ok, took me a while. For reference, this can be solved by changing the gradle version as shown in PR #163

[2020-11-05 08:59] #162 closed

[2020-11-16 18:55] stingrayx commented on #43
Hello,

I'm not sure if this is related, but today I figured out that when the "Google Location Accuracy" setting is set OFF on my Android phone, the location callback is not called at all. Even if LocationAccuracy was set to NAVIGATION.

Devise is an Android 10 based Moto G7 Play.

[2020-11-17 09:29] slemankfa opened #164 "GPS Consideration!"
Hi ^^.
it's a question more than an issue.
in my case, I send location data to my server. the package is working fine when I use (LocationAccuracy.NAVIGATION)  and the GPS is turned on but it seems the callback is stopped and bind when the pgs is off, which is normal as I understand.

To be more specific, my question is can I do anything to retrieve empty data, for instance, latitude = 0, longitud

[2020-11-17 13:22] mehdok commented on #164
Hi @slemankfa
Thank you for opening an issue.

I don't think that there is any way to do that inside the plugin. If you really need this feature you can listen to GPS status (via another plugin) and when it went off you can start a timer and send empty data to server.

[2020-11-17 13:51] slemankfa commented on #164
Hi @mehdok
Thank you for your replay.
The Idea is the callback method never called when the GPS is off.
is there any way to call it even if the GPS  is off!!
I already forked the package and clone it and I have been tracking it since almost an hour to understand how it's done and another issue that I don't have any clue almost with Kotlin.

Do you have any suggestions would help me !!

[2020-11-17 14:08] mehdok commented on #164
The plugin completely depends on the GPS service to call the callback. So when the GPS is off there wouldn't be any new location and the callback won't get call at all.

As you can see [here](https://github.com/rekab-app/background_locator/blob/e98e292881a35b248891dce3ebbe64194b70c836/android/src/main/kotlin/rekab/app/background_locator/BackgroundLocatorPlugin.kt#L118) I just register for new loca

[2020-11-17 14:17] slemankfa commented on #164
I got it.
Thanks for your explanation everything is clear for me now.
about your suggestion in the first replay, I can't do another sticky foreground service I think it's out of the box for me when the app is closed.
however, I will keep looking for a solution.
thanks again for this work I hope you will put this feature in your consideration in the near future ^^.

[2020-11-17 14:23] mehdok commented on #164
It would be nice to have this feature in the plugin, I look forward to hear from you if you found any solution.

[2020-11-17 14:26] slemankfa commented on #164
I strongly believe, it will be a great feature too.

I will do my best and notify you if I get any update as soon as possible.
Cheers!

[2020-11-20 10:42] Shub-29 commented on #158
so the default plugin is working in ios without using cloud firestore?

[2020-11-20 18:34] bhanuka96 commented on #155
I got this error on ios

`2020-11-21 00:00:47.396591+0530 Runner[8280:2664852] LOCATION UPDATE FAILURE:Error reason: (null)Error description: The operation couldn’t be completed. (kCLErrorDomain error 1.)`

[2020-11-21 02:55] tanvish99 opened #165 "FCM is not working when background locator is running in background"
When background locator service is started my app stops receiving notifications and as soon as the background locator is stopped after some time the notifications are started to receive.

[2020-11-21 02:59] tanvish99 commented on #165
It throws this error
W/FirebaseInstanceId(12011): Service took too long to process intent: com.google.android.c2dm.intent.RECEIVE App may get closed.

[2020-11-21 16:55] Jonas-C commented on #144
Without being 100% sure, I believe that this is caused by passing in a non-static function to `BackgroundLocator.registerLocationUpdate`. `PluginUtilities.getCallbackHandle` expects a top-level or static function, and will return null if served something else.

In your case, I'd assume that you'd need to make your `initCallback` function static, and possibly even the callback itself if it's not al

[2020-11-23 04:17] bhanuka96 opened #166 "IOS not working"
Android is working fine. ios not working. Is it possible to fix it or do you guys working on it.

**Error** - This error is coming every second

[code]

**Service class**

[code]

**on InitState**

[code]

**Start Service on Inactive mode**

[code]

Other functions and methods are the same as `example`

**Flutter doctor**

[code]

[2020-11-23 06:39] mehdok commented on #166
HI @bhanuka96

Thank you for opening an issue;

Please share some code;

[2020-11-23 07:06] bhanuka96 commented on #166
@mehdok please check now

[2020-11-23 07:27] mehdok commented on #166
Good, as far as I can see there is nothing wrong with the code;
Please answer these questions:

1) Did you did the setup process for iOS?
2) Did you give him the right permission?
3) Are you running on real device or simulator?
4) Is the example app is running fine for you?
5) Do you get any error beside the one you specified? anything could help. (please run the app with Xcode to see extra logs)

[2020-11-23 12:14] bhanuka96 commented on #166
1) yes, I follow this https://github.com/rekab-app/background_locator/wiki/Setup

2) added above permissions to my app

3) real Device (iPhone xs)

4)example app cannot open in Xcode

5) I got the below error on the console after minimizing the app

[code]

[2020-11-24 03:33] bhanuka96 commented on #166
@mehdok Do you have any solution for this issue?

[2020-11-24 06:29] mehdok commented on #166
There is not any straight solution with this kind of problems, I just can suggest thing to narrow down the problem and may be finally we can find something for the problem.

- Did you gave `always` permission? app won't work in background if you give it `whenInUse` permission;
- Please try to run your app on the simulator to see if the problem still exist;
- Please run the example app to see if yo

[2020-11-24 06:53] bhanuka96 commented on #166
@mehdok Okay I will try and let you know. btw example app is not open on xcode. I think some files are mission in example/ios

[2020-11-24 07:01] mehdok commented on #166
Can you tell me the exact error you are getting when trying to open example app?

[2020-11-24 07:23] bhanuka96 commented on #166
`example app`, please check this https://drive.google.com/file/d/1FQHbz2tEzbuEXwSo9-MFKz87JIwjVUXP/view?usp=sharing

[2020-11-24 08:59] bhanuka96 commented on #166
Previously, I start service in `inactive` state.
[code]
That's the problem. I just start service onTap event. now it's working fine.

Did you have time to check example video? What is the problem? I decided to use this plugin on our production app. Is it okay?

[2020-11-26 06:20] mehdok commented on #166
Sorry for the delay, Yes I check the video, but the video without any logs is useless;
About you production app, we use it in our app, REKAB, without any problem. But it is a open source plugin without any warrantee or support, so use it at your own risk;

        { _bls.startLocationService();

And if this was your problem and it is fixed, please close the issue;

[2020-11-26 06:33] bhanuka96 commented on #166
@mehdok Thanks for the reply. We decided to use your plugin for our taxi app(driver app).

[2020-11-26 06:33] #166 closed

[2020-11-26 07:15] mehdok commented on #166
Hope it works for you, Please reach out if you had any other problem.

[2020-11-26 09:54] zy693415 commented on #111
@mehdok
Thank you. I will test it sometime later. I wrote a corresponding plug-in for Android and have solved this problem.
In addition, in order to find the background positioning of ios terminal, the time interval setting is invalid and the positioning has been continuously, which consumes a lot of power.

[2020-11-26 17:20] bhanuka96 commented on #158
same issue

[2020-11-26 18:57] bhanuka96 commented on #158
@mehdok Firebase firestore stream data is not listening. (data not return).

Firestore stream is working after removing these two

`await BackgroundLocator.initialize();`
`IsolateNameServer.registerPortWithName(port.sendPort, LocationServiceRepository.isolateName);`